<section class="sptb position-relative pattern">
 <div class="container">
  <div class="section-title center-block text-center">
   <h2 class="text-white position-relative">
    Best Testimonials
   </h2>
   <p class="text-white position-relative">
    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
   </p>
  </div>
  <div class="row">
   <div class="col-md-12">
    <div class="owl-carousel testimonial-owl-carousel" id="myCarousel">
     <div class="item text-center">
      <div class="row">
       <div class="col-xl-8 col-md-12 d-block mx-auto">
        <div class="testimonia">
         <div class="owl-controls clickable">
          <div class="owl-pagination">
           <div class="owl-page active">
            <span class="">
            </span>
           </div>
           <div class="owl-page">
            <span class="">
            </span>
           </div>
           <div class="owl-page">
            <span class="">
            </span>
           </div>
          </div>
         </div>
         <h3 class="title">
          Elizabeth
         </h3>
         <span class="post">
          Web Developer
         </span>
         <div class="rating-stars mb-3">
          <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="4"/>
          <div class="rating-stars-container">
           <div class="rating-star sm is--active">
            <i class="fa fa-star">
            </i>
           </div>
           <div class="rating-star sm is--active">
            <i class="fa fa-star">
            </i>
           </div>
           <div class="rating-star sm is--active">
            <i class="fa fa-star">
            </i>
           </div>
           <div class="rating-star sm">
            <i class="fa fa-star">
            </i>
           </div>
           <div class="rating-star sm">
            <i class="fa fa-star">
            </i>
           </div>
          </div>
         </div>
         <p class="text-white-80">
          <i class="fa fa-quote-left text-white-80">
          </i>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
         </p>
        </div>
        <a class="btn ripple btn-secondary btn-lg" href="testimonial.html">
         View all Testimonials
        </a>
       </div>
      </div>
     </div>
     <div class="item text-center">
      <div class="row">
       <div class="col-xl-8 col-md-12 d-block mx-auto">
        <div class="testimonia">
         <div class="owl-controls clickable">
          <div class="owl-pagination">
           <div class="owl-page">
            <span class="">
            </span>
           </div>
           <div class="owl-page active">
            <span class="">
            </span>
           </div>
           <div class="owl-page">
            <span class="">
            </span>
           </div>
          </div>
         </div>
         <div class="testimonia-data">
          <h3 class="title">
           williamson
          </h3>
          <span class="post">
           Web Developer
          </span>
          <div class="rating-stars mb-3">
           <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="3"/>
           <div class="rating-stars-container">
            <div class="rating-star sm">
             <i class="fa fa-star">
             </i>
            </div>
            <div class="rating-star sm">
             <i class="fa fa-star">
             </i>
            </div>
            <div class="rating-star sm">
             <i class="fa fa-star">
             </i>
            </div>
            <div class="rating-star sm">
             <i class="fa fa-star">
             </i>
            </div>
            <div class="rating-star sm">
             <i class="fa fa-star">
             </i>
            </div>
           </div>
          </div>
         </div>
         <p class="text-white-80">
          <i class="fa fa-quote-left">
          </i>
          But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
         </p>
        </div>
        <a class="btn ripple btn-secondary btn-lg" href="testimonial.html">
         View all Testimonials
        </a>
       </div>
      </div>
     </div>
     <div class="item text-center">
      <div class="row">
       <div class="col-xl-8 col-md-12 d-block mx-auto">
        <div class="testimonia">
         <div class="owl-controls clickable">
          <div class="owl-pagination">
           <div class="owl-page">
            <span class="">
            </span>
           </div>
           <div class="owl-page">
            <span class="">
            </span>
           </div>
           <div class="owl-page active">
            <span class="">
            </span>
           </div>
          </div>
         </div>
         <div class="testimonia-data">
          <h3 class="title">
           Sophie Carr
          </h3>
          <span class="post">
           Web Developer
          </span>
          <div class="rating-stars mb-3">
           <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="3"/>
           <div class="rating-stars-container">
            <div class="rating-star sm">
             <i class="fa fa-star">
             </i>
            </div>
            <div class="rating-star sm">
             <i class="fa fa-star">
             </i>
            </div>
            <div class="rating-star sm">
             <i class="fa fa-star">
             </i>
            </div>
            <div class="rating-star sm">
             <i class="fa fa-star">
             </i>
            </div>
            <div class="rating-star sm">
             <i class="fa fa-star">
             </i>
            </div>
           </div>
          </div>
         </div>
         <p class="text-white-80">
          <i class="fa fa-quote-left">
          </i>
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
         </p>
        </div>
        <a class="btn ripple btn-secondary btn-lg" href="testimonial.html">
         View all Testimonials
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
