<section class="categories">
 <div class="container">
  <div class="row">
   <div class="col-xl-12 col-lg-12 col-md-12 d-block mx-auto">
    <div class="card mb-0 box-shadow">
     <div class="card-body">
      <div class="row row-sm">
       <div class="col-3 col-md-2 col-lg-1">
        <a class="software-cat" data-placement="top" data-toggle="tooltip" href="#" title="HTML">
         <img alt="img" class="html-bg br-3" src="../../assets/images/png/softwares/1.png"/>
        </a>
       </div>
       <div class="col-3 col-md-2 col-lg-1">
        <a class="software-cat" data-placement="top" data-toggle="tooltip" href="#" title="Wordpress">
         <img alt="img" class="wd-bg br-3" src="../../assets/images/png/softwares/2.png"/>
        </a>
       </div>
       <div class="col-3 col-md-2 col-lg-1">
        <a class="software-cat" data-placement="top" data-toggle="tooltip" href="#" title="Angular">
         <img alt="img" class="ang-bg br-3" src="../../assets/images/png/softwares/3.png"/>
        </a>
       </div>
       <div class="col-3 col-md-2 col-lg-1">
        <a class="software-cat" data-placement="top" data-toggle="tooltip" href="#" title="Photoshop">
         <img alt="img" class="psd-bg br-3" src="../../assets/images/png/softwares/4.png"/>
        </a>
       </div>
       <div class="col-3 col-md-2 col-lg-1">
        <a class="software-cat" data-placement="top" data-toggle="tooltip" href="#" title="PHP">
         <img alt="img" class="br-3 ph-bg" src="../../assets/images/png/softwares/5.png"/>
        </a>
       </div>
       <div class="col-3 col-md-2 col-lg-1">
        <a class="software-cat" data-placement="top" data-toggle="tooltip" href="#" title="React">
         <img alt="img" class="re-bg br-3" src="../../assets/images/png/softwares/6.png"/>
        </a>
       </div>
       <div class="col-3 col-md-2 col-lg-1">
        <a class="software-cat" data-placement="top" data-toggle="tooltip" href="#" title="Bootstrap">
         <img alt="img" class="boots-bg br-3" src="../../assets/images/png/softwares/7.png"/>
        </a>
       </div>
       <div class="col-3 col-md-2 col-lg-1">
        <a class="software-cat" data-placement="top" data-toggle="tooltip" href="#" title="Vuejs">
         <img alt="img" class="vue-bg br-3" src="../../assets/images/png/softwares/8.png"/>
        </a>
       </div>
       <div class="col-3 col-md-2 col-lg-1">
        <a class="software-cat" data-placement="top" data-toggle="tooltip" href="#" title="Laravel">
         <img alt="img" class="lar-bg br-3" src="../../assets/images/png/softwares/9.png"/>
        </a>
       </div>
       <div class="col-3 col-md-2 col-lg-1">
        <a class="software-cat" data-placement="top" data-toggle="tooltip" href="#" title="nodejs">
         <img alt="img" class="node-bg br-3" src="../../assets/images/png/softwares/10.png"/>
        </a>
       </div>
       <div class="col-3 col-md-2 col-lg-1">
        <a class="software-cat" data-placement="top" data-toggle="tooltip" href="#" title="Webpack">
         <img alt="img" class="web-bg br-3" src="../../assets/images/png/softwares/11.png"/>
        </a>
       </div>
       <div class="col-3 col-md-2 col-lg-1">
        <a class="software-cat" data-placement="top" data-toggle="tooltip" href="#" title="More">
         <img alt="img" class="bg-primary br-3" src="../../assets/images/png/softwares/12.png"/>
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
