<section>
 <div class="sptb-1">
  <div class="header-text text mb-0">
   <div class="container">
    <div class="row">
     <div class="col-lg-6">
      <div class="text-white mt-xl-9 mb-5 mb-lg-0">
       <h1 class="mb-5 display-4 font-weight-light">
        The
        <span class="font-weight-semibold">
         Best Designs
        </span>
        <br/>
        For Our Marketplace
       </h1>
       <p class="fs-18 mb-4">
        If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
       </p>
       <a class="btn ripple btn-secondary btn-lg mr-2" href="#">
        Browse Now
        <i class="fa fa-chevron-circle-left mr-1 mt-1 fs-13">
        </i>
       </a>
      </div>
     </div>
     <div class="col-lg-6">
      <div class="illustrate-img1">
       <img alt="img" class="" src="../../assets/images/png/banner/1.png"/>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- /header-text -->
 </div>
</section>
