<section class="sptb">
 <div class="container">
  <div class="section-title center-block text-center">
   <h2>
    New Templates
   </h2>
   <p>
    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
   </p>
  </div>
  <div class="row">
   <div class="col-xl-4 col-lg-6 col-md-6">
    <div class="card overflow-hidden">
     <div class="item-card2-tans">
      <div class="item-card7-imgs">
       <a href="page-details.html">
       </a>
       <img alt="img" class="cover-image" src="../../assets/images/media/pictures/1.jpg"/>
       <div class="tag-text">
        <span class="bg-dark-transparent tag-option">
         HTML
        </span>
       </div>
      </div>
      <div class="item-overly-trans">
       <span class="price-tag">
        $15
       </span>
      </div>
      <div class="item-card2-icons">
       <a class="bg-primary" data-placement="top" data-toggle="tooltip" href="#" title="Live Preview">
        <i class="fe fe-airplay">
        </i>
       </a>
       <a class="bg-secondary" data-placement="top" data-toggle="tooltip" href="#" title="Add to Cart">
        <i class="fe fe-shopping-cart">
        </i>
       </a>
       <a class="bg-info" data-placement="top" data-toggle="tooltip" href="#" title="View Details">
        <i class="fe fe-eye">
        </i>
       </a>
      </div>
     </div>
     <div class="card-body">
      <div class="item-card7-desc">
       <div class="">
        <a class="text-dark" href="page-details.html">
         <h4 class="font-weight-semibold">
          HTML Template
         </h4>
        </a>
        <div class="mt-1 fs-13 mb-0">
         by
         <a class="" href="#">
          Emily
         </a>
         by
         <a class="" href="#">
          HTML Templates
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="card-footer">
      <div class="d-flex">
       <div class="mt-1 fs-13">
        <span class="text-muted mr-4">
         <i class="fe fe-download">
         </i>
         36
        </span>
        <span class="text-muted">
         <i class="fe fe-heart">
         </i>
         236
        </span>
       </div>
       <div class="mr-auto">
        <div class="rating-stars d-flex">
         <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="4"/>
         <div class="rating-stars-container ml-2">
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-xl-4 col-lg-6 col-md-6">
    <div class="card overflow-hidden">
     <div class="item-card2-tans">
      <div class="item-card7-imgs">
       <a href="page-details.html">
       </a>
       <img alt="img" class="cover-image" src="../../assets/images/media/pictures/5.jpg"/>
       <div class="tag-text">
        <span class="bg-dark-transparent tag-option">
         Wordpress
        </span>
       </div>
      </div>
      <div class="item-overly-trans">
       <span class="price-tag">
        $21
       </span>
      </div>
      <div class="item-card2-icons">
       <a class="bg-primary" data-placement="top" data-toggle="tooltip" href="#" title="Live Preview">
        <i class="fe fe-airplay">
        </i>
       </a>
       <a class="bg-secondary" data-placement="top" data-toggle="tooltip" href="#" title="Add to Cart">
        <i class="fe fe-shopping-cart">
        </i>
       </a>
       <a class="bg-info" data-placement="top" data-toggle="tooltip" href="#" title="View Details">
        <i class="fe fe-eye">
        </i>
       </a>
      </div>
     </div>
     <div class="card-body">
      <div class="item-card7-desc">
       <div class="">
        <a class="text-dark" href="page-details.html">
         <h4 class="font-weight-semibold">
          Wordpress Template
         </h4>
        </a>
        <div class="mt-1 fs-13 mb-0">
         by
         <a class="" href="#">
          John
         </a>
         by
         <a class="" href="#">
          Wordpress Templates
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="card-footer">
      <div class="d-flex">
       <div class="mt-1 fs-13">
        <span class="text-muted mr-4">
         <i class="fe fe-download">
         </i>
         45
        </span>
        <span class="text-muted">
         <i class="fe fe-heart">
         </i>
         108
        </span>
       </div>
       <div class="mr-auto">
        <div class="rating-stars d-flex">
         <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="3"/>
         <div class="rating-stars-container ml-2">
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-xl-4 col-lg-6 col-md-6">
    <div class="card overflow-hidden">
     <div class="item-card2-tans">
      <div class="item-card7-imgs">
       <a href="page-details.html">
       </a>
       <img alt="img" class="cover-image" src="../../assets/images/media/pictures/8.jpg"/>
       <div class="tag-text">
        <span class="bg-dark-transparent tag-option">
         PHP
        </span>
       </div>
      </div>
      <div class="item-overly-trans">
       <span class="price-tag">
        $22
       </span>
      </div>
      <div class="item-card2-icons">
       <a class="bg-primary" data-placement="top" data-toggle="tooltip" href="#" title="Live Preview">
        <i class="fe fe-airplay">
        </i>
       </a>
       <a class="bg-secondary" data-placement="top" data-toggle="tooltip" href="#" title="Add to Cart">
        <i class="fe fe-shopping-cart">
        </i>
       </a>
       <a class="bg-info" data-placement="top" data-toggle="tooltip" href="#" title="View Details">
        <i class="fe fe-eye">
        </i>
       </a>
      </div>
     </div>
     <div class="card-body">
      <div class="item-card7-desc">
       <div class="">
        <a class="text-dark" href="page-details.html">
         <h4 class="font-weight-semibold">
          PHP Template
         </h4>
        </a>
        <div class="mt-1 fs-13 mb-0">
         by
         <a class="" href="#">
          John
         </a>
         by
         <a class="" href="#">
          PHP Templates
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="card-footer">
      <div class="d-flex">
       <div class="mt-1 fs-13">
        <span class="text-muted mr-4">
         <i class="fe fe-download">
         </i>
         25
        </span>
        <span class="text-muted">
         <i class="fe fe-heart">
         </i>
         124
        </span>
       </div>
       <div class="mr-auto">
        <div class="rating-stars d-flex">
         <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="3"/>
         <div class="rating-stars-container ml-2">
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-xl-4 col-lg-6 col-md-6">
    <div class="card overflow-hidden mb-xl-0">
     <div class="item-card2-tans">
      <div class="item-card7-imgs">
       <a href="page-details.html">
       </a>
       <img alt="img" class="cover-image" src="../../assets/images/media/pictures/3.jpg"/>
       <div class="tag-text">
        <span class="bg-dark-transparent tag-option">
         Angular
        </span>
       </div>
      </div>
      <div class="item-overly-trans">
       <span class="price-tag">
        $23
       </span>
      </div>
      <div class="item-card2-icons">
       <a class="bg-primary" data-placement="top" data-toggle="tooltip" href="#" title="Live Preview">
        <i class="fe fe-airplay">
        </i>
       </a>
       <a class="bg-secondary" data-placement="top" data-toggle="tooltip" href="#" title="Add to Cart">
        <i class="fe fe-shopping-cart">
        </i>
       </a>
       <a class="bg-info" data-placement="top" data-toggle="tooltip" href="#" title="View Details">
        <i class="fe fe-eye">
        </i>
       </a>
      </div>
     </div>
     <div class="card-body">
      <div class="item-card7-desc">
       <div class="">
        <a class="text-dark" href="page-details.html">
         <h4 class="font-weight-semibold">
          Angular Template
         </h4>
        </a>
        <div class="mt-1 fs-13 mb-0">
         by
         <a class="" href="#">
          Jessica
         </a>
         by
         <a class="" href="#">
          Angular Templates
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="card-footer">
      <div class="d-flex">
       <div class="mt-1 fs-13">
        <span class="text-muted mr-4">
         <i class="fe fe-download">
         </i>
         43
        </span>
        <span class="text-muted">
         <i class="fe fe-heart">
         </i>
         234
        </span>
       </div>
       <div class="mr-auto">
        <div class="rating-stars d-flex">
         <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="4"/>
         <div class="rating-stars-container ml-2">
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-xl-4 col-lg-6 col-md-6">
    <div class="card overflow-hidden mb-md-0">
     <div class="item-card2-tans">
      <div class="item-card7-imgs">
       <a href="page-details.html">
       </a>
       <img alt="img" class="cover-image" src="../../assets/images/media/pictures/2.jpg"/>
       <div class="tag-text">
        <span class="bg-dark-transparent tag-option">
         PSD
        </span>
       </div>
      </div>
      <div class="item-overly-trans">
       <span class="price-tag">
        $25
       </span>
      </div>
      <div class="item-card2-icons">
       <a class="bg-primary" data-placement="top" data-toggle="tooltip" href="#" title="Live Preview">
        <i class="fe fe-airplay">
        </i>
       </a>
       <a class="bg-secondary" data-placement="top" data-toggle="tooltip" href="#" title="Add to Cart">
        <i class="fe fe-shopping-cart">
        </i>
       </a>
       <a class="bg-info" data-placement="top" data-toggle="tooltip" href="#" title="View Details">
        <i class="fe fe-eye">
        </i>
       </a>
      </div>
     </div>
     <div class="card-body">
      <div class="item-card7-desc">
       <div class="">
        <a class="text-dark" href="page-details.html">
         <h4 class="font-weight-semibold">
          PSD Template
         </h4>
        </a>
        <div class="mt-1 fs-13 mb-0">
         by
         <a class="" href="#">
          Piers
         </a>
         by
         <a class="" href="#">
          PSD Templates
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="card-footer">
      <div class="d-flex">
       <div class="mt-1 fs-13">
        <span class="text-muted mr-4">
         <i class="fe fe-download">
         </i>
         24
        </span>
        <span class="text-muted">
         <i class="fe fe-heart">
         </i>
         123
        </span>
       </div>
       <div class="mr-auto">
        <div class="rating-stars d-flex">
         <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="3"/>
         <div class="rating-stars-container ml-2">
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-xl-4 col-lg-6 col-md-6">
    <div class="card overflow-hidden mb-0">
     <div class="item-card2-tans">
      <div class="item-card7-imgs">
       <a href="page-details.html">
       </a>
       <img alt="img" class="cover-image" src="../../assets/images/media/pictures/7.jpg"/>
       <div class="tag-text">
        <span class="bg-dark-transparent tag-option">
         HTML
        </span>
       </div>
      </div>
      <div class="item-overly-trans">
       <span class="price-tag">
        $24
       </span>
      </div>
      <div class="item-card2-icons">
       <a class="bg-primary" data-placement="top" data-toggle="tooltip" href="#" title="Live Preview">
        <i class="fe fe-airplay">
        </i>
       </a>
       <a class="bg-secondary" data-placement="top" data-toggle="tooltip" href="#" title="Add to Cart">
        <i class="fe fe-shopping-cart">
        </i>
       </a>
       <a class="bg-info" data-placement="top" data-toggle="tooltip" href="#" title="View Details">
        <i class="fe fe-eye">
        </i>
       </a>
      </div>
     </div>
     <div class="card-body">
      <div class="item-card7-desc">
       <div class="">
        <a class="text-dark" href="page-details.html">
         <h4 class="font-weight-semibold">
          HTML Template
         </h4>
        </a>
        <div class="mt-1 fs-13 mb-0">
         by
         <a class="" href="#">
          Eric
         </a>
         by
         <a class="" href="#">
          HTML Templates
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="card-footer">
      <div class="d-flex">
       <div class="mt-1 fs-13">
        <span class="text-muted mr-4">
         <i class="fe fe-download">
         </i>
         33
        </span>
        <span class="text-muted">
         <i class="fe fe-heart">
         </i>
         219
        </span>
       </div>
       <div class="mr-auto">
        <div class="rating-stars d-flex">
         <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="4"/>
         <div class="rating-stars-container ml-2">
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
