<section>
 <div class="sptb-2">
  <div class="header-text mb-0">
   <div class="container">
    <div class="search-background bg-transparent">
     <div class="text-center text-white mb-6">
      <h1 class="mb-1">
       The Biggest  World is MarketPlace Themes
      </h1>
      <p class="mb-0">
       It is a long established fact that a reader will be distracted by the readable.
      </p>
     </div>
     <div class="row mb-5">
      <div class="col-xl-8 col-lg-12 col-md-12 d-block mx-auto">
       <div class="search-form">
        <input class="form-control input-lg keywords-input" id="text4" placeholder="Search Product....." type="text"/>
        <button class="btn ripple">
         <i class="fe fe-search">
         </i>
        </button>
       </div>
      </div>
     </div>
     <div class="temp-categories">
      <ul class="">
       <li>
        <a href="#">
         <span>
          All Templates
         </span>
        </a>
       </li>
       <li>
        <a href="#">
         <span>
          HTML
         </span>
        </a>
       </li>
       <li>
        <a href="#">
         <span>
          Wordpress
         </span>
        </a>
       </li>
       <li>
        <a href="#">
         <span>
          PHP
         </span>
        </a>
       </li>
       <li>
        <a href="#">
         <span>
          Angular
         </span>
        </a>
       </li>
       <li>
        <a href="#">
         <span>
          PSD
         </span>
        </a>
       </li>
       <li>
        <a href="#">
         <span>
          Plugins
         </span>
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- /header-text -->
  </div>
 </div>
</section>
