<section class="sptb bg-white">
 <div class="container">
  <div class="section-title center-block text-center">
   <h2>
    Download
   </h2>
   <p>
    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
   </p>
  </div>
  <div class="row">
   <div class="col-md-12">
    <div class="text-center text-wrap">
     <div class="btn-list">
      <a class="btn ripple btn-primary btn-lg mb-sm-0" href="#">
       <i class="fa fa-apple fa-1x ml-2">
       </i>
       App Store
      </a>
      <a class="btn ripple btn-secondary btn-lg mb-sm-0" href="#">
       <i class="fa fa-android fa-1x ml-2">
       </i>
       Google Play
      </a>
      <a class="btn ripple btn-info btn-lg mb-0" href="#">
       <i class="fa fa-windows fa-1x ml-2">
       </i>
       Windows
      </a>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
