<section>
 <div class="about-1 cover-image sptb bg-white">
  <div class="content-text mb-0 info">
   <div class="container">
    <div class="section-title center-block text-center">
     <h2>
      Why Choose US ?
     </h2>
     <p class="">
      Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
     </p>
    </div>
    <div class="row">
     <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card mb-lg-0 text-center">
       <div class="card-body">
        <div class="wrp text-white icon-service1 bg-primary text-center box-primary-shadow">
         <i class="fe fe-credit-card">
         </i>
        </div>
        <div class="servic-data mt-3">
         <h4 class="font-weight-semibold mb-2">
          Secure Payment
         </h4>
         <p class="text-muted mb-0">
          Nam libero tempore, cum soluta nobis est eligendi cumque facere possimus
         </p>
        </div>
       </div>
      </div>
     </div>
     <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card mb-lg-0 text-center">
       <div class="card-body">
        <div class="wrp text-white icon-service1 bg-secondary text-center box-secondary-shadow">
         <i class="fe fe-airplay">
         </i>
        </div>
        <div class="servic-data mt-3">
         <h4 class="font-weight-semibold mb-2">
          Quality Templates
         </h4>
         <p class="text-muted mb-0">
          Nam libero tempore, cum soluta nobis est eligendi cumque facere possimus
         </p>
        </div>
       </div>
      </div>
     </div>
     <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card mb-sm-0 text-center">
       <div class="card-body">
        <div class="wrp text-white icon-service1 bg-success text-center box-success-shadow">
         <i class="fe fe-dollar-sign">
         </i>
        </div>
        <div class="servic-data mt-3">
         <h4 class="font-weight-semibold mb-2">
          100% Money Back
         </h4>
         <p class="text-muted mb-0">
          Nam libero tempore, cum soluta nobis est eligendi cumque facere possimus
         </p>
        </div>
       </div>
      </div>
     </div>
     <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card mb-0 text-center">
       <div class="card-body">
        <div class="wrp text-white icon-service1 bg-info text-center box-info-shadow">
         <i class="fe fe-headphones">
         </i>
        </div>
        <div class="servic-data mt-3">
         <h4 class="font-weight-semibold mb-2">
          24/7 Support
         </h4>
         <p class="text-muted mb-0">
          Nam libero tempore, cum soluta nobis est eligendi cumque facere possimus
         </p>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
