<section class="sptb bg-white">
 <div class="container">
  <div class="section-title center-block text-center">
   <h2>
    How It Works?
   </h2>
   <p>
    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
   </p>
  </div>
  <div class="row">
   <div class="col-lg-4 col-md-4">
    <div class="">
     <div class="mb-lg-0 mb-4">
      <div class="service-card text-center item-service1">
       <div class="wrp text-white icon-service3 bg-primary text-center box-primary-shadow">
        <i class="las la-briefcase la-3x">
        </i>
       </div>
       <div class="servic-data mt-6">
        <h4 class="mb-0">
         Select Your Theme
        </h4>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-lg-4 col-md-4">
    <div class="">
     <div class="mb-lg-0 mb-4">
      <div class="service-card text-center item-service1">
       <div class="wrp text-white icon-service3 bg-secondary text-center box-secondary-shadow">
        <i class="las la-cart-plus la-3x">
        </i>
       </div>
       <div class="servic-data mt-6">
        <h4 class="mb-0">
         Add To Cart
        </h4>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-lg-4 col-md-4">
    <div class="">
     <div class="mb-sm-0 mb-4">
      <div class="service-card text-center">
       <div class="wrp text-white icon-service3 bg-info text-center box-info-shadow">
        <i class="las la-money-bill la-3x">
        </i>
       </div>
       <div class="servic-data mt-6">
        <h4 class="mb-0">
         Purchase Your Theme
        </h4>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
