<section>
 <div class="sptb-4 sptb-tab">
  <div class="header-text mb-0">
   <div class="container">
    <div class="text-center text-white mb-0">
     <h1 class="mb-1">
      Creative Themes &amp; Website Templates
     </h1>
     <p>
      It is a long established fact that a reader will be distracted by the readable.
     </p>
    </div>
    <div class="row">
     <div class="col-xl-10 col-lg-12 col-md-12 d-block mx-auto">
      <div class="item-search-tabs">
       <div class="item-search-menu">
        <ul class="nav">
         <li class="">
          <a class="active" data-toggle="tab" href="#index1">
           All Templates
          </a>
         </li>
         <li>
          <a data-toggle="tab" href="#index2">
           HTML
          </a>
         </li>
         <li>
          <a data-toggle="tab" href="#index3">
           Wordpress
          </a>
         </li>
         <li>
          <a data-toggle="tab" href="#index4">
           PHP
          </a>
         </li>
         <li>
          <a data-toggle="tab" href="#index5">
           Angular
          </a>
         </li>
         <li>
          <a data-toggle="tab" href="#index6">
           PSD
          </a>
         </li>
         <li>
          <a data-toggle="tab" href="#index7">
           Plugins
          </a>
         </li>
        </ul>
       </div>
       <div class="tab-content index-search-select">
        <div class="tab-pane active" id="index1">
         <div class="search-background">
          <div class="search-form">
           <input class="form-control input-lg keywords-input" id="text1" placeholder="Search All Products....." type="text"/>
           <button class="btn ripple">
            <i class="fe fe-search">
            </i>
           </button>
          </div>
         </div>
        </div>
        <div class="tab-pane" id="index2">
         <div class="search-background">
          <div class="search-form">
           <input class="form-control input-lg keywords-input" id="text2" placeholder="Search HTML Templates...." type="text"/>
           <button class="btn ripple">
            <i class="fe fe-search">
            </i>
           </button>
          </div>
         </div>
        </div>
        <div class="tab-pane" id="index3">
         <div class="search-background">
          <div class="search-form">
           <input class="form-control input-lg keywords-input" id="text3" placeholder="Search Wordpress Templates...." type="text"/>
           <button class="btn ripple">
            <i class="fe fe-search">
            </i>
           </button>
          </div>
         </div>
        </div>
        <div class="tab-pane" id="index4">
         <div class="search-background">
          <div class="search-form">
           <input class="form-control input-lg keywords-input" id="text4" placeholder="Search PHP Templates...." type="text"/>
           <button class="btn ripple">
            <i class="fe fe-search">
            </i>
           </button>
          </div>
         </div>
        </div>
        <div class="tab-pane" id="index5">
         <div class="search-background">
          <div class="search-form">
           <input class="form-control input-lg keywords-input" id="text5" placeholder="Search Angular Templates...." type="text"/>
           <button class="btn ripple">
            <i class="fe fe-search">
            </i>
           </button>
          </div>
         </div>
        </div>
        <div class="tab-pane" id="index6">
         <div class="search-background">
          <div class="search-form">
           <input class="form-control input-lg keywords-input" id="text6" placeholder="Search PSD Templates...." type="text"/>
           <button class="btn ripple">
            <i class="fe fe-search">
            </i>
           </button>
          </div>
         </div>
        </div>
        <div class="tab-pane" id="index7">
         <div class="search-background">
          <div class="search-form">
           <input class="form-control input-lg keywords-input" id="text7" placeholder="Search...." type="text"/>
           <button class="btn ripple">
            <i class="fe fe-search">
            </i>
           </button>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- /header-text -->
 </div>
</section>
