<!-- from ./themeforest-templist/HTML/LTR/Html/about.html -->
<div class="card mb-xl-0">
 <div class="card-body">
  <div class="team-section text-center">
   <div class="team-img">
    <img alt="img" class="img-thumbnail rounded-circle alt=" src="../../assets/images/users/male/1.jpg"/>
   </div>
   <h3 class="dark-grey-text mt-4">
    Tracey	Poole
   </h3>
   <h6 class="text-default font-weight-normal mb-3">
    Web Designer
   </h6>
   <div class="text-warning mb-3">
    <i class="fa fa-star">
    </i>
    <i class="fa fa-star">
    </i>
    <i class="fa fa-star">
    </i>
    <i class="fa fa-star">
    </i>
    <i class="fa fa-star-half-full">
    </i>
   </div>
   <p class="font-weight-normal text-muted mb-0">
    <i class="fa fa-quote-left pr-2">
    </i>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.
   </p>
  </div>
 </div>
</div>
