<!-- from ./themeforest-templist/HTML/LTR/Html/about.html -->
<div class="card mb-lg-0">
 <div class="card-body">
  <div class="row">
   <div class="col-xl-2 col-lg-3">
    <div class="text-white mb-md-0 mb-4">
     <div class="fa-stack fa-lg fea-icon bg-info box-info-shadow br-3 text-center">
      <i class="fe fe-database">
      </i>
     </div>
    </div>
   </div>
   <div class="col-xl-8 col-lg-9">
    <div class="mt-1">
     <h4 class="">
      User Friendly
     </h4>
     <p class="mb-0 text-muted">
      Our being able to do what we like best, every pleasure is to be welcomed and every pain..
     </p>
    </div>
   </div>
  </div>
 </div>
</div>
