<!-- from ./themeforest-templist/HTML/LTR/Html/ad-details-right.html -->
<div class="card shadow-none">
 <div class="card-header bg-light shadow-none">
  <div class="rating-stars d-flex">
   <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="3"/>
   <div class="rating-stars-container mr-2">
    <div class="rating-star lg">
     <i class="fa fa-star">
     </i>
    </div>
    <div class="rating-star lg">
     <i class="fa fa-star">
     </i>
    </div>
    <div class="rating-star lg">
     <i class="fa fa-star">
     </i>
    </div>
    <div class="rating-star lg">
     <i class="fa fa-star">
     </i>
    </div>
    <div class="rating-star lg">
     <i class="fa fa-star">
     </i>
    </div>
   </div>
  </div>
  <div class="card-options">
   <span class="">
    by
    <a class="text-primary mr-1 ml-1" href="#">
     Sonia Fraser
    </a>
    <span class="text-muted">
     3 months ago
    </span>
   </span>
  </div>
 </div>
 <div class="card-body">
  <h4 class="dark-grey-text mb-2">
   Design Qulity
  </h4>
  <p class="font-weight-normal dark-grey-text mb-0">
   Good design &amp; clean commented code. Before purchase technical team very fast response direct email support.
  </p>
 </div>
 <div class="card-body bg-light">
  <div class="media mt-0 mb-0">
   <div class="d-flex mr-3">
    <a href="#">
     <img alt="64x64" class="media-object brround" src="../../assets/images/users/male/1.jpg"/>
    </a>
   </div>
   <div class="media-body">
    <h4 class="mt-0 mb-1">
     Joanne Scott
    </h4>
    <p class="fs-15 mb-0 mt-2">
     Hey Thank You So Much
    </p>
   </div>
  </div>
 </div>
</div>
