<!-- from ./themeforest-templist/HTML/LTR/Html/ad-details-right.html -->
<div class="card mt-5">
 <div class="card-header">
  <h3 class="card-title">
   Description
  </h3>
 </div>
 <div class="card-body">
  <div class="mb-0">
   <p>
    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atcorrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
   </p>
   <p class="">
    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoraliz the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble thena bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.
   </p>
  </div>
  <h4 class="card-title mb-3">
   Features
  </h4>
  <div class="row">
   <div class="col-xl-6 col-md-6">
    <ul class="list-unstyled widget-spec mb-0">
     <li class="">
      <i class="typcn typcn-chevron-right-outline text-muted">
      </i>
      HTML Pages
     </li>
     <li class="">
      <i class="typcn typcn-chevron-right-outline text-muted">
      </i>
      Plugins
     </li>
     <li class="">
      <i class="typcn typcn-chevron-right-outline text-muted">
      </i>
      Light &amp; Dark Versions
     </li>
     <li class="">
      <i class="typcn typcn-chevron-right-outline text-muted">
      </i>
      Realtime Project Work
     </li>
     <li class="">
      <i class="typcn typcn-chevron-right-outline text-muted">
      </i>
      More Maps
     </li>
     <li class="mb-xl-0">
      <i class="typcn typcn-chevron-right-outline text-muted">
      </i>
      Edittable  Text
     </li>
    </ul>
   </div>
   <div class="col-xl-6 col-md-6">
    <ul class="list-unstyled widget-spec mb-0">
     <li class="">
      <i class="typcn typcn-chevron-right-outline text-muted">
      </i>
      Message Chat
     </li>
     <li class="">
      <i class="typcn typcn-chevron-right-outline text-muted">
      </i>
      Mail Inbox
     </li>
     <li class="">
      <i class="typcn typcn-chevron-right-outline text-muted">
      </i>
      Icons Set
     </li>
     <li class="">
      <i class="typcn typcn-chevron-right-outline text-muted">
      </i>
      Error Pages
     </li>
     <li class="">
      <i class="typcn typcn-chevron-right-outline text-muted">
      </i>
      Pricing Tabels
     </li>
     <li class="mb-0">
      <i class="typcn typcn-chevron-right-outline text-muted">
      </i>
      Shoping Cart
     </li>
    </ul>
   </div>
  </div>
 </div>
 <div class="card-body">
  <div class="list-id">
   <div class="row">
    <div class="col">
     <a class="mb-0">
      Marketplace ID : #8562354
     </a>
    </div>
    <div class="col col-auto">
     Posted By
     <a class="mb-0">
      Individual
     </a>
     / 19th Nov 2019
    </div>
   </div>
  </div>
 </div>
 <div class="card-footer">
  <div class="btn-list">
   <a class="btn ripple btn-info" href="#">
    <i class="fe fe-share-2 mr-1">
    </i>
    Share
   </a>
   <a class="btn ripple btn-secondary" data-target="#report" data-toggle="modal" href="#">
    <i class="icon icon-exclamation mr-1">
    </i>
    Report Abuse
   </a>
   <a class="btn ripple btn-primary" href="#">
    <i class="fe fe-heart mr-1">
    </i>
    678
   </a>
  </div>
 </div>
</div>
