<!-- from ./themeforest-templist/HTML/LTR/Html/ad-details-right.html -->
<div class="card shadow-none">
 <div class="card-body">
  <div>
   <div class="media mt-0">
    <img alt="Image description" class="mr-3 bg-light" src="../../assets/images/png/1.png"/>
    <div class="media-body">
     <div class="d-md-flex align-items-center">
      <h4 class="mb-2">
       Marco Theme
      </h4>
      <small class="text-muted ml-md-auto">
       <i class="fe fe-calendar mr-1">
       </i>
       28 Dec 2019
      </small>
     </div>
     <a class="mr-2" href="#">
      <span class="badge badge-primary">
       Helpful
      </span>
     </a>
     <a class="mr-2 text-muted" data-target="#Comment" data-toggle="modal" href="">
      <span class="badge badge-default">
       Comment
      </span>
     </a>
     <a class="mr-2 text-muted" data-target="#report" data-toggle="modal" href="">
      <span class="badge badge-default">
       Report
      </span>
     </a>
    </div>
   </div>
   <p class="fs-15 mb-0 mt-3">
    Ut enim ad minim veniam, quis Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore.
   </p>
  </div>
 </div>
</div>
