<!-- from ./themeforest-templist/HTML/LTR/Html/ad-details-right.html -->
<div class="card">
 <div class="card-body item-user">
  <div class="text-center">
   <a class="mb-4" href="userprofile.html">
    <img alt="imag" class="avatar avatar-xxl brround" src="../../assets/images/users/female/3.jpg"/>
   </a>
   <a href="userprofile.html">
    <h3 class="mt-2 mb-1 text-dark">
     Vania Laurin
    </h3>
   </a>
   <span class="text-muted">
    Member since 8 November 2010
   </span>
  </div>
  <div class="item-user-icons mt-2 mb-5 text-center">
   <a class="facebook-bg mt-0" href="#">
    <i class="fa fa-facebook">
    </i>
   </a>
   <a class="twitter-bg" href="#">
    <i class="fa fa-twitter">
    </i>
   </a>
   <a class="pinterest-bg" href="#">
    <i class="fa fa-pinterest">
    </i>
   </a>
   <a class="bg-info" href="#">
    <i class="fa fa-share text-white">
    </i>
   </a>
  </div>
  <div class="">
   <a class="btn ripple btn-light btn-block btn-lg" href="profile.html">
    View Porfile
   </a>
  </div>
 </div>
</div>
