<!-- from ./themeforest-templist/HTML/LTR/Html/ad-details-right.html -->
<div class="card shadow-none">
 <div class="card-header bg-light shadow-none">
  <div class="rating-stars d-flex">
   <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="4"/>
   <div class="rating-stars-container mr-2">
    <div class="rating-star lg">
     <i class="fa fa-star">
     </i>
    </div>
    <div class="rating-star lg">
     <i class="fa fa-star">
     </i>
    </div>
    <div class="rating-star lg">
     <i class="fa fa-star">
     </i>
    </div>
    <div class="rating-star lg">
     <i class="fa fa-star">
     </i>
    </div>
    <div class="rating-star lg">
     <i class="fa fa-star">
     </i>
    </div>
   </div>
  </div>
  <div class="card-options">
   <span class="">
    by
    <a class="text-primary mr-1 ml-1" href="#">
     Socrates
    </a>
    <span class="text-muted">
     2 days ago
    </span>
   </span>
  </div>
 </div>
 <div class="card-body">
  <h4 class="dark-grey-text mb-2">
   Design Qulity
  </h4>
  <p class="font-weight-normal dark-grey-text mb-0">
   Excellent design that breaksaway from the cliche bootstrap sites that are a dime-a-dozen these days.
  </p>
 </div>
</div>
