<!-- from ./themeforest-templist/HTML/LTR/Html/ad-list-right.html -->
<div class="card overflow-hidden">
 <div class="item-card9-img">
  <div class="item-card2-imgs">
   <a href="page-details.html">
   </a>
   <img alt="img" class="cover-image" src="../../assets/images/media/pictures/thumb-list/thumb-2.jpg"/>
  </div>
  <div class="item-card9-icons">
   <a class="item-card9-icons1 bg-dark" data-placement="top" data-toggle="tooltip" href="#" title="Wishlist">
    <i class="fa fa fa-heart-o">
    </i>
   </a>
   <a class="item-card9-icons1 bg-dark" data-placement="top" data-toggle="tooltip" href="#" title="Add To Collections">
    <i class="fe fe-sliders">
    </i>
   </a>
  </div>
 </div>
 <div class="card-body">
  <div class="item-card9">
   <a class="text-dark" href="page-details.html">
    <h4 class="text-over">
     Bioplex - Beauty &amp; Spa Creative Wordpress Template
    </h4>
   </a>
   <div class="fs-13 mb-4">
    by
    <a class="" href="#">
     Emily
    </a>
    in
    <a class="" href="#">
     Wordpress Templates
    </a>
   </div>
   <div class="d-md-flex">
    <div class="rating-stars d-flex mr-5">
     <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="3"/>
     <div class="rating-stars-container mr-2">
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
     </div>
     (3)
    </div>
    <div class="ml-auto">
     <div class="item-card9-cost">
      <span class="text-muted">
       123 Sales
      </span>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="card-footer">
  <div class="item-card9-footer d-flex">
   <div class="btn-list">
    <a class="btn ripple btn-primary" href="#">
     Preview
    </a>
    <a class="btn ripple btn-secondary" data-original-title="Buy Now" data-placement="top" data-toggle="tooltip" href="#" title="">
     <i class="fe fe-shopping-cart">
     </i>
    </a>
   </div>
   <div class="ml-auto">
    <h4 class="mb-0 text-dark fs-25 mt-1">
     $32
    </h4>
   </div>
  </div>
 </div>
</div>
