<!-- from ./themeforest-templist/HTML/LTR/Html/ad-list.html -->
<div class="card overflow-hidden">
 <div class="item-card9-img">
  <div class="item-card2-imgs">
   <a href="page-details.html">
   </a>
   <img alt="img" class="cover-image" src="../../assets/images/media/pictures/thumb-list/thumb-4.jpg"/>
  </div>
  <div class="item-card9-icons">
   <a class="item-card9-icons1 bg-pink" data-placement="top" data-toggle="tooltip" href="#" title="Wishlist">
    <i class="fa fa fa-heart-o">
    </i>
   </a>
   <a class="item-card9-icons1 bg-purple" data-placement="top" data-toggle="tooltip" href="#" title="Share">
    <i class="icon icon-share">
    </i>
   </a>
  </div>
  <div class="item-card7-overlaytext">
   <a class="text-white" href="#">
    PHP
   </a>
  </div>
  <div class="item-trans-rating">
   <div class="rating-stars d-flex">
    <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="4"/>
    <div class="rating-stars-container mr-2">
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="card-body">
  <div class="item-card9">
   <a class="text-dark" href="page-details.html">
    <h4 class="text-over">
     Adon - Admin PHP Dashboard Template
    </h4>
   </a>
   <div class="fs-13 mb-4">
    by
    <a class="" href="#">
     John
    </a>
    in
    <a class="" href="#">
     PHP Templates
    </a>
   </div>
   <div class="d-flex">
    <div class="mt-1">
     <span class="fs-13 mr-4">
      <i class="fe fe-eye text-muted mr-1">
      </i>
      536 Views
     </span>
     <span class="fs-13">
      <i class="fe fe-download text-muted mr-1">
      </i>
      298 Sales
     </span>
    </div>
    <div class="ml-auto">
     <h4 class="mb-0 text-dark fs-25">
      $32
     </h4>
    </div>
   </div>
  </div>
 </div>
 <div class="card-footer">
  <div class="item-card9-footer d-flex">
   <a class="btn ripple btn-primary mr-2" href="#">
    <i class="fe fe-airplay mr-1">
    </i>
    Preview
   </a>
   <a class="btn ripple btn-secondary" href="#">
    <i class="fe fe-shopping-cart mr-1">
    </i>
    Buy Now
   </a>
   <div class="ml-auto">
    <a class="btn ripple btn-outline-gray btn-icon" data-placement="top" data-toggle="tooltip" href="#" title="Add To Collections">
     <i class="fa fa-folder-open-o fs-14">
     </i>
    </a>
   </div>
  </div>
 </div>
</div>
