<!-- from ./themeforest-templist/HTML/LTR/Html/ad-list-right.html -->
<div class="card border-0 mb-0 shadow-none w-50">
 <div class="card-body pt-4 pb-4 pr-3">
  <div class="item-card9">
   <div class="rating-stars d-flex">
    <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="4"/>
    <div class="rating-stars-container mr-2">
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
    </div>
    (4)
   </div>
   <a class="text-dark" href="page-details.html">
    <h3 class="mb-1 text-over mt-1">
     Andora – Admin WebApp HTML Dashboard Template
    </h3>
   </a>
   <div class="fs-13 mb-4">
    by
    <a class="" href="#">
     Piers
    </a>
    in
    <a class="" href="#">
     HTML Templates
    </a>
   </div>
   <ul class="list-unstyled widget-spec1 mt-3 mb-0">
    <li>
     <i aria-hidden="true" class="fa fa-circle-o text-muted">
     </i>
     Meet Seller at public Place
    </li>
    <li>
     <i aria-hidden="true" class="fa fa-circle-o text-muted">
     </i>
     Check item before you buy
    </li>
    <li>
     <i aria-hidden="true" class="fa fa-circle-o text-muted">
     </i>
     Pay only after collecting item
    </li>
   </ul>
  </div>
 </div>
</div>
