<!-- from ./themeforest-templist/HTML/LTR/Html/ad-list.html -->
<div class="card overflow-hidden">
 <div class="item-card-btn-hover">
  <div class="d-md-flex">
   <div class="item-card9-img">
    <div class="item-card9-imgs">
     <a href="page-details.html">
     </a>
     <img alt="img" class="cover-image" src="../../assets/images/media/pictures/thumb-list/thumb-4.jpg"/>
    </div>
    <div class="item-card9-icons">
     <a class="item-card9-icons1 bg-pink" data-placement="top" data-toggle="tooltip" href="#" title="Wishlist">
      <i class="fa fa fa-heart-o">
      </i>
     </a>
     <a class="item-card9-icons1 bg-purple" data-placement="top" data-toggle="tooltip" href="#" title="share">
      <i class="icon icon-share">
      </i>
     </a>
    </div>
    <div class="item-card7-overlaytext">
     <a class="text-white" href="#">
      PHP
     </a>
    </div>
    <div class="item-trans-rating">
     <div class="rating-stars d-flex">
      <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="4"/>
      <div class="rating-stars-container mr-2">
       <div class="rating-star sm">
        <i class="fa fa-star">
        </i>
       </div>
       <div class="rating-star sm">
        <i class="fa fa-star">
        </i>
       </div>
       <div class="rating-star sm">
        <i class="fa fa-star">
        </i>
       </div>
       <div class="rating-star sm">
        <i class="fa fa-star">
        </i>
       </div>
       <div class="rating-star sm">
        <i class="fa fa-star">
        </i>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="card border-0 mb-0 w-70">
    <div class="card-body">
     <div class="item-card9">
      <a class="text-dark" href="page-details.html">
       <h3 class="text-over">
        Adon - Admin PHP Dashboard Template
       </h3>
      </a>
      <div class="fs-13 mb-3">
       by
       <a class="" href="#">
        John
       </a>
       in
       <a class="" href="#">
        PHP Templates
       </a>
      </div>
      <p class="fs-13 mb-0 text-muted">
       Lorem Ipsum available, quis int lorem ipsum nostrum exercitationem
      </p>
      <div class="d-flex mt-4">
       <div class="item-card9-cost">
        <h4 class="text-dark fs-25 mb-0">
         $32
        </h4>
       </div>
       <div class="ml-auto">
        <div class="mt-2">
         <span class="fs-13">
          <i class="fe fe-download text-muted mr-1">
          </i>
          298 Sales
         </span>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="item-card-btn">
   <a class="btn ripple btn-primary" href="#">
    <i class="fe fe-airplay mr-1">
    </i>
    Live Preview
   </a>
   <a class="btn ripple btn-secondary" href="#">
    <i class="fe fe-shopping-cart mr-1">
    </i>
    Buy Now
   </a>
  </div>
 </div>
</div>
