<!-- from ./themeforest-templist/HTML/LTR/Html/ad-list.html -->
<div class="card border-0 mb-0 w-70">
 <div class="card-body">
  <div class="item-card9">
   <a class="text-dark" href="page-details.html">
    <h3 class="mb-1 text-over">
     Andora – Admin WebApp HTML Dashboard Template
    </h3>
   </a>
   <div class="fs-13 mb-3">
    by
    <a class="" href="#">
     Piers
    </a>
    in
    <a class="" href="#">
     HTML Templates
    </a>
   </div>
   <p class="fs-13 mb-0 text-muted">
    Lorem Ipsum available, quis int lorem ipsum nostrum exercitationem
   </p>
   <div class="d-flex mt-4">
    <div class="item-card9-cost mt-1">
     <h4 class="text-dark fs-25 mb-0">
      $25
     </h4>
    </div>
    <div class="ml-auto">
     <div class="mt-3">
      <span class="fs-13">
       <i class="fe fe-download text-muted mr-1">
       </i>
       36 Sales
      </span>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
