<!-- from ./themeforest-templist/HTML/LTR/Html/blog-details-right.html -->
<div class="card">
 <div class="card-header">
  <h3 class="card-title">
   Categories
  </h3>
 </div>
 <div class="card-body p-0">
  <div class="list-catergory">
   <div class="item-list">
    <ul class="list-group mb-0">
     <li class="list-group-item">
      <a class="text-dark" href="#">
       HTML
       <span class="badgetext badge badge-pill badge-light mb-0 mt-1">
        14
       </span>
      </a>
     </li>
     <li class="list-group-item">
      <a class="text-dark" href="#">
       Wordpress
       <span class="badgetext badge badge-pill badge-light mb-0 mt-1">
        63
       </span>
      </a>
     </li>
     <li class="list-group-item">
      <a class="text-dark" href="#">
       PHP
       <span class="badgetext badge badge-pill badge-light mb-0 mt-1">
        25
       </span>
      </a>
     </li>
     <li class="list-group-item">
      <a class="text-dark" href="#">
       Angular
       <span class="badgetext badge badge-pill badge-light mb-0 mt-1">
        74
       </span>
      </a>
     </li>
     <li class="list-group-item">
      <a class="text-dark" href="#">
       Psd
       <span class="badgetext badge badge-pill badge-light mb-0 mt-1">
        18
       </span>
      </a>
     </li>
     <li class="list-group-item">
      <a class="text-dark" href="#">
       Other
       <span class="badgetext badge badge-pill badge-light mb-0 mt-1">
        32
       </span>
      </a>
     </li>
    </ul>
   </div>
  </div>
 </div>
</div>
