<!-- from ./themeforest-templist/HTML/LTR/Html/blog-list-center.html -->
<div class="card overflow-hidden">
 <div class="row no-gutters blog-list">
  <div class="col-xl-4 col-lg-12 col-md-12">
   <div class="item7-card-img">
    <a href="page-details.html">
    </a>
    <img alt="img" class="cover-image" src="../../assets/images/media/1.jpg"/>
   </div>
  </div>
  <div class="col-xl-8 col-lg-12 col-md-12">
   <div class="card-body">
    <h4 class="fs-20">
     <a class="text-dark" href="#">
      Excepteur occaecat cupidatat
     </a>
    </h4>
    <div class="item7-card-desc d-flex mb-1 mt-1">
     <a class="text-muted" href="#">
      <i class="fa fa-calendar-o mr-2">
      </i>
      Dec-03-2020
     </a>
     <a class="text-muted" href="#">
      <i class="fa fa-user-o text-muted mr-2">
      </i>
      Nissy Sten
     </a>
     <div class="ml-auto">
      <a class="text-muted mr-0" href="#">
       <i class="fa fa-comment-o mr-2">
       </i>
       4 Comments
      </a>
     </div>
    </div>
    <p class="mb-0 fs-14">
     Ut enim ad minima veniam, quis nostrum exercitationem,Ut enim minima veniam, quis nostrum exercitationem
    </p>
    <a class="btn ripple btn-primary mt-4" href="#">
     Read More
    </a>
   </div>
  </div>
 </div>
</div>
