<!-- from ./themeforest-templist/HTML/LTR/Html/blog-details-center.html -->
<div class="card">
 <div class="card-header">
  <h3 class="card-title">
   Comments
  </h3>
 </div>
 <div class="card-body p-0">
  <div class="media mt-0 p-5">
   <div class="d-flex mr-3">
    <a href="#">
     <img alt="64x64" class="media-object brround" src="../../assets/images/users/male/1.jpg"/>
    </a>
   </div>
   <div class="media-body">
    <h4 class="mt-0 mb-1">
     Joanne Scott
     <span class="fs-12 ml-0" data-original-title="verified" data-placement="top" data-toggle="tooltip" title="">
      <i class="fa fa-check-circle-o text-success">
      </i>
     </span>
     <span class="fs-12 ml-2">
      4.5
      <i class="fa fa-star text-yellow">
      </i>
      <i class="fa fa-star text-yellow">
      </i>
      <i class="fa fa-star text-yellow">
      </i>
      <i class="fa fa-star text-yellow">
      </i>
      <i class="fa fa-star-half-o text-yellow">
      </i>
     </span>
    </h4>
    <small class="text-muted">
     <i class="fa fa-calendar">
     </i>
     Dec 21st
     <i class="ml-3 fa fa-clock-o">
     </i>
     13.00
     <i class="ml-3 fa fa-map-marker">
     </i>
     Brezil
    </small>
    <p class="fs-15 mb-2 mt-2">
     Ut enim ad minim veniam, quis Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et  nostrud exercitation ullamco laboris   commodo consequat.
    </p>
    <a class="mr-2" href="#">
     <span class="badge badge-primary">
      Helpful
     </span>
    </a>
    <a class="mr-2 text-muted" data-target="#Comment" data-toggle="modal" href="">
     <span class="badge badge-default">
      Comment
     </span>
    </a>
    <a class="mr-2 text-muted" data-target="#report" data-toggle="modal" href="">
     <span class="badge badge-default">
      Report
     </span>
    </a>
    <div class="media mt-5">
     <div class="d-flex mr-3">
      <a href="#">
       <img alt="64x64" class="media-object brround" src="../../assets/images/users/female/2.jpg"/>
      </a>
     </div>
     <div class="media-body">
      <h4 class="mt-0 mb-1">
       Rose Slater
       <span class="fs-12 ml-0" data-original-title="verified" data-placement="top" data-toggle="tooltip" title="">
        <i class="fa fa-check-circle-o text-success">
        </i>
       </span>
      </h4>
      <small class="text-muted">
       <i class="fa fa-calendar">
       </i>
       Dec 22st
       <i class="ml-3 fa fa-clock-o">
       </i>
       6.00
       <i class="ml-3 fa fa-map-marker">
       </i>
       Brezil
      </small>
      <p class="fs-15 mb-2 mt-2">
       Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris   commodo Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium  laboriosam, nisi ut aliquid ex ea commodi consequatur consequat.
      </p>
      <a data-target="#Comment" data-toggle="modal" href="">
       <span class="badge badge-default">
        Comment
       </span>
      </a>
     </div>
    </div>
   </div>
  </div>
  <div class="media pl-5 pr-5 pb-5 pt-3 mt-0">
   <div class="d-flex mr-3">
    <a href="#">
     <img alt="64x64" class="media-object brround" src="../../assets/images/users/male/3.jpg"/>
    </a>
   </div>
   <div class="media-body">
    <h4 class="mt-0 mb-1">
     Edward
     <span class="fs-12 ml-0" data-original-title="verified" data-placement="top" data-toggle="tooltip" title="">
      <i class="fa fa-check-circle-o text-success">
      </i>
     </span>
     <span class="fs-12 ml-2">
      4
      <i class="fa fa-star text-yellow">
      </i>
      <i class="fa fa-star text-yellow">
      </i>
      <i class="fa fa-star text-yellow">
      </i>
      <i class="fa fa-star text-yellow">
      </i>
      <i class="fa fa-star-o text-yellow">
      </i>
     </span>
    </h4>
    <small class="text-muted">
     <i class="fa fa-calendar">
     </i>
     Dec 21st
     <i class="ml-3 fa fa-clock-o">
     </i>
     16.35
     <i class="ml-3 fa fa-map-marker">
     </i>
     UK
    </small>
    <p class="fs-15 mb-2 mt-2">
     Ut enim ad minim veniam, quis Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et  nostrud exercitation ullamco laboris   commodo consequat.
    </p>
    <a class="mr-2" href="#">
     <span class="badge badge-primary">
      Helpful
     </span>
    </a>
    <a class="mr-2 text-muted" data-target="#Comment" data-toggle="modal" href="">
     <span class="badge badge-default">
      Comment
     </span>
    </a>
    <a class="mr-2 text-muted" data-target="#report" data-toggle="modal" href="">
     <span class="badge badge-default">
      Report
     </span>
    </a>
   </div>
  </div>
 </div>
</div>
