<!-- from ./themeforest-templist/HTML/LTR/Html/blog-details-right.html -->
<div class="card">
 <div class="card-header">
  <h3 class="card-title">
   Latest Posts
  </h3>
 </div>
 <div class="card-body pb-3">
  <div class="rated-products">
   <ul class="vertical-scroll">
    <li class="item">
     <div class="media m-0 mt-0 p-5">
      <img alt="img" class="mr-4 border-0 p-0 br-4" src="../../assets/images/media/0-1.jpg"/>
      <div class="media-body">
       <h5 class="mb-2 fs-14">
        <a class="text-dark" href="#">
         Eos et accusamus et iusto odio  praesentium voluptatum deleniti
        </a>
       </h5>
       <small class="text-muted mr-4">
        <i class="fe fe-calendar mr-1">
        </i>
        25 Nov, 19
       </small>
       <small class="text-muted">
        <i class="fe fe-user mr-1">
        </i>
        Lily
       </small>
      </div>
     </div>
    </li>
    <li class="item">
     <div class="media p-5 mt-0">
      <img alt="img" class="mr-4 border-0 p-0 br-4" src="../../assets/images/media/0-2.jpg"/>
      <div class="media-body">
       <h5 class="mb-2 fs-14">
        <a class="text-dark" href="#">
         Odio  praesentium voluptatum deleniti
        </a>
       </h5>
       <small class="text-muted mr-4">
        <i class="fe fe-calendar mr-1">
        </i>
        12 Dec, 19
       </small>
       <small class="text-muted">
        <i class="fe fe-user mr-1">
        </i>
        Blake
       </small>
      </div>
     </div>
    </li>
    <li class="item">
     <div class="media p-5 mt-0">
      <img alt="img" class="mr-4 border-0 p-0 br-4" src="../../assets/images/media/0-3.jpg"/>
      <div class="media-body">
       <h5 class="mb-2 fs-14">
        <a class="text-dark" href="#">
         Eos et accusamus praesentium voluptatum deleniti
        </a>
       </h5>
       <small class="text-muted mr-4">
        <i class="fe fe-calendar mr-1">
        </i>
        15 Nov, 19
       </small>
       <small class="text-muted">
        <i class="fe fe-user mr-1">
        </i>
        Carl
       </small>
      </div>
     </div>
    </li>
    <li class="item">
     <div class="media p-5 mt-0">
      <img alt="img" class="mr-4 border-0 p-0 br-4" src="../../assets/images/media/0-4.jpg"/>
      <div class="media-body">
       <h5 class="mb-2 fs-14">
        <a class="text-dark" href="#">
         Et accusamus et iusto  voluptatum deleniti
        </a>
       </h5>
       <small class="text-muted mr-4">
        <i class="fe fe-calendar mr-1">
        </i>
        25 Dec, 19
       </small>
       <small class="text-muted">
        <i class="fe fe-user mr-1">
        </i>
        Joan
       </small>
      </div>
     </div>
    </li>
    <li class="item">
     <div class="media mb-0 p-5 mt-0">
      <img alt="img" class="mr-4 border-0 p-0 br-4" src="../../assets/images/media/0-5.jpg"/>
      <div class="media-body">
       <h5 class="mb-2 fs-14">
        <a class="text-dark" href="#">
         Odio  praesentium voluptatum deleniti
        </a>
       </h5>
       <small class="text-muted mr-4">
        <i class="fe fe-calendar mr-1">
        </i>
        11 Jan, 20
       </small>
       <small class="text-muted">
        <i class="fe fe-user mr-1">
        </i>
        Jake
       </small>
      </div>
     </div>
    </li>
   </ul>
  </div>
 </div>
</div>
