<!-- from ./themeforest-templist/HTML/LTR/Html/blog-grid-center.html -->
<div class="card">
 <div class="item7-card-img">
  <a href="#">
  </a>
  <img alt="img" class="cover-image" src="../../assets/images/media/0-1.jpg"/>
 </div>
 <div class="card-body">
  <h4 class="fs-20">
   <a class="text-dark" href="#">
    Contrary to popular belief
   </a>
  </h4>
  <div class="item7-card-desc d-flex mb-2 mt-2">
   <a class="text-muted" href="#">
    <i class="fa fa-calendar-o mr-2">
    </i>
    Dec-03-2020
   </a>
   <div class="ml-auto">
    <a class="text-muted mr-0" href="#">
     <i class="fa fa-comment-o mr-2">
     </i>
     4 Comments
    </a>
   </div>
  </div>
  <p class="fs-14">
   Ut enim ad minima veniam, quis exercitationem into enim ad minima veniam, quis nostrum itationem
  </p>
  <a class="btn ripple btn-primary" href="#">
   Read More
  </a>
 </div>
</div>
