<!-- from ./themeforest-templist/HTML/LTR/Html/blog-details-center.html -->
<div class="card blog-detail">
 <div class="card-body">
  <h2 class="mb-5 fs-24">
   <a class="text-dark" href="#">
    Nemo enim ipsam voluptatem denouncing pleasure
   </a>
  </h2>
  <div class="item7-card-img br-4">
   <img alt="img" class="w-100" src="../../assets/images/media/0-11.jpg"/>
  </div>
  <div class="item7-card-desc d-flex mb-2 mt-3">
   <a class="text-muted" href="#">
    <i class="fa fa-calendar-o mr-2">
    </i>
    Nov-28-2020
   </a>
   <a class="text-muted" href="#">
    <i class="fa fa-user-o text-muted mr-2">
    </i>
    Nissy Sten
   </a>
   <div class="ml-auto">
    <a class="text-muted mr-0" href="#">
     <i class="fa fa-comment-o mr-2">
     </i>
     2 Comments
    </a>
   </div>
  </div>
  <p>
   But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.
  </p>
  <p>
   At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
  </p>
 </div>
</div>
