<!-- from ./themeforest-templist/HTML/LTR/Html/cart.html -->
<div class="card cart mb-0">
 <div class="card-header">
  <h3 class="card-title">
   Shopping Cart
  </h3>
 </div>
 <div class="card-body">
  <div class="table-responsive">
   <table class="table table-bordered table-vcenter text-nowrap border-top">
    <thead>
     <tr>
      <th>
       Product
      </th>
      <th>
       Title
      </th>
      <th>
       Price
      </th>
      <th class="w-25">
       Quantity
      </th>
      <th>
       Action
      </th>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td>
       <img alt="" class="h-8 br-4" src="../../assets/images/media/pictures/small/01.jpg"/>
      </td>
      <td>
       HTML Templates
      </td>
      <td class="font-weight-bold fs-16">
       $15
      </td>
      <td>
       <div class="input-group input-indec">
        <span class="input-group-btn">
         <button class="quantity-left-minus btn btn-light btn-number br-0" data-field="" data-type="minus" type="button">
          <i class="fa fa-minus">
          </i>
         </button>
        </span>
        <input class="form-control input-number text-center" id="quantity" name="quantity" type="text" value="1"/>
        <span class="input-group-btn">
         <button class="quantity-right-plus btn btn-light btn-number br-0" data-field="" data-type="plus" type="button">
          <i class="fa fa-plus">
          </i>
         </button>
        </span>
       </div>
      </td>
      <td>
       <a class="btn btn-danger btn-sm mr-2" data-placement="top" data-toggle="tooltip" href="javascript:void(0)" title="Save for Washlist">
        <i class="icon icon-heart">
        </i>
       </a>
       <a class="btn btn-info btn-sm" data-placement="top" data-toggle="tooltip" href="javascript:void(0)" title="Remove">
        <i class="icon icon-trash">
        </i>
       </a>
      </td>
     </tr>
     <tr>
      <td>
       <img alt="" class="h-8 br-4" src="../../assets/images/media/pictures/small/02.jpg"/>
      </td>
      <td>
       Wordpress Template
      </td>
      <td class="font-weight-bold fs-16">
       $32
      </td>
      <td>
       <div class="input-group input-indec">
        <span class="input-group-btn">
         <button class="quantity-left-minus1 btn btn-light btn-number br-0" data-field="" data-type="minus" type="button">
          <i class="fa fa-minus">
          </i>
         </button>
        </span>
        <input class="form-control input-number text-center" id="quantity1" name="quantity1" type="text" value="1"/>
        <span class="input-group-btn">
         <button class="quantity-right-plus1 btn btn-light btn-number br-0" data-field="" data-type="plus" type="button">
          <i class="fa fa-plus">
          </i>
         </button>
        </span>
       </div>
      </td>
      <td>
       <a class="btn btn-danger btn-sm mr-2" data-placement="top" data-toggle="tooltip" href="javascript:void(0)" title="Save for Washlist">
        <i class="icon icon-heart">
        </i>
       </a>
       <a class="btn btn-info btn-sm" data-placement="top" data-toggle="tooltip" href="javascript:void(0)" title="Remove">
        <i class="icon icon-trash">
        </i>
       </a>
      </td>
     </tr>
     <tr>
      <td>
       <img alt="" class="h-8 br-4" src="../../assets/images/media/pictures/small/03.jpg"/>
      </td>
      <td>
       Angular Template
      </td>
      <td class="font-weight-bold fs-16">
       $21
      </td>
      <td>
       <div class="input-group input-indec">
        <span class="input-group-btn">
         <button class="quantity-left-minus2 btn btn-light btn-number br-0" data-field="" data-type="minus" type="button">
          <i class="fa fa-minus">
          </i>
         </button>
        </span>
        <input class="form-control input-number text-center" id="quantity2" name="quantity2" type="text" value="1"/>
        <span class="input-group-btn">
         <button class="quantity-right-plus2 btn btn-light btn-number br-0" data-field="" data-type="plus" type="button">
          <i class="fa fa-plus">
          </i>
         </button>
        </span>
       </div>
      </td>
      <td>
       <a class="btn btn-danger btn-sm mr-2" data-placement="top" data-toggle="tooltip" href="javascript:void(0)" title="Save for Washlist">
        <i class="icon icon-heart">
        </i>
       </a>
       <a class="btn btn-info btn-sm" data-placement="top" data-toggle="tooltip" href="javascript:void(0)" title="Remove">
        <i class="icon icon-trash">
        </i>
       </a>
      </td>
     </tr>
    </tbody>
   </table>
  </div>
  <br/>
  <div class="row">
   <div class="col-6">
    <input class="productcart form-control" placeholder="Coupon Code" type="text"/>
   </div>
   <div class="col-6">
    <a class="btn btn-primary btn-md" href="#">
     Apply Coupon
    </a>
   </div>
  </div>
  <br/>
  <div class="mt-3">
   <ul class="list-group">
    <li class="list-group-item">
     Sub Total
     <span class="badgetext h4 font-weight-bold mb-0">
      $68.00
     </span>
    </li>
    <li class="list-group-item">
     Discount
     <span class="badgetext h4 font-weight-bold mb-0">
      2%
     </span>
    </li>
    <li class="list-group-item">
     Shipping
     <span class="badgetext h4 font-weight-normal mb-0">
      Free
     </span>
    </li>
    <li class="list-group-item">
     Total
     <span class="badgetext h4 font-weight-bold1 fs-22 mb-0">
      $48.00
     </span>
    </li>
   </ul>
  </div>
 </div>
 <div class="card-footer text-right">
  <a class="btn btn-primary" href="#">
   <i class="fa fa-arrow-left mr-1">
   </i>
   Continue Shopping
  </a>
  <a class="btn btn-success" href="checkout.html">
   Check out
   <i class="fa fa-arrow-right ml-1">
   </i>
  </a>
 </div>
</div>
