<!-- from ./themeforest-templist/HTML/LTR/Html/checkout.html -->
<div class="card mb-lg-0">
 <div class="card-header">
  <h3 class="card-title">
   Billing Information
  </h3>
 </div>
 <div class="card-body">
  <div class="row">
   <div class="col-sm-6 col-md-6">
    <div class="form-group">
     <label class="form-label">
      First Name
      <span class="text-red">
       *
      </span>
     </label>
     <input class="form-control" placeholder="First name" type="text"/>
    </div>
   </div>
   <div class="col-sm-6 col-md-6">
    <div class="form-group">
     <label class="form-label">
      Last Name
      <span class="text-red">
       *
      </span>
     </label>
     <input class="form-control" placeholder="Last name" type="text"/>
    </div>
   </div>
   <div class="col-md-12">
    <div class="form-group">
     <label class="form-label">
      Company Name
      <span class="text-red">
       *
      </span>
     </label>
     <input class="form-control" placeholder="Company name" type="text"/>
    </div>
   </div>
   <div class="col-md-12">
    <div class="form-group">
     <label class="form-label">
      Email address
      <span class="text-red">
       *
      </span>
     </label>
     <input class="form-control" placeholder="Email" type="email"/>
    </div>
   </div>
   <div class="col-md-12">
    <div class="form-group">
     <label class="form-label">
      Country
      <span class="text-red">
       *
      </span>
     </label>
     <select class="form-control select2">
      <option value="0">
       --Select--
      </option>
      <option value="1">
       Germany
      </option>
      <option value="2">
       Canada
      </option>
      <option value="3">
       Usa
      </option>
      <option value="4">
       Aus
      </option>
     </select>
    </div>
   </div>
   <div class="col-md-12">
    <div class="form-group">
     <label class="form-label">
      Address
      <span class="text-red">
       *
      </span>
     </label>
     <input class="form-control" placeholder="Home Address" type="text"/>
    </div>
   </div>
   <div class="col-sm-6 col-md-6">
    <div class="form-group">
     <label class="form-label">
      City
      <span class="text-red">
       *
      </span>
     </label>
     <input class="form-control" placeholder="City" type="text"/>
    </div>
   </div>
   <div class="col-sm-6 col-md-6">
    <div class="form-group">
     <label class="form-label">
      Postal Code
      <span class="text-red">
       *
      </span>
     </label>
     <input class="form-control" placeholder="ZIP Code" type="number"/>
    </div>
   </div>
  </div>
 </div>
</div>
