<!-- from ./themeforest-templist/HTML/LTR/Html/credits.html -->
<div class="card mb-0">
 <div class="card-header">
  <h3 class="card-title">
   Payment Method &amp; Confirmation
  </h3>
 </div>
 <div class="card-body">
  <div class="card-pay">
   <ul class="tabs-menu nav">
    <li class="">
     <a class="active" data-toggle="tab" href="#tab1">
      <i class="fa fa-credit-card">
      </i>
      Credit Card
     </a>
    </li>
    <li>
     <a class="" data-toggle="tab" href="#tab2">
      <i class="fa fa-paypal">
      </i>
      Paypal
     </a>
    </li>
    <li>
     <a class="" data-toggle="tab" href="#tab3">
      <i class="fa fa-university">
      </i>
      Bank Transfer
     </a>
    </li>
   </ul>
   <div class="tab-content">
    <div class="tab-pane active show" id="tab1">
     <div class="form-group">
      <label class="form-label">
       CardHolder Name
      </label>
      <input class="form-control" id="name1" placeholder="First Name" type="text"/>
     </div>
     <div class="form-group">
      <label class="form-label">
       Card number
      </label>
      <div class="input-group">
       <input class="form-control" placeholder="Search for..." type="text"/>
       <span class="input-group-append">
        <button class="btn ripple btn-info" type="button">
         <i class="fa fa-cc-visa">
         </i>
         <i class="fa fa-cc-amex">
         </i>
         <i class="fa fa-cc-mastercard">
         </i>
        </button>
       </span>
      </div>
     </div>
     <div class="row">
      <div class="col-sm-8">
       <div class="form-group">
        <label class="form-label">
         Expiration
        </label>
        <div class="input-group">
         <input class="form-control" name="expire-month" placeholder="MM" type="number"/>
         <input class="form-control" name="expire-year" placeholder="YY" type="number"/>
        </div>
       </div>
      </div>
      <div class="col-sm-4">
       <div class="form-group">
        <label class="form-label">
         CVV
         <i class="fa fa-question-circle">
         </i>
        </label>
        <input class="form-control" required="" type="number"/>
       </div>
      </div>
     </div>
     <a class="btn ripple btn-secondary" href="#">
      Submit
     </a>
    </div>
    <div class="tab-pane" id="tab2">
     <h6 class="font-weight-semibold">
      Paypal is easiest way to pay online
     </h6>
     <p>
      <a class="btn ripple btn-secondary" href="#">
       <i class="fa fa-paypal">
       </i>
       Log in my Paypal
      </a>
     </p>
     <p class="mb-0">
      <strong>
       Note:
      </strong>
      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
     </p>
    </div>
    <div class="tab-pane" id="tab3">
     <h6 class="font-weight-semibold">
      Bank account details
     </h6>
     <dl class="card-text">
      <dt>
       BANK:
      </dt>
      <dd>
       THE UNION BANK 0456
      </dd>
     </dl>
     <dl class="card-text">
      <dt>
       Accaunt number:
      </dt>
      <dd>
       67542897653214
      </dd>
     </dl>
     <dl class="card-text">
      <dt>
       IBAN:
      </dt>
      <dd>
       543218769
      </dd>
     </dl>
     <p class="mb-0">
      <strong>
       Note:
      </strong>
      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
     </p>
    </div>
   </div>
  </div>
 </div>
</div>
