<!-- from ./themeforest-templist/HTML/LTR/Html/faq.html -->
<div class="card mb-3">
 <div class="accordion-header" data-target="#collapseOne" data-toggle="collapse">
  1. Do you Charge for each  Upgrade?
 </div>
 <div class="collapse" data-parent="#accordion" id="collapseOne" role="tabpanel">
  <div class="accordion-body">
   We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness
  </div>
 </div>
</div>
