<!-- from ./themeforest-templist/HTML/LTR/Html/faq.html -->
<div class="card mb-0">
 <div class="accordion-header" data-target="#collapseSix" data-toggle="collapse">
  6. Do you have a developer license?
 </div>
 <div class="collapse" data-parent="#accordion" id="collapseSix" role="tabpanel">
  <div class="accordion-body">
   All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise
  </div>
 </div>
</div>
