<!-- from ./themeforest-templist/HTML/LTR/Html/footer-style.html -->
<div class="card overflow-hidden mb-md-0">
 <div class="item-card2-tans">
  <div class="item-card7-imgs">
   <a href="page-details.html">
   </a>
   <img alt="img" class="cover-image" src="../../assets/images/media/pictures/5.jpg"/>
   <div class="tag-text">
    <span class="bg-dark-transparent tag-option m-0">
     <i class="fe fe-download mr-1">
     </i>
     45
    </span>
    <span class="bg-dark-transparent tag-option">
     <i class="fe fe-heart mr-1">
     </i>
     108
    </span>
   </div>
  </div>
  <div class="item-card2-icons">
   <a class="bg-primary" data-placement="top" data-toggle="tooltip" href="#" title="Live Preview">
    <i class="fe fe-airplay">
    </i>
   </a>
   <a class="bg-secondary" data-placement="top" data-toggle="tooltip" href="#" title="Add to Cart">
    <i class="fe fe-shopping-cart">
    </i>
   </a>
   <a class="bg-info" data-placement="top" data-toggle="tooltip" href="#" title="View Details">
    <i class="fe fe-eye">
    </i>
   </a>
  </div>
 </div>
 <div class="card-body">
  <div class="item-card7-desc">
   <div class="">
    <a class="text-dark" href="page-details.html">
     <h4 class="font-weight-semibold">
      Wordpress Template
     </h4>
    </a>
    <div class="mt-1 fs-13 mb-0">
     by
     <a class="" href="#">
      John
     </a>
     in
     <a class="" href="#">
      Wordpress Templates
     </a>
    </div>
   </div>
  </div>
 </div>
 <div class="card-footer pt-3">
  <div class="d-md-flex">
   <div class="rating-stars d-flex mr-5">
    <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="4"/>
    <div class="rating-stars-container mr-2">
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
    </div>
    (4)
   </div>
   <div class="ml-auto">
    <div class="item-card9-cost">
     <h4 class="mb-0 text-dark fs-20">
      $21
     </h4>
    </div>
   </div>
  </div>
 </div>
</div>
