<!-- from ./themeforest-templist/HTML/LTR/Html/forum.html -->
<div class="card">
 <div class="card-header">
  <h3 class="card-title">
   Forum
  </h3>
 </div>
 <div class="card-body">
  <div class="ibox-content forum-container">
   <div class="forum-title mt-0">
    <div class="pull-right forum-desc">
     <small>
      Total posts: 78,765
     </small>
    </div>
    <h3>
     General subjects
    </h3>
   </div>
   <div class="forum-item active">
    <div class="row">
     <div class="col-md-8">
      <div class="forum-icon">
       <i class="fe fe-check-square text-success">
       </i>
      </div>
      <a class="forum-item-title" href="#">
       General Discussion
      </a>
      <div class="d-flex forum-support">
       <img alt="image" class="avatar-sm brround mr-2" src="../../assets/images/users/male/18.jpg"/>
       <a class="time-title p-0 leading-normal mt-1 text-dark" href="#">
        Joanne
        <span class="text-muted ml-2">
         asked 4 months ago
        </span>
       </a>
      </div>
      <div class="forum-sub-title">
       Talk about sports, entertainment, music, movies, your favorite color, talk about enything.
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       1,789
      </span>
      <div>
       <small>
        Views
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       56
      </span>
      <div>
       <small>
        Replies
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       34
      </span>
      <div>
       <small>
        Topics
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       68
      </span>
      <div>
       <small>
        Posts
       </small>
      </div>
     </div>
    </div>
   </div>
   <div class="forum-item">
    <div class="row">
     <div class="col-md-8">
      <div class="forum-icon">
       <i class="fe fe-x-square text-danger">
       </i>
      </div>
      <a class="forum-item-title" href="#">
       Introductions
      </a>
      <div class="d-flex forum-support">
       <img alt="image" class="avatar-sm brround mr-2" src="../../assets/images/users/female/18.jpg"/>
       <a class="time-title p-0 leading-normal mt-1 text-dark" href="#">
        Rose Slater
        <span class="text-muted ml-2">
         asked 1 months ago
        </span>
       </a>
      </div>
      <div class="forum-sub-title">
       New to the community? Please stop by, say hi and tell us a bit about yourself.
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       3,567
      </span>
      <div>
       <small>
        Views
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       786
      </span>
      <div>
       <small>
        Replies
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       145
      </span>
      <div>
       <small>
        Topics
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       123
      </span>
      <div>
       <small>
        Posts
       </small>
      </div>
     </div>
    </div>
   </div>
   <div class="forum-item active">
    <div class="row">
     <div class="col-md-8">
      <div class="forum-icon">
       <i class="fe fe-check-square text-info">
       </i>
      </div>
      <a class="forum-item-title" href="#">
       Announcements
      </a>
      <div class="d-flex forum-support">
       <span class="avatar avatar-sm brround mr-2 bg-info shadow-none">
        R
       </span>
       <a class="time-title p-0 leading-normal mt-1 text-dark" href="#">
        Rose Slater
        <span class="text-muted ml-2">
         asked 5 months ago
        </span>
       </a>
      </div>
      <div class="forum-sub-title">
       This forum features announcements from the community staff. If there is a new post in this forum, please check it out.
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       150
      </span>
      <div>
       <small>
        Views
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       25
      </span>
      <div>
       <small>
        Replies
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       12
      </span>
      <div>
       <small>
        Topics
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       15
      </span>
      <div>
       <small>
        Posts
       </small>
      </div>
     </div>
    </div>
   </div>
   <div class="forum-item">
    <div class="row">
     <div class="col-md-8">
      <div class="forum-icon">
       <i class="fe fe-star text-warning">
       </i>
      </div>
      <a class="forum-item-title" href="#">
       Staff Discussion
      </a>
      <div class="d-flex forum-support">
       <span class="avatar avatar-sm brround mr-2 bg-secondary shadow-none">
        S
       </span>
       <a class="time-title p-0 leading-normal mt-1 text-dark" href="#">
        Sonia Fraser
        <span class="text-muted ml-2">
         asked 1 months ago
        </span>
       </a>
      </div>
      <div class="forum-sub-title">
       This forum is for private, staff member only discussions, usually pertaining to the community itself.
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       1,864
      </span>
      <div>
       <small>
        Views
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       398
      </span>
      <div>
       <small>
        Replies
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       210
      </span>
      <div>
       <small>
        Topics
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       150
      </span>
      <div>
       <small>
        Posts
       </small>
      </div>
     </div>
    </div>
   </div>
   <div class="forum-title">
    <div class="pull-right forum-desc">
     <small>
      Total posts: 17,800,600
     </small>
    </div>
    <h3>
     Other subjects
    </h3>
   </div>
   <div class="forum-item">
    <div class="row">
     <div class="col-md-8">
      <div class="forum-icon">
       <i class="fe fe-check-square">
       </i>
      </div>
      <a class="forum-item-title" href="#">
       Lorem Ipsum is simply dummy text.
      </a>
      <div class="d-flex forum-support">
       <img alt="image" class="avatar-sm brround mr-2" src="../../assets/images/users/male/8.jpg"/>
       <a class="time-title p-0 leading-normal mt-1 text-dark" href="#">
        Joyce Chua
        <span class="text-muted ml-2">
         asked 6 months ago
        </span>
       </a>
      </div>
      <div class="forum-sub-title">
       Various versions have evolved over the years, sometimes by accident, sometimes on purpose passage of Lorem Ipsum (injected humour and the like).
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       897
      </span>
      <div>
       <small>
        Views
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       178
      </span>
      <div>
       <small>
        Replies
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       278
      </span>
      <div>
       <small>
        Topics
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       150
      </span>
      <div>
       <small>
        Posts
       </small>
      </div>
     </div>
    </div>
   </div>
   <div class="forum-item">
    <div class="row">
     <div class="col-md-8">
      <div class="forum-icon">
       <i class="fe fe-x-square">
       </i>
      </div>
      <a class="forum-item-title" href="#">
       There are many variations of passages
      </a>
      <div class="d-flex forum-support">
       <img alt="image" class="avatar-sm brround mr-2" src="../../assets/images/users/female/8.jpg"/>
       <a class="time-title p-0 leading-normal mt-1 text-dark" href="#">
        Mariane Galeon
        <span class="text-muted ml-2">
         asked 5 months ago
        </span>
       </a>
      </div>
      <div class="forum-sub-title">
       If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the .
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       2,156
      </span>
      <div>
       <small>
        Views
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       789
      </span>
      <div>
       <small>
        Replies
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       456
      </span>
      <div>
       <small>
        Topics
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       610
      </span>
      <div>
       <small>
        Posts
       </small>
      </div>
     </div>
    </div>
   </div>
   <div class="forum-item">
    <div class="row">
     <div class="col-md-8">
      <div class="forum-icon">
       <i class="fe fe-check-square">
       </i>
      </div>
      <a class="forum-item-title" href="#">
       The standard chunk of Lorem Ipsum
      </a>
      <div class="d-flex forum-support">
       <span class="avatar avatar-sm brround mr-2 bg-primary shadow-none">
        M
       </span>
       <a class="time-title p-0 leading-normal mt-1 text-dark" href="#">
        Mariane Galeon
        <span class="text-muted ml-2">
         asked 1 months ago
        </span>
       </a>
      </div>
      <div class="forum-sub-title">
       Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       456
      </span>
      <div>
       <small>
        Views
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       278
      </span>
      <div>
       <small>
        Replies
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       167
      </span>
      <div>
       <small>
        Topics
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       34
      </span>
      <div>
       <small>
        Posts
       </small>
      </div>
     </div>
    </div>
   </div>
   <div class="forum-item">
    <div class="row">
     <div class="col-md-8">
      <div class="forum-icon">
       <i class="fe fe-check-square">
       </i>
      </div>
      <a class="forum-item-title" href="#">
       Lorem Ipsum, you need to be sure there
      </a>
      <div class="d-flex forum-support">
       <img alt="image" class="avatar-sm brround mr-2" src="../../assets/images/users/female/9.jpg"/>
       <a class="time-title p-0 leading-normal mt-1 text-dark" href="#">
        Reynante
        <span class="text-muted ml-2">
         asked 5 months ago
        </span>
       </a>
      </div>
      <div class="forum-sub-title">
       Internet tend to repeat predefined chunks as necessary, making this the
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       1,678
      </span>
      <div>
       <small>
        Views
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       78
      </span>
      <div>
       <small>
        Replies
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       45
      </span>
      <div>
       <small>
        Topics
       </small>
      </div>
     </div>
     <div class="col-md-1 forum-info">
      <span class="views-number">
       35
      </span>
      <div>
       <small>
        Posts
       </small>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
