<!-- from ./themeforest-templist/HTML/LTR/Html/header-style1.html -->
<div class="card overflow-hidden">
 <div class="power-ribbon power-ribbon-top-left text-warning">
  <span class="bg-warning">
   <i class="fa fa-bolt">
   </i>
  </span>
 </div>
 <div class="item-card2-tans">
  <div class="item-card7-imgs">
   <a href="page-details.html">
   </a>
   <img alt="img" class="cover-image" src="../../assets/images/media/pictures/1.jpg"/>
   <div class="tag-text">
    <span class="bg-dark-transparent tag-option">
     HTML
    </span>
   </div>
  </div>
  <div class="item-card2-icons">
   <a class="bg-primary" data-placement="top" data-toggle="tooltip" href="#" title="Add to Wishlist">
    <i class="fe fe-heart">
    </i>
   </a>
   <a class="bg-secondary" data-placement="top" data-toggle="tooltip" href="#" title="Buy Now">
    <i class="fe fe-shopping-cart">
    </i>
   </a>
   <a class="bg-info" data-placement="top" data-toggle="tooltip" href="#" title="View Details">
    <i class="fe fe-eye">
    </i>
   </a>
  </div>
 </div>
 <div class="card-body">
  <div class="item-card7-desc">
   <div class="d-md-flex">
    <div class="">
     <a class="text-dark" href="page-details.html">
      <h4 class="font-weight-semibold">
       HTML Template
      </h4>
     </a>
     <p class="fs-13 mb-0 text-muted">
      Lorem Ipsum available, quis int lorem ipsum nostrum exercitationem
     </p>
    </div>
    <div class="ml-auto">
     <div class="item-card9-cost">
      <h4 class="mb-0 fs-20">
       $15
      </h4>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="card-footer pt-3">
  <div class="footerimg d-sm-flex mt-0 mb-0">
   <div class="d-flex footerimg-l mb-2 mb-sm-0">
    <span class="avatar avatar-sm brround mr-2 bg-primary">
     H
    </span>
    <a class="time-title text-muted p-0 leading-normal fs-13 mt-1" href="#">
     Gavin Fraser
     <i class="si si-check text-success fs-12 ml-1" data-placement="top" data-toggle="tooltip" title="verified">
     </i>
    </a>
   </div>
   <div class="footerimg-r ml-auto">
    <div class="d-flex">
     <span class="text-muted">
      <i class="fe fe-download text-dark">
      </i>
      36
     </span>
     <div class="rating-stars d-flex ml-3">
      <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="4"/>
      <div class="rating-stars-container">
       <div class="rating-star sm">
        <i class="fa fa-star">
        </i>
       </div>
       <div class="rating-star sm">
        <i class="fa fa-star">
        </i>
       </div>
       <div class="rating-star sm">
        <i class="fa fa-star">
        </i>
       </div>
       <div class="rating-star sm">
        <i class="fa fa-star">
        </i>
       </div>
       <div class="rating-star sm">
        <i class="fa fa-star">
        </i>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
