<!-- from ./themeforest-templist/HTML/LTR/Html/index.html -->
<div class="card overflow-hidden">
 <div class="item-card2-tans">
  <div class="item-card7-imgs">
   <a href="page-details.html">
   </a>
   <img alt="img" class="cover-image" src="../../assets/images/media/pictures/2.jpg"/>
   <div class="tag-text">
    <span class="bg-dark-transparent tag-option">
     PSD
    </span>
   </div>
  </div>
  <div class="item-card2-icons">
   <a class="bg-primary" data-placement="top" data-toggle="tooltip" href="#" title="Add to Wishlist">
    <i class="fe fe-heart">
    </i>
   </a>
   <a class="bg-secondary" data-placement="top" data-toggle="tooltip" href="#" title="Buy Now">
    <i class="fe fe-shopping-cart">
    </i>
   </a>
   <a class="bg-info" data-placement="top" data-toggle="tooltip" href="#" title="View Details">
    <i class="fe fe-eye">
    </i>
   </a>
  </div>
 </div>
 <div class="card-body">
  <div class="item-card7-desc">
   <div class="item-card7-text">
    <a class="text-dark" href="page-details.html">
     <h4 class="font-weight-semibold">
      PSD Template
     </h4>
    </a>
    <p class="fs-13 mb-1 text-muted">
     Lorem Ipsum available, quis int lorem ipsum nostrum exercitationem
    </p>
   </div>
   <div class="d-md-flex">
    <div class="rating-stars d-flex mr-5">
     <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="3"/>
     <div class="rating-stars-container mr-2">
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
     </div>
     (3)
    </div>
    <div class="ml-auto">
     <div class="item-card9-cost">
      <h4 class="mb-0">
       $25
      </h4>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="card-footer pt-3">
  <div class="footerimg d-flex mt-0 mb-0">
   <div class="d-flex footerimg-l mb-0">
    <img alt="image" class="avatar avatar-sm brround mr-2" src="../../assets/images/users/female/1.jpg"/>
    <a class="time-title text-muted p-0 leading-normal" href="#">
     Lily Paige
     <i class="si si-check text-success fs-12 ml-1" data-placement="top" data-toggle="tooltip" title="verified">
     </i>
    </a>
   </div>
   <div class="footerimg-r ml-auto">
    <span class="text-muted">
     <i class="fe fe-shopping-cart">
     </i>
     16
    </span>
   </div>
  </div>
 </div>
</div>
