<!-- from ./themeforest-templist/HTML/LTR/Html/index10.html -->
<div class="card mb-xl-0">
 <div class="item7-card-img">
  <a href="#">
  </a>
  <img alt="img" class="cover-image" src="../../assets/images/media/0-1.jpg"/>
 </div>
 <div class="card-body p-4">
  <div class="item7-card-desc d-flex mb-2">
   <a href="#">
    <i class="fa fa-calendar-o mr-2">
    </i>
    Dec-03-2020
   </a>
   <div class="ml-auto">
    <a href="#">
     <i class="fa fa-user-o mr-2">
     </i>
     Joanne Nash
    </a>
   </div>
  </div>
  <a class="text-dark" href="blog-details.html">
   <h3 class="font-weight-semibold">
    Nemo ipsam voluptatem
   </h3>
  </a>
  <p>
   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat
  </p>
  <a class="btn ripple btn-primary" href="#">
   Read More
  </a>
 </div>
</div>
