<!-- from ./themeforest-templist/HTML/LTR/Html/index9.html -->
<div class="card mb-lg-0 service-widgets">
 <div class="p-4">
  <div class="status-info text-center">
   <div class="icon-service3 bg-primary-transparent text-center mb-4">
    <i class="las la-anchor la-3x text-primary">
    </i>
   </div>
   <h3 class="mt-2 mb-2">
    Secure Payment
   </h3>
   <p class="text-muted mb-0">
    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
   </p>
  </div>
 </div>
</div>
