<!-- from ./themeforest-templist/HTML/LTR/Html/index6.html -->
<div class="card overflow-hidden">
 <div class="power-ribbon power-ribbon-top-left text-warning">
  <span class="bg-warning">
   <i class="fa fa-bolt">
   </i>
  </span>
 </div>
 <div class="item-card2-tans">
  <div class="item-card7-imgs">
   <a href="page-details.html">
   </a>
   <img alt="img" class="cover-image" src="../../assets/images/media/pictures/thumb-1.jpg"/>
  </div>
  <div class="item-card2-iconsoverlay">
   <a class="btn ripple btn-primary" href="ad-details.html">
    Live Preview
   </a>
   <a class="btn ripple btn-secondary" href="#">
    View Details
   </a>
  </div>
 </div>
 <div class="card-body">
  <div class="item-card7-desc">
   <div class="d-md-flex fs-12 mb-4">
    <span class="text-muted" data-placement="top" data-toggle="tooltip" title="Downloads">
     <i class="fe fe-download mr-1">
     </i>
     34
    </span>
    <span class="text-muted ml-auto" data-placement="top" data-toggle="tooltip" title="Wishlists">
     <i class="fe fe-heart mr-1">
     </i>
     456
    </span>
   </div>
   <div class="">
    <a class="text-dark" href="page-details.html">
     <h4 class="font-weight-semibold">
      Andora – Admin WebApp HTML Dashboard Template
     </h4>
    </a>
    <div class="mt-1 fs-13 mb-0">
     by
     <a class="" href="#">
      Lily
     </a>
     in
     <a class="" href="#">
      HTML Templates
     </a>
    </div>
   </div>
  </div>
 </div>
 <div class="card-footer">
  <div class="d-md-flex">
   <div class="rating-stars d-flex mr-5">
    <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="4"/>
    <div class="rating-stars-container mr-2">
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
    </div>
    (4)
   </div>
   <div class="ml-auto">
    <div class="item-card9-cost">
     <h4 class="mb-0 text-dark fs-18">
      $15
     </h4>
    </div>
   </div>
  </div>
 </div>
</div>
