<!-- from ./themeforest-templist/HTML/LTR/Html/index9.html -->
<div class="card overflow-hidden">
 <div class="item-card2-tans">
  <div class="item-card7-imgs">
   <a href="page-details.html">
   </a>
   <img alt="img" class="cover-image" src="../../assets/images/media/pictures/1.jpg"/>
   <div class="tag-text">
    <span class="bg-dark-transparent tag-option">
     HTML
    </span>
   </div>
  </div>
  <div class="item-overly-trans">
   <span class="price-tag">
    $15
   </span>
  </div>
  <div class="item-card2-icons">
   <a class="bg-primary" data-placement="top" data-toggle="tooltip" href="#" title="Live Preview">
    <i class="fe fe-airplay">
    </i>
   </a>
   <a class="bg-secondary" data-placement="top" data-toggle="tooltip" href="#" title="Add to Cart">
    <i class="fe fe-shopping-cart">
    </i>
   </a>
   <a class="bg-info" data-placement="top" data-toggle="tooltip" href="#" title="View Details">
    <i class="fe fe-eye">
    </i>
   </a>
  </div>
 </div>
 <div class="card-body">
  <div class="item-card7-desc">
   <div class="">
    <a class="text-dark" href="page-details.html">
     <h4 class="font-weight-semibold">
      HTML Template
     </h4>
    </a>
    <div class="mt-1 fs-13 mb-0">
     by
     <a class="" href="#">
      Emily
     </a>
     by
     <a class="" href="#">
      HTML Templates
     </a>
    </div>
   </div>
  </div>
 </div>
 <div class="card-footer">
  <div class="d-flex">
   <div class="mt-1 fs-13">
    <span class="text-muted mr-4">
     <i class="fe fe-download">
     </i>
     36
    </span>
    <span class="text-muted">
     <i class="fe fe-heart">
     </i>
     236
    </span>
   </div>
   <div class="ml-auto">
    <div class="rating-stars d-flex">
     <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="4"/>
     <div class="rating-stars-container mr-2">
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
