<!-- from ./themeforest-templist/HTML/LTR/Html/index.html -->
<div class="card mb-0 service-widgets1">
 <div class="text-center card-body">
  <div class="product-imgs">
   <img alt="img" class="" src="../../assets/images/svg/2.svg"/>
  </div>
  <h3 class="mt-3 mb-2">
   Buy Products
  </h3>
  <p>
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiishic tenetur quae quaerat ad velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit
  </p>
  <a class="btn ripple btn-secondary" href="#">
   Create an Account
  </a>
 </div>
</div>
