<!-- from ./themeforest-templist/HTML/LTR/Html/index3.html -->
<div class="card mb-lg-0 text-center">
 <div class="card-body">
  <div class="wrp text-white icon-service1 bg-primary text-center box-primary-shadow">
   <i class="fe fe-credit-card">
   </i>
  </div>
  <div class="servic-data mt-3">
   <h4 class="font-weight-semibold mb-2">
    Secure Payment
   </h4>
   <p class="text-muted mb-0">
    Nam libero tempore, cum soluta nobis est eligendi cumque facere possimus
   </p>
  </div>
 </div>
</div>
