<!-- from ./themeforest-templist/HTML/LTR/Html/index6.html -->
<div class="card mb-0">
 <div class="card-body">
  <div class="d-flex testimonia mb-3">
   <a href="testimonial.html">
   </a>
   <div class="media-left d-flex owl-mediaimg">
    <img alt="" class="avatar avatar-xl brround" src="../../assets/images/users/male/2.jpg"/>
   </div>
   <div class="media-body">
    <div class="ml-3 mt-4">
     <p class="overview text-dark">
      <b>
       Antonio Moreno
      </b>
      , Web Developer
     </p>
     <div class="">
      <span>
       <i class="fa fa-star text-warning">
       </i>
      </span>
      <span>
       <i class="fa fa-star text-warning">
       </i>
      </span>
      <span>
       <i class="fa fa-star text-warning">
       </i>
      </span>
      <span>
       <i class="fa fa-star-half-o text-warning">
       </i>
      </span>
      <span>
       <i class="fa fa-star-o text-warning mr-1">
       </i>
      </span>
     </div>
    </div>
   </div>
  </div>
  <p class="text-muted mb-0">
   Sed ut perspiciatis unde omnis doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
  </p>
 </div>
</div>
