<!-- from ./themeforest-templist/HTML/LTR/Html/inovice.html -->
<div class="card mb-0">
 <div class="card-header">
  <h3 class="card-title">
   #INV-287
  </h3>
  <div class="card-options">
   <button class="btn ripple btn-sm btn-secondary mr-2" type="button">
    <i class="icon icon-wallet">
    </i>
    Pay Invoice
   </button>
  </div>
 </div>
 <div class="card-body">
  <div class="row">
   <div class="col-lg-6">
    <p class="h3">
     Client Inc
    </p>
    <address>
     Street address
     <br/>
     State, City
     <br/>
     Region, Postal Code
     <br/>
     ltd@example.com
    </address>
   </div>
   <div class="col-lg-6 text-right">
    <p class="h3">
     Invoice To
    </p>
    <address>
     Street address
     <br/>
     State, City
     <br/>
     Region, Postal Code
     <br/>
     ctr@example.com
    </address>
   </div>
  </div>
  <div class="text-dark">
   <p class="mb-1 mt-5">
    <span class="font-weight-semibold">
     Invoice Date :
    </span>
    12rd July 2020
   </p>
   <p>
    <span class="font-weight-semibold">
     Due Date :
    </span>
    15th July 2020
   </p>
  </div>
  <div class="table-responsive push">
   <table class="table table-bordered table-hover text-nowrap">
    <tr>
     <th class="text-center">
     </th>
     <th>
      Item Lists
     </th>
     <th class="text-center">
      Qanitiy
     </th>
     <th class="text-right">
      Price
     </th>
    </tr>
    <tr>
     <td class="text-center">
      1
     </td>
     <td>
      <p class="font-w600 mb-1">
       HTML Admin Template
      </p>
      <div class="text-muted">
       At vero eos et accusamus et iusto odio dignissimos ducimus qui
      </div>
     </td>
     <td class="text-center">
      1
     </td>
     <td class="text-right">
      $18
     </td>
    </tr>
    <tr>
     <td class="text-center">
      2
     </td>
     <td>
      <p class="font-w600 mb-1">
       Angular Listing Template
      </p>
      <div class="text-muted">
       blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
      </div>
     </td>
     <td class="text-center">
      1
     </td>
     <td class="text-right">
      $20
     </td>
    </tr>
    <tr>
     <td class="text-center">
      3
     </td>
     <td>
      <p class="font-w600 mb-1">
       Wordpress Hosting Template
      </p>
      <div class="text-muted">
       At vero eos et accusamus et iusto odio dignissimos ducimus qui
      </div>
     </td>
     <td class="text-center">
      1
     </td>
     <td class="text-right">
      $32
     </td>
    </tr>
    <tr>
     <td class="font-w600 text-right" colspan="3">
      Subtotal
     </td>
     <td class="text-right">
      $70
     </td>
    </tr>
    <tr>
     <td class="font-w600 text-right" colspan="3">
      Vat Rate
     </td>
     <td class="text-right">
      10%
     </td>
    </tr>
    <tr>
     <td class="font-w600 text-right" colspan="3">
      Vat Due
     </td>
     <td class="text-right">
      $5
     </td>
    </tr>
    <tr>
     <td class="font-weight-semibold text-uppercase text-right" colspan="3">
      Total Due
     </td>
     <td class="font-weight-semibold text-right">
      $75
     </td>
    </tr>
    <tr>
     <td class="text-right" colspan="4">
      <button class="btn ripple btn-secondary" type="button">
       <i class="icon icon-wallet">
       </i>
       Pay Invoice
      </button>
      <button class="btn ripple btn-primary" onclick="javascript:window.print();" type="button">
       <i class="icon icon-paper-plane">
       </i>
       Send Invoice
      </button>
      <button class="btn ripple btn-info" onclick="javascript:window.print();" type="button">
       <i class="icon icon-printer">
       </i>
       Print Invoice
      </button>
     </td>
    </tr>
   </table>
  </div>
  <p class="text-muted text-center">
   Thank you very much for doing business with us. We look forward to working with you again!
  </p>
 </div>
</div>
