<!-- from ./themeforest-templist/HTML/LTR/Html/manged.html -->
<div class="card">
 <div class="card-header">
  <h3 class="card-title">
   Safety Tips For Buyers
  </h3>
 </div>
 <div class="card-body">
  <ul class="list-unstyled widget-spec mb-0">
   <li class="">
    <i aria-hidden="true" class="fa fa-check text-success">
    </i>
    Meet Seller at public Place
   </li>
   <li class="">
    <i aria-hidden="true" class="fa fa-check text-success">
    </i>
    Check item before you buy
   </li>
   <li class="">
    <i aria-hidden="true" class="fa fa-check text-success">
    </i>
    Pay only after collecting item
   </li>
   <li class="ml-5 mb-0">
    <a href="tips.html">
     View more..
    </a>
   </li>
  </ul>
 </div>
</div>
