<!-- from ./themeforest-templist/HTML/LTR/Html/manged.html -->
<div class="card">
 <div class="card-header">
  <h3 class="card-title">
   My Dashboard
  </h3>
 </div>
 <div class="card-body text-center item-user border-bottom">
  <div class="profile-pic">
   <div class="profile-pic-img mb-4">
    <span class="bg-success dots" data-placement="top" data-toggle="tooltip" title="online">
    </span>
    <img alt="user" class="brround" src="../../assets/images/users/male/2.jpg"/>
   </div>
   <a class="text-dark" href="userprofile.html">
    <h4 class="mt-3 mb-0 font-weight-semibold">
     Jacob Smith
    </h4>
   </a>
  </div>
 </div>
 <div class="item1-links mb-0">
  <a class="d-flex border-bottom" href="mydash.html">
   <span class="icon1 mr-3">
    <i class="fe fe-user">
    </i>
   </span>
   Edit Profile
  </a>
  <a class="d-flex border-bottom" href="myads.html">
   <span class="icon1 mr-3">
    <i class="fe fe-codepen">
    </i>
   </span>
   My Items
  </a>
  <a class="d-flex border-bottom" href="myfavorite.html">
   <span class="icon1 mr-3">
    <i class="fe fe-heart">
    </i>
   </span>
   My Favorite
  </a>
  <a class="active d-flex border-bottom" href="manged.html">
   <span class="icon1 mr-3">
    <i class="fe fe-folder-plus">
    </i>
   </span>
   Managed Items
  </a>
  <a class="d-flex border-bottom" href="payments.html">
   <span class="icon1 mr-3">
    <i class="fe fe-credit-card">
    </i>
   </span>
   Payments
  </a>
  <a class="d-flex border-bottom" href="orders.html">
   <span class="icon1 mr-3">
    <i class="fe fe-shopping-cart">
    </i>
   </span>
   Orders
  </a>
  <a class="d-flex border-bottom" href="statements.html">
   <span class="icon1 mr-3">
    <i class="fe fe-edit">
    </i>
   </span>
   Statements
  </a>
  <a class="d-flex border-bottom" href="tips.html">
   <span class="icon1 mr-3">
    <i class="fe fe-compass">
    </i>
   </span>
   Safety Tips
  </a>
  <a class="d-flex border-bottom" href="settings.html">
   <span class="icon1 mr-3">
    <i class="fe fe-settings">
    </i>
   </span>
   Settings
  </a>
  <a class="d-flex" href="#">
   <span class="icon1 mr-3">
    <i class="fe fe-power">
    </i>
   </span>
   Logout
  </a>
 </div>
</div>
