<!-- from ./themeforest-templist/HTML/LTR/Html/myads.html -->
<div class="card ads-tabs">
 <div class="card-body">
  <div class="d-flex tabs-menus mb-0 item2-gl-nav bg-white p-0 border-0">
   <ul class="nav panel-tabs mt-1">
    <li class="">
     <a class="active" data-toggle="tab" href="#tab1">
      Portfolio
     </a>
    </li>
    <li>
     <a data-toggle="tab" href="#tab2">
      Upload Items
     </a>
    </li>
    <li>
     <a data-toggle="tab" href="#tab3">
      Followers
     </a>
    </li>
   </ul>
   <div class="ml-auto">
    <div class="d-flex select2-sm">
     <label class="mr-2 mt-1 mb-sm-1">
      Sort By:
     </label>
     <select class="form-control select-sm w-70 select2" name="item">
      <option value="1">
       Latest
      </option>
      <option value="2">
       Oldest
      </option>
      <option value="3">
       Fees:Low-to-High
      </option>
      <option value="5">
       Fees:Hight-to-Low
      </option>
     </select>
    </div>
   </div>
  </div>
 </div>
</div>
