<!-- from ./themeforest-templist/HTML/LTR/Html/myfavorite.html -->
<div class="card manged-ad mb-0">
 <div class="row border-bottom ml-0 mr-0">
  <div class="col-md-6 col-sm-6">
   <div class="card-body">
    <h3 class="card-title">
     Name &amp; Details
    </h3>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <h3 class="card-title">
     Price
    </h3>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <h3 class="card-title">
     Status
    </h3>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <h3 class="card-title">
     Action
    </h3>
   </div>
  </div>
 </div>
 <div class="row ml-0 mr-0">
  <div class="col-md-6 col-sm-6">
   <div class="card-body">
    <div class="d-flex">
     <label class="custom-control custom-checkbox mr-3">
      <input class="custom-control-input" name="checkbox" type="checkbox" value="checkbox"/>
      <span class="custom-control-label">
      </span>
     </label>
     <div class="media mt-0 mb-0">
      <div class="card-aside-img">
       <a href="#">
       </a>
       <img alt="img" src="../../assets/images/media/pictures/small/01.jpg"/>
      </div>
      <div class="media-body">
       <div class="card-item-desc ml-4 p-0">
        <a class="text-dark" href="#">
         <h4 class="text-over">
          HTML Template
         </h4>
        </a>
        <div class="text-muted">
         <i class="fa fa-clock-o mr-1">
         </i>
         Feb-21-2020
        </div>
        <div class="text-muted">
         <i class="fa fa-tag mr-1">
         </i>
         Admin
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <h3 class="fs-20">
     $24
    </h3>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <a class="badge badge-primary" href="#">
     Published
    </a>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <div class="btn-list">
     <a class="btn ripple btn-info btn-sm text-white" data-original-title="Buy Now" data-toggle="tooltip">
      <i class="fa fa-shopping-cart">
      </i>
     </a>
     <a class="btn ripple btn-danger btn-sm text-white" data-original-title="Delete from Wishlist" data-toggle="tooltip">
      <i class="fa fa-trash-o">
      </i>
     </a>
    </div>
   </div>
  </div>
 </div>
 <div class="row border-top ml-0 mr-0">
  <div class="col-md-6 col-sm-6">
   <div class="card-body">
    <div class="d-flex">
     <label class="custom-control custom-checkbox mr-3">
      <input class="custom-control-input" name="checkbox" type="checkbox" value="checkbox"/>
      <span class="custom-control-label">
      </span>
     </label>
     <div class="media mt-0 mb-0">
      <div class="card-aside-img">
       <a href="#">
       </a>
       <img alt="img" src="../../assets/images/media/pictures/small/02.jpg"/>
      </div>
      <div class="media-body">
       <div class="card-item-desc ml-4 p-0">
        <a class="text-dark" href="#">
         <h4 class="text-over">
          Wordpress Template
         </h4>
        </a>
        <div class="text-muted">
         <i class="fa fa-clock-o mr-1">
         </i>
         Oct-23-2019
        </div>
        <div class="text-muted">
         <i class="fa fa-tag mr-1">
         </i>
         Listing
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <h3 class="fs-20">
     $56
    </h3>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <a class="badge badge-danger" href="#">
     hidden
    </a>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <div class="btn-list">
     <a class="btn ripple btn-info btn-sm text-white" data-original-title="Buy Now" data-toggle="tooltip">
      <i class="fa fa-shopping-cart">
      </i>
     </a>
     <a class="btn ripple btn-danger btn-sm text-white" data-original-title="Delete from Wishlist" data-toggle="tooltip">
      <i class="fa fa-trash-o">
      </i>
     </a>
    </div>
   </div>
  </div>
 </div>
 <div class="row border-top ml-0 mr-0">
  <div class="col-md-6 col-sm-6">
   <div class="card-body">
    <div class="d-flex">
     <label class="custom-control custom-checkbox mr-3">
      <input class="custom-control-input" name="checkbox" type="checkbox" value="checkbox"/>
      <span class="custom-control-label">
      </span>
     </label>
     <div class="media mt-0 mb-0">
      <div class="card-aside-img">
       <a href="#">
       </a>
       <img alt="img" src="../../assets/images/media/pictures/small/03.jpg"/>
      </div>
      <div class="media-body">
       <div class="card-item-desc ml-4 p-0">
        <a class="text-dark" href="#">
         <h4 class="text-over">
          Angular Template
         </h4>
        </a>
        <div class="text-muted">
         <i class="fa fa-clock-o mr-1">
         </i>
         Nov-15-2019
        </div>
        <div class="text-muted">
         <i class="fa fa-tag mr-1">
         </i>
         Beauty
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <h3 class="fs-20">
     $22
    </h3>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <a class="badge badge-warning" href="#">
     Disabled
    </a>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <div class="btn-list">
     <a class="btn ripple btn-info btn-sm text-white" data-original-title="Buy Now" data-toggle="tooltip">
      <i class="fa fa-shopping-cart">
      </i>
     </a>
     <a class="btn ripple btn-danger btn-sm text-white" data-original-title="Delete from Wishlist" data-toggle="tooltip">
      <i class="fa fa-trash-o">
      </i>
     </a>
    </div>
   </div>
  </div>
 </div>
 <div class="row border-top ml-0 mr-0">
  <div class="col-md-6 col-sm-6">
   <div class="card-body">
    <div class="d-flex">
     <label class="custom-control custom-checkbox mr-3">
      <input class="custom-control-input" name="checkbox" type="checkbox" value="checkbox"/>
      <span class="custom-control-label">
      </span>
     </label>
     <div class="media mt-0 mb-0">
      <div class="card-aside-img">
       <a href="#">
       </a>
       <img alt="img" src="../../assets/images/media/pictures/small/04.jpg"/>
      </div>
      <div class="media-body">
       <div class="card-item-desc ml-4 p-0">
        <a class="text-dark" href="#">
         <h4 class="text-over">
          PHP Template
         </h4>
        </a>
        <div class="text-muted">
         <i class="fa fa-clock-o mr-1">
         </i>
         Nov-25-2019
        </div>
        <div class="text-muted">
         <i class="fa fa-tag mr-1">
         </i>
         Business
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <h3 class="fs-20">
     $18
    </h3>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <a class="badge badge-primary" href="#">
     Published
    </a>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <div class="btn-list">
     <a class="btn ripple btn-info btn-sm text-white" data-original-title="Buy Now" data-toggle="tooltip">
      <i class="fa fa-shopping-cart">
      </i>
     </a>
     <a class="btn ripple btn-danger btn-sm text-white" data-original-title="Delete from Wishlist" data-toggle="tooltip">
      <i class="fa fa-trash-o">
      </i>
     </a>
    </div>
   </div>
  </div>
 </div>
 <div class="row border-top ml-0 mr-0">
  <div class="col-md-6 col-sm-6">
   <div class="card-body">
    <div class="d-flex">
     <label class="custom-control custom-checkbox mr-3">
      <input class="custom-control-input" name="checkbox" type="checkbox" value="checkbox"/>
      <span class="custom-control-label">
      </span>
     </label>
     <div class="media mt-0 mb-0">
      <div class="card-aside-img">
       <a href="#">
       </a>
       <img alt="img" src="../../assets/images/media/pictures/small/05.jpg"/>
      </div>
      <div class="media-body">
       <div class="card-item-desc ml-4 p-0">
        <a class="text-dark" href="#">
         <h4 class="text-over">
          PSD Template
         </h4>
        </a>
        <div class="text-muted">
         <i class="fa fa-clock-o mr-1">
         </i>
         Feb-21-2020
        </div>
        <div class="text-muted">
         <i class="fa fa-tag mr-1">
         </i>
         Medical
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <h3 class="fs-20">
     $25
    </h3>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <a class="badge badge-primary" href="#">
     Published
    </a>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <div class="btn-list">
     <a class="btn ripple btn-info btn-sm text-white" data-original-title="Buy Now" data-toggle="tooltip">
      <i class="fa fa-shopping-cart">
      </i>
     </a>
     <a class="btn ripple btn-danger btn-sm text-white" data-original-title="Delete from Wishlist" data-toggle="tooltip">
      <i class="fa fa-trash-o">
      </i>
     </a>
    </div>
   </div>
  </div>
 </div>
 <div class="row border-top ml-0 mr-0">
  <div class="col-md-6 col-sm-6">
   <div class="card-body">
    <div class="d-flex">
     <label class="custom-control custom-checkbox mr-3">
      <input class="custom-control-input" name="checkbox" type="checkbox" value="checkbox"/>
      <span class="custom-control-label">
      </span>
     </label>
     <div class="media mt-0 mb-0">
      <div class="card-aside-img">
       <a href="#">
       </a>
       <img alt="img" src="../../assets/images/media/pictures/small/06.jpg"/>
      </div>
      <div class="media-body">
       <div class="card-item-desc ml-4 p-0">
        <a class="text-dark" href="#">
         <h4 class="text-over">
          HTML Template
         </h4>
        </a>
        <div class="text-muted">
         <i class="fa fa-clock-o mr-1">
         </i>
         Dec-15-2018
        </div>
        <div class="text-muted">
         <i class="fa fa-tag mr-1">
         </i>
         Business
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <h3 class="fs-20">
     $22
    </h3>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <a class="badge badge-danger" href="#">
     hidden
    </a>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <div class="btn-list">
     <a class="btn ripple btn-info btn-sm text-white" data-original-title="Buy Now" data-toggle="tooltip">
      <i class="fa fa-shopping-cart">
      </i>
     </a>
     <a class="btn ripple btn-danger btn-sm text-white" data-original-title="Delete from Wishlist" data-toggle="tooltip">
      <i class="fa fa-trash-o">
      </i>
     </a>
    </div>
   </div>
  </div>
 </div>
 <div class="row border-top ml-0 mr-0">
  <div class="col-md-6 col-sm-6">
   <div class="card-body">
    <div class="d-flex">
     <label class="custom-control custom-checkbox mr-3">
      <input class="custom-control-input" name="checkbox" type="checkbox" value="checkbox"/>
      <span class="custom-control-label">
      </span>
     </label>
     <div class="media mt-0 mb-0">
      <div class="card-aside-img">
       <a href="#">
       </a>
       <img alt="img" src="../../assets/images/media/pictures/small/07.jpg"/>
      </div>
      <div class="media-body">
       <div class="card-item-desc ml-4 p-0">
        <a class="text-dark" href="#">
         <h4 class="text-over">
          Andora &amp; Admin WebApp Template
         </h4>
        </a>
        <div class="text-muted">
         <i class="fa fa-clock-o mr-1">
         </i>
         Nov-22-2017
        </div>
        <div class="text-muted">
         <i class="fa fa-tag mr-1">
         </i>
         HTML
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <h3 class="fs-20">
     $14
    </h3>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <a class="badge badge-warning" href="#">
     Disabled
    </a>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <div class="btn-list">
     <a class="btn ripple btn-info btn-sm text-white" data-original-title="Buy Now" data-toggle="tooltip">
      <i class="fa fa-shopping-cart">
      </i>
     </a>
     <a class="btn ripple btn-danger btn-sm text-white" data-original-title="Delete from Wishlist" data-toggle="tooltip">
      <i class="fa fa-trash-o">
      </i>
     </a>
    </div>
   </div>
  </div>
 </div>
 <div class="row border-top ml-0 mr-0">
  <div class="col-md-6 col-sm-6">
   <div class="card-body">
    <div class="d-flex">
     <label class="custom-control custom-checkbox mr-3">
      <input class="custom-control-input" name="checkbox" type="checkbox" value="checkbox"/>
      <span class="custom-control-label">
      </span>
     </label>
     <div class="media mt-0 mb-0">
      <div class="card-aside-img">
       <a href="#">
       </a>
       <img alt="img" src="../../assets/images/media/pictures/small/08.jpg"/>
      </div>
      <div class="media-body">
       <div class="card-item-desc ml-4 p-0">
        <a class="text-dark" href="#">
         <h4 class="text-over">
          Wordpress Template
         </h4>
        </a>
        <div class="text-muted">
         <i class="fa fa-clock-o mr-1">
         </i>
         Nov-30-2018
        </div>
        <div class="text-muted">
         <i class="fa fa-tag mr-1">
         </i>
         Corporate
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <h3 class="fs-20">
     $18
    </h3>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <a class="badge badge-primary" href="#">
     Published
    </a>
   </div>
  </div>
  <div class="col-md-2 col-sm-6">
   <div class="card-body">
    <div class="btn-list">
     <a class="btn ripple btn-info btn-sm text-white" data-original-title="Buy Now" data-toggle="tooltip">
      <i class="fa fa-shopping-cart">
      </i>
     </a>
     <a class="btn ripple btn-danger btn-sm text-white" data-original-title="Delete from Wishlist" data-toggle="tooltip">
      <i class="fa fa-trash-o">
      </i>
     </a>
    </div>
   </div>
  </div>
 </div>
</div>
