<!-- from ./themeforest-templist/HTML/LTR/Html/orders.html -->
<div class="card text-center">
 <div class="card-body">
  <img alt="img" class="floating mb-7 w-20" src="../../assets/images/svg/order.svg"/>
  <h2 class="font-weight-normal">
   Thank You For Our Order!
  </h2>
  <h4 class="mb-2 text-default">
   Order Confirmation
  </h4>
  <p class="mb-0 text-muted">
   Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam totam rem aperiam
  </p>
  <a class="btn ripple btn-primary mt-4" href="#">
   Download Product
  </a>
 </div>
</div>
