<!-- from ./themeforest-templist/HTML/LTR/Html/orders.html -->
<div class="card mb-0">
 <div class="card-header">
  <h3 class="card-title">
   Orders List
  </h3>
 </div>
 <div class="card-body">
  <div class="table-responsive border-top">
   <table class="table table-bordered table-hover text-nowrap">
    <thead>
     <tr>
      <th>
       Order ID
      </th>
      <th>
       Category
      </th>
      <th>
       Date
      </th>
      <th>
       Price
      </th>
      <th>
       Status
      </th>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td class="text-primary">
       #89345
      </td>
      <td>
       HTML Template
      </td>
      <td>
       07-12-2020
      </td>
      <td class="fs-16">
       $13
      </td>
      <td>
       <a class="badge badge-danger" href="#">
        Pending
       </a>
      </td>
     </tr>
     <tr>
      <td class="text-primary">
       #39281
      </td>
      <td>
       Worpress Template
      </td>
      <td>
       12-11-2020
      </td>
      <td class="fs-16">
       $54
      </td>
      <td>
       <a class="badge badge-primary" href="#">
        Paid
       </a>
      </td>
     </tr>
     <tr>
      <td class="text-primary">
       #35825
      </td>
      <td>
       Angular Template
      </td>
      <td>
       15-11-2020
      </td>
      <td class="fs-16">
       $32
      </td>
      <td>
       <a class="badge badge-primary" href="#">
        Paid
       </a>
      </td>
     </tr>
     <tr>
      <td class="text-primary">
       #62391
      </td>
      <td>
       PHP Template
      </td>
      <td>
       10-11-2020
      </td>
      <td class="fs-16">
       $15
      </td>
      <td>
       <a class="badge badge-danger" href="#">
        Pending
       </a>
      </td>
     </tr>
     <tr>
      <td class="text-primary">
       #92481
      </td>
      <td>
       PSD Template
      </td>
      <td>
       07-11-2020
      </td>
      <td class="fs-16">
       $32
      </td>
      <td>
       <a class="badge badge-primary" href="#">
        Paid
       </a>
      </td>
     </tr>
     <tr>
      <td class="text-primary">
       #29381
      </td>
      <td>
       HTML Template
      </td>
      <td>
       31-10-2020
      </td>
      <td class="fs-16">
       $25
      </td>
      <td>
       <a class="badge badge-danger" href="#">
        Pending
       </a>
      </td>
     </tr>
     <tr>
      <td class="text-primary">
       #72356
      </td>
      <td>
       Wordpress Template
      </td>
      <td>
       27-10-2020
      </td>
      <td class="fs-16">
       $16
      </td>
      <td>
       <a class="badge badge-danger" href="#">
        Pending
       </a>
      </td>
     </tr>
     <tr>
      <td class="text-primary">
       #89345
      </td>
      <td>
       Angular Template
      </td>
      <td>
       30-11-2020
      </td>
      <td class="fs-16">
       $24
      </td>
      <td>
       <a class="badge badge-primary" href="#">
        Paid
       </a>
      </td>
     </tr>
     <tr>
      <td class="text-primary">
       #4570
      </td>
      <td>
       PHP Template
      </td>
      <td>
       03-12-2020
      </td>
      <td class="fs-16">
       $14
      </td>
      <td>
       <a class="badge badge-danger" href="#">
        Pending
       </a>
      </td>
     </tr>
    </tbody>
   </table>
  </div>
  <ul class="pagination">
   <li class="page-item page-prev disabled">
    <a class="page-link" href="#" tabindex="-1">
     Prev
    </a>
   </li>
   <li class="page-item active">
    <a class="page-link" href="#">
     1
    </a>
   </li>
   <li class="page-item">
    <a class="page-link" href="#">
     2
    </a>
   </li>
   <li class="page-item">
    <a class="page-link" href="#">
     3
    </a>
   </li>
   <li class="page-item page-next">
    <a class="page-link" href="#">
     Next
    </a>
   </li>
  </ul>
 </div>
</div>
