<!-- from ./themeforest-templist/HTML/LTR/Html/page-details1.html -->
<div class="card overflow-hidden">
 <div class="card-body">
  <div class="item-det mb-4">
   <a class="text-dark" href="#">
    <h2 class="fs-22">
     Bioplex - Beauty &amp; Spa Creative Wordpress Template
    </h2>
   </a>
   <div class="d-flex">
    <ul class="d-flex">
     <li class="mr-5">
      <a class="icons" href="#">
       <i class="fe fe-briefcase text-muted mr-1">
       </i>
       Wordpress
      </a>
     </li>
     <li class="mr-5">
      <a class="icons" href="#">
       <i class="fe fe-calendar text-muted mr-1">
       </i>
       5 hours ago
      </a>
     </li>
     <li class="mr-5">
      <a class="icons" href="#">
       <i class="fe fe-eye text-muted mr-1">
       </i>
       765
      </a>
     </li>
    </ul>
   </div>
  </div>
  <div class="marketplace-single-imag mx-auto text-center">
   <div class="product-slider">
    <div class="carousel slide" data-ride="carousel" id="carousel">
     <div class="carousel-inner">
      <div class="carousel-item active">
       <img alt="img" src="../../assets/images/media/pictures/thumb-1.jpg"/>
      </div>
      <div class="carousel-item">
       <img alt="img" src="../../assets/images/media/pictures/thumb-2.jpg"/>
      </div>
      <div class="carousel-item">
       <img alt="img" src="../../assets/images/media/pictures/thumb-3.jpg"/>
      </div>
      <div class="carousel-item">
       <img alt="img" src="../../assets/images/media/pictures/thumb-4.jpg"/>
      </div>
      <div class="carousel-item">
       <img alt="img" src="../../assets/images/media/pictures/thumb-5.jpg"/>
      </div>
     </div>
     <a class="carousel-control-prev" data-slide="prev" href="#carousel" role="button">
      <i aria-hidden="true" class="fa fa-angle-left">
      </i>
     </a>
     <a class="carousel-control-next" data-slide="next" href="#carousel" role="button">
      <i aria-hidden="true" class="fa fa-angle-right">
      </i>
     </a>
    </div>
    <div class="clearfix">
     <div class="carousel slide" data-interval="false" id="thumbcarousel">
      <div class="carousel-inner">
       <div class="carousel-item active">
        <div class="thumb" data-slide-to="0" data-target="#carousel">
         <img alt="img" src="../../assets/images/media/pictures/thumb-1.jpg"/>
        </div>
        <div class="thumb" data-slide-to="1" data-target="#carousel">
         <img alt="img" src="../../assets/images/media/pictures/thumb-2.jpg"/>
        </div>
        <div class="thumb" data-slide-to="2" data-target="#carousel">
         <img alt="img" src="../../assets/images/media/pictures/thumb-3.jpg"/>
        </div>
        <div class="thumb" data-slide-to="3" data-target="#carousel">
         <img alt="img" src="../../assets/images/media/pictures/thumb-4.jpg"/>
        </div>
        <div class="thumb" data-slide-to="4" data-target="#carousel">
         <img alt="img" src="../../assets/images/media/pictures/thumb-5.jpg"/>
        </div>
       </div>
       <div class="carousel-item">
        <div class="thumb" data-slide-to="0" data-target="#carousel">
         <img alt="img" src="../../assets/images/media/pictures/thumb-1.jpg"/>
        </div>
        <div class="thumb" data-slide-to="1" data-target="#carousel">
         <img alt="img" src="../../assets/images/media/pictures/thumb-2.jpg"/>
        </div>
        <div class="thumb" data-slide-to="2" data-target="#carousel">
         <img alt="img" src="../../assets/images/media/pictures/thumb-3.jpg"/>
        </div>
        <div class="thumb" data-slide-to="3" data-target="#carousel">
         <img alt="img" src="../../assets/images/media/pictures/thumb-4.jpg"/>
        </div>
        <div class="thumb" data-slide-to="4" data-target="#carousel">
         <img alt="img" src="../../assets/images/media/pictures/thumb-5.jpg"/>
        </div>
       </div>
      </div>
      <a class="carousel-control-prev" data-slide="prev" href="#thumbcarousel" role="button">
       <i aria-hidden="true" class="fa fa-angle-left">
       </i>
      </a>
      <a class="carousel-control-next" data-slide="next" href="#thumbcarousel" role="button">
       <i aria-hidden="true" class="fa fa-angle-right">
       </i>
      </a>
     </div>
    </div>
   </div>
   <div class="p-4 border btn-list">
    <a class="btn ripple btn-primary mb-lg-0" href="#">
     <i class="fe fe-airplay">
     </i>
     Live Preview
    </a>
    <a class="btn ripple btn-outline-primary mb-lg-0" href="#">
     <i class="fe fe-heart">
     </i>
     Add to Favorites
    </a>
    <a class="btn ripple btn-outline-gray mb-lg-0" href="#">
     <i class="fa fa-folder-open-o">
     </i>
     Add to Collection
    </a>
   </div>
  </div>
 </div>
</div>
