<!-- from ./themeforest-templist/HTML/LTR/Html/page-details1.html -->
<div class="card">
 <div class="card-body">
  <div class="rating-stars d-flex">
   <h5 class="mr-3 mt-1">
    Items Rating:
   </h5>
   <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="4"/>
   <div class="rating-stars-container mr-2">
    <div class="rating-star md">
     <i class="fa fa-star">
     </i>
    </div>
    <div class="rating-star md">
     <i class="fa fa-star">
     </i>
    </div>
    <div class="rating-star md">
     <i class="fa fa-star">
     </i>
    </div>
    <div class="rating-star md">
     <i class="fa fa-star">
     </i>
    </div>
    <div class="rating-star md">
     <i class="fa fa-star">
     </i>
    </div>
   </div>
   <span class="mt-1">
    (135)
   </span>
  </div>
  <small class="text-muted">
   Minimum of 3 Votes required
  </small>
 </div>
</div>
