<!-- from ./themeforest-templist/HTML/LTR/Html/page-details1.html -->
<div class="card mt-5 mb-xl-0">
 <div class="card-header">
  <h3 class="card-title">
   Item Rating
  </h3>
 </div>
 <div class="card-body">
  <div class="rating-stars d-flex mb-3">
   <label class="form-label mr-3 mt-1">
    Select Rating:
   </label>
   <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="3"/>
   <div class="rating-stars-container mr-2">
    <div class="rating-star lg">
     <i class="fa fa-star">
     </i>
    </div>
    <div class="rating-star lg">
     <i class="fa fa-star">
     </i>
    </div>
    <div class="rating-star lg">
     <i class="fa fa-star">
     </i>
    </div>
    <div class="rating-star lg">
     <i class="fa fa-star">
     </i>
    </div>
    <div class="rating-star lg">
     <i class="fa fa-star">
     </i>
    </div>
   </div>
  </div>
  <div class="form-group reviewselect">
   <select class="form-control select2 custom-select">
    <option value="0">
     SelectOptions
    </option>
    <option value="1">
     Customer Support
    </option>
    <option value="2">
     Design Qulity
    </option>
    <option value="3">
     Other
    </option>
   </select>
  </div>
  <div class="form-group">
   <textarea class="form-control" name="example-textarea-input" placeholder="Comment" rows="6"></textarea>
  </div>
  <a class="btn ripple btn-primary" href="#">
   Save
  </a>
 </div>
</div>
