<!-- from ./themeforest-templist/HTML/LTR/Html/page-list-right.html -->
<div class="card overflow-hidden">
 <div class="item-card9-img">
  <div class="item-card9-imgs">
   <a href="page-details.html">
   </a>
   <img alt="img" class="cover-image" src="../../assets/images/media/pictures/thumb-list/4.jpg"/>
  </div>
  <div class="item-card9-icons">
   <a class="item-card9-icons1 bg-pink" data-placement="top" data-toggle="tooltip" href="#" title="Wishlist">
    <i class="fa fa fa-heart-o">
    </i>
   </a>
   <a class="item-card9-icons1 bg-purple" data-placement="top" data-toggle="tooltip" href="#" title="Share">
    <i class="icon icon-share">
    </i>
   </a>
  </div>
  <div class="item-card7-overlaytext">
   <a class="text-white" href="#">
    PHP
   </a>
   <h4 class="mb-0">
    $32
   </h4>
  </div>
 </div>
 <div class="card-body">
  <div class="item-card9">
   <a class="text-dark mt-2" href="page-details.html">
    <h4 class="mt-0 mb-2">
     PHP Template
    </h4>
   </a>
   <div class="mt-0 fs-13 mb-4">
    by
    <a class="" href="#">
     John
    </a>
    in
    <a class="" href="#">
     PHP Templates
    </a>
   </div>
   <div class="d-md-flex">
    <div class="rating-stars d-flex">
     <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="4"/>
     <div class="rating-stars-container mr-2">
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
     </div>
     (4)
    </div>
    <a class="ml-auto mt-1" href="#">
     <span class="text-muted fs-13">
      <i class="fe fe-shopping-cart text-muted mr-1">
      </i>
      125 Sales
     </span>
    </a>
   </div>
  </div>
 </div>
 <div class="card-footer">
  <div class="btn ripple btn-list m-md-0 p-md-0">
   <a class="btn ripple btn-primary mb-lg-0" href="#">
    Live Preview
   </a>
   <a class="btn ripple btn-secondary mb-lg-0" href="#">
    Buy Now
   </a>
  </div>
 </div>
</div>
