<!-- from ./themeforest-templist/HTML/LTR/Html/page-details1.html -->
<div class="card mt-5 mb-xl-0">
 <div class="card-header">
  <h3 class="card-title">
   Write Your Comments
  </h3>
 </div>
 <div class="card-body">
  <div class="form-group">
   <input class="form-control" id="name1" placeholder="Your Name" type="text"/>
  </div>
  <div class="form-group">
   <input class="form-control" id="email" placeholder="Email address" type="email"/>
  </div>
  <div class="form-group">
   <textarea class="form-control" name="example-textarea-input" placeholder="Write Your Comment" rows="6"></textarea>
  </div>
  <a class="btn ripple btn-primary" href="#">
   Submit
  </a>
 </div>
</div>
