<!-- from ./themeforest-templist/HTML/LTR/Html/page-details1.html -->
<div class="card">
 <div class="licence-niceselect pt-4 pl-4 pr-4 pb-0">
  <div class="licence-niceselect">
   <select class="nice-select required" id="licence-categories" name="custom1">
    <option value="regular">
     Regular License
    </option>
    <option value="extend">
     Extended License
    </option>
   </select>
  </div>
 </div>
 <div class="pt-4 pb-4 pl-5 pr-5 border-bottom">
  <div class="licence-content active" id="regular">
   <span class="mb-0 ml-auto licence-price">
    $32
   </span>
   <ul class="list-unstyled widget-spec mb-0">
    <li>
     <i aria-hidden="true" class="fe fe-check">
     </i>
     6 Months Support &amp; Updates
    </li>
    <li>
     <i aria-hidden="true" class="fe fe-check">
     </i>
     Forum Support
    </li>
    <li>
     <i aria-hidden="true" class="fe fe-check">
     </i>
     Best Qulity Product
    </li>
    <li>
     <i aria-hidden="true" class="fe fe-check">
     </i>
     One domain
    </li>
   </ul>
  </div>
  <div class="licence-content" id="extend">
   <span class="mb-0 ml-auto licence-price">
    $632
   </span>
   <ul class="list-unstyled widget-spec mb-0">
    <li>
     <i aria-hidden="true" class="fe fe-check">
     </i>
     1 year Support &amp; Updates
    </li>
    <li>
     <i aria-hidden="true" class="fe fe-check">
     </i>
     Forum Support
    </li>
    <li>
     <i aria-hidden="true" class="fe fe-check">
     </i>
     Best Qulity Product
    </li>
    <li>
     <i aria-hidden="true" class="fe fe-check">
     </i>
     Unlimted domain
    </li>
   </ul>
  </div>
 </div>
 <div class="card-body item-user">
  <a class="btn ripple btn-primary btn-block btn-lg" href="#">
   <i class="fe fe-shopping-cart mr-1">
   </i>
   Add to Cart
  </a>
  <a class="btn ripple btn-info btn-block btn-lg" href="#">
   Buy Now
  </a>
 </div>
</div>
