<!-- from ./themeforest-templist/HTML/LTR/Html/page-details-right.html -->
<div class="card">
 <div class="card-body">
  <div class="item-rating-info d-flex mb-4">
   <h5 class="mr-3">
    Items Rating:
   </h5>
   <span class="item-ratings fs-14">
    <a href="#">
     <i class="fa fa-star text-warning">
     </i>
    </a>
    <a href="#">
     <i class="fa fa-star text-warning">
     </i>
    </a>
    <a href="#">
     <i class="fa fa-star text-warning">
     </i>
    </a>
    <a href="#">
     <i class="fa fa-star text-warning">
     </i>
    </a>
    <a href="#">
     <i class="fa fa-star-o text-warning mr-2">
     </i>
    </a>
    (567)
   </span>
  </div>
  <div class="mb-3">
   <small class="mb-0">
    5 Star
    <span class="float-right text-muted">
     60%
    </span>
   </small>
   <div class="progress h-1 mt-1">
    <div class="progress-bar bg-warning w-60" role="progressbar">
    </div>
   </div>
  </div>
  <div class="mb-3">
   <small class="mb-0">
    4 Star
    <span class="float-right text-muted">
     50%
    </span>
   </small>
   <div class="progress h-1 mt-1">
    <div class="progress-bar bg-warning w-40" role="progressbar">
    </div>
   </div>
  </div>
  <div class="mb-3">
   <small class="mb-0">
    3 Star
    <span class="float-right text-muted">
     30%
    </span>
   </small>
   <div class="progress h-1 mt-1">
    <div class="progress-bar bg-warning w-40" role="progressbar">
    </div>
   </div>
  </div>
  <div class="mb-3">
   <small class="mb-0">
    2 Star
    <span class="float-right text-muted">
     20%
    </span>
   </small>
   <div class="progress h-1 mt-1">
    <div class="progress-bar bg-warning w-20" role="progressbar">
    </div>
   </div>
  </div>
  <div class="mb-0">
   <small class="mb-0">
    1 Star
    <span class="float-right text-muted">
     10%
    </span>
   </small>
   <div class="progress h-1 mt-1">
    <div class="progress-barbg-warning w-10" role="progressbar">
    </div>
   </div>
  </div>
 </div>
</div>
