<!-- from ./themeforest-templist/HTML/LTR/Html/page-details-right.html -->
<div class="card overflow-hidden">
 <div class="card-body">
  <div class="item-det mb-4">
   <a class="text-dark" href="#">
    <h2 class="fs-22">
     Bioplex - Beauty &amp; Spa Creative Wordpress Template
    </h2>
   </a>
   <div class="d-flex mt-2">
    <ul class="d-flex">
     <li class="mr-5">
      <a class="icons" href="#">
       <i class="fe fe-briefcase text-muted mr-1">
       </i>
       Wordpress
      </a>
     </li>
     <li class="mr-5">
      <a class="icons" href="#">
       <i class="fe fe-calendar text-muted mr-1">
       </i>
       5 hours ago
      </a>
     </li>
     <li class="mr-5">
      <a class="icons" href="#">
       <i class="fe fe-eye text-muted mr-1">
       </i>
       765
      </a>
     </li>
    </ul>
   </div>
  </div>
  <div class="marketplace-single-imag mx-auto text-center">
   <a class="d-block link-overlay" href="javascript:void(0)">
    <img alt="" class="d-block img-fluid mx-auto text-center w-100" src="../../assets/images/media/pictures/thumb-list/thumb-2.jpg"/>
    <span class="link-overlay-bg rounded">
     <i class="fe fe-search fs-25">
     </i>
    </span>
   </a>
   <div class="p-4 border btn-list">
    <a class="btn ripple btn-primary btn-lg-0" href="#">
     <i class="fe fe-airplay">
     </i>
     Live Preview
    </a>
    <a class="btn ripple btn-outline-primary btn-lg-0" href="#">
     <i class="fe fe-heart">
     </i>
     Add to Favorites
    </a>
    <a class="btn ripple btn-light btn-lg-0" href="#">
     <i class="fa fa-folder-open-o">
     </i>
     Add to Collection
    </a>
   </div>
  </div>
 </div>
</div>
