<!-- from ./themeforest-templist/HTML/LTR/Html/posts.html -->
<div class="card mb-xl-0">
 <div class="card-body">
  <div class="form-group">
   <label class="form-label text-dark">
    Category
   </label>
   <select class="form-control custom-select select2-show-search">
    <option>
     Select
    </option>
    <option value="1">
     HTML
    </option>
    <option value="2">
     Wordpress
    </option>
    <option value="3">
     Angular
    </option>
    <option value="4">
     PHP
    </option>
    <option value="5">
     PSD
    </option>
    <option value="6">
     Others
    </option>
   </select>
  </div>
  <div class="form-group">
   <label class="form-label text-dark">
    Title
   </label>
   <input class="form-control" placeholder="Enter Title" type="text"/>
  </div>
  <div class="form-group">
   <label class="form-label text-dark">
    Features
   </label>
   <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 mb-3 mb-xl-0">
     <input class="form-control" placeholder="100% Fully Responsive" type="text"/>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 mb-3 mb-xl-0">
     <input class="form-control" placeholder="Bootstrap4 Framework" type="text"/>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
     <input class="form-control" placeholder="W3C Validated" type="text"/>
    </div>
   </div>
  </div>
  <div class="form-group">
   <label class="form-label text-dark">
    Description
   </label>
   <textarea class="form-control" name="example-textarea-input" placeholder="text here.." rows="6"></textarea>
  </div>
  <div class="p-2 border mb-4 form-group">
   <form>
    <label>
     Upload Images
    </label>
    <input accept=".jpg, .png, image/jpeg, image/png, html, zip, css,js" id="demo" multiple="" name="files" type="file"/>
   </form>
  </div>
  <div class="">
   <div class="">
    <div class="form-group">
     <label class="form-label text-dark">
      Image1
     </label>
     <select class="form-control custom-select select2">
      <option>
       Image1
      </option>
     </select>
    </div>
    <div class="form-group">
     <label class="form-label text-dark">
      Image2
     </label>
     <select class="form-control custom-select select2">
      <option>
       Image2
      </option>
     </select>
    </div>
   </div>
  </div>
  <div class="form-group">
   <label class="form-label text-dark">
    Tags
   </label>
   <input class="form-control" placeholder="" type="text"/>
  </div>
  <div class="form-group">
   <label class="form-label text-dark">
    Price
   </label>
   <input class="form-control" placeholder="$24" type="text"/>
  </div>
  <div class="form-group">
   <label class="form-label text-dark">
    Message
   </label>
   <textarea class="form-control" name="example-textarea-input" placeholder="text here.." rows="6"></textarea>
  </div>
  <div class="custom-controls-stacked">
   <label class="custom-control custom-checkbox">
    <input class="custom-control-input" name="example-checkbox1" type="checkbox" value="option1"/>
    <span class="custom-control-label">
     I Agree, et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atcorrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident
    </span>
   </label>
  </div>
 </div>
 <div class="card-footer text-right">
  <a class="btn ripple btn-primary" href="#">
   Submit Now
  </a>
 </div>
</div>
