<!-- from ./themeforest-templist/HTML/LTR/Html/posts2.html -->
<div class="card mb-xl-0">
 <div class="card-body">
  <form class="form-horizontal mb-0" id="commentForm" method="get">
   <div class="border pt-0" id="rootwizard">
    <ul class="nav nav-tabs nav-justified">
     <li class="nav-item">
      <a class="nav-link font-bold active" data-toggle="tab" href="#first">
       Step1
      </a>
     </li>
     <li class="nav-item">
      <a class="nav-link font-bold" data-toggle="tab" href="#second">
       Step2
      </a>
     </li>
     <li class="nav-item">
      <a class="nav-link font-bold" data-toggle="tab" href="#third">
       Step3
      </a>
     </li>
    </ul>
    <div class="tab-content card-body mt-3 mb-0 b-0">
     <div class="tab-pane active" id="first">
      <div class="control-group form-group">
       <label class="form-label text-dark">
        Category
       </label>
       <select class="form-control custom-select select2-show-search">
        <option>
         Select
        </option>
        <option value="1">
         HTML
        </option>
        <option value="2">
         Wordpress
        </option>
        <option value="3">
         Angular
        </option>
        <option value="4">
         PHP
        </option>
        <option value="5">
         PSD
        </option>
        <option value="6">
         Others
        </option>
       </select>
      </div>
      <div class="control-group form-group">
       <label class="form-label text-dark">
        Title
       </label>
       <input class="form-control" placeholder="Enter Title" type="text"/>
      </div>
     </div>
     <div class="tab-pane" id="second">
      <div class="control-group form-group">
       <label class="form-label text-dark">
        Features
       </label>
       <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 mb-3 mb-xl-0">
         <input class="form-control" placeholder="100% Fully Responsive" type="text"/>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 mb-3 mb-xl-0">
         <input class="form-control" placeholder="Bootstrap4 Framework" type="text"/>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
         <input class="form-control" placeholder="W3C Validated" type="text"/>
        </div>
       </div>
      </div>
      <div class="control-group form-group">
       <label class="form-label text-dark">
        Description
       </label>
       <textarea class="form-control" name="example-textarea-input" placeholder="text here.." rows="6"></textarea>
      </div>
      <div class="control-group form-group">
       <div class="custom-file">
        <input class="custom-file-input required" name="example-file-input-custom" type="file"/>
        <label class="custom-file-label">
         Upload Images
        </label>
       </div>
      </div>
      <div class="control-group form-group">
       <label class="form-label text-dark">
        Image1
       </label>
       <select class="form-control custom-select select2">
        <option>
         Image1
        </option>
       </select>
      </div>
      <div class="control-group form-group">
       <label class="form-label text-dark">
        Image2
       </label>
       <select class="form-control custom-select select2">
        <option>
         Image2
        </option>
       </select>
      </div>
     </div>
     <div class="tab-pane" id="third">
      <div class="control-group form-group">
       <label class="form-label text-dark">
        Tags
       </label>
       <input class="form-control" placeholder="" type="text"/>
      </div>
      <div class="control-group form-group">
       <label class="form-label text-dark">
        Price
       </label>
       <input class="form-control" placeholder="$24" type="text"/>
      </div>
      <div class="control-group form-group">
       <label class="form-label text-dark">
        Message
       </label>
       <textarea class="form-control" name="example-textarea-input" placeholder="text here.." rows="6"></textarea>
      </div>
      <div class="custom-controls-stacked mb-4">
       <label class="custom-control custom-checkbox">
        <input class="custom-control-input" name="example-checkbox1" type="checkbox" value="option1"/>
        <span class="custom-control-label">
         I Agree, et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atcorrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident
        </span>
       </label>
      </div>
     </div>
     <ul class="list-inline wizard mb-0 mt-4">
      <li class="previous list-inline-item">
       <a class="btn ripple btn-secondary mb-0" href="#">
        Previous
       </a>
      </li>
      <li class="next list-inline-item float-right">
       <a class="btn ripple btn-primary mb-0" href="#">
        Continue
       </a>
      </li>
     </ul>
    </div>
   </div>
  </form>
 </div>
</div>
