<!-- from ./themeforest-templist/HTML/LTR/Html/posts2.html -->
<div class="card">
 <div class="card-header">
  <h3 class="card-title">
   Terms And Conditions
  </h3>
 </div>
 <div class="card-body">
  <ul class="list-unstyled widget-spec vertical-scroll mb-0">
   <li>
    <i aria-hidden="true" class="fa fa-check text-success">
    </i>
    Money Not Refundable
   </li>
   <li>
    <i aria-hidden="true" class="fa fa-check text-success">
    </i>
    You can renew your Premium ad after experted.
   </li>
   <li>
    <i aria-hidden="true" class="fa fa-check text-success">
    </i>
    Premium ads are active for depend on package.
   </li>
   <li>
    <i aria-hidden="true" class="fa fa-check text-success">
    </i>
    Money Not Refundable
   </li>
   <li>
    <i aria-hidden="true" class="fa fa-check text-success">
    </i>
    You can renew your Premium ad after experted.
   </li>
   <li>
    <i aria-hidden="true" class="fa fa-check text-success">
    </i>
    Premium ads are active for depend on package.
   </li>
   <li>
    <i aria-hidden="true" class="fa fa-check text-success">
    </i>
    Money Not Refundable
   </li>
   <li>
    <i aria-hidden="true" class="fa fa-check text-success">
    </i>
    You can renew your Premium ad after experted.
   </li>
   <li>
    <i aria-hidden="true" class="fa fa-check text-success">
    </i>
    Premium ads are active for depend on package.
   </li>
  </ul>
 </div>
</div>
