<!-- from ./themeforest-templist/HTML/LTR/Html/pricing.html -->
<div class="card text-center mb-md-0">
 <div class="card-body price-1 p-6">
  <div class="card-status bg-primary">
  </div>
  <h3 class="card-title">
   Single License
  </h3>
  <div class="display-4 mb-4 font-weight-semibold">
   $12
  </div>
  <ul class="list-unstyled mb-0">
   <li>
    <i class="fe fe-x text-danger mr-2">
    </i>
    Membership
   </li>
   <li>
    <i class="fe fe-x text-danger mr-2">
    </i>
    Theme Updates
   </li>
   <li>
    <i class="fe fe-x text-danger mr-2">
    </i>
    Support &amp; updates
   </li>
   <li>
    <i class="fe fe-x text-danger mr-2">
    </i>
    Forum Support
   </li>
   <li>
    <i class="fe fe-x text-danger mr-2">
    </i>
    Unlimited Downloads
   </li>
  </ul>
  <a class="btn ripple btn-primary mt-4" href="#">
   Select Plan
  </a>
 </div>
</div>
