<!-- from ./themeforest-templist/HTML/LTR/Html/profile.html -->
<div class="card overflow-hidden shadow-none">
 <div class="media card-body media-xs overflow-visible">
  <span class="avatar cover-image avatar-md brround bg-pink mr-3">
   LQ
  </span>
  <div class="media-body valign-middle mt-2">
   <a class="font-weight-semibold text-dark" href="">
    Lillian Quinn
   </a>
   <p class="text-muted mb-0">
    lilliangore
   </p>
  </div>
  <div class="media-body valign-middle text-right overflow-visible mt-4">
   <button class="btn ripple btn-primary btn-sm" type="button">
    <i class="fe fe-rss mr-2">
    </i>
    Follow
   </button>
  </div>
 </div>
</div>
