<!-- from ./themeforest-templist/HTML/LTR/Html/profile.html -->
<div class="card">
 <div class="item-user">
  <div class="profile-pic wideget-user-img mb-0 pt-3">
   <img alt="user" class="brround" src="../../assets/images/users/male/2.jpg"/>
  </div>
 </div>
 <div class="card-body item-user text-center">
  <div class="ml-1">
   <a class="text-dark" href="userprofile.html">
    <h4 class="mt-0 mb-2">
     Jacob Smith
     <i class="ion-checkmark-circled text-success">
     </i>
    </h4>
   </a>
   <span class="text-muted">
    Member since May 2012
   </span>
   <br/>
   <div class="rating-stars d-inline-flex mb-2 mr-3 mt-2">
    <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="4"/>
    <div class="rating-stars-container mr-2">
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
     <div class="rating-star sm">
      <i class="fa fa-star">
      </i>
     </div>
    </div>
    4.0
   </div>
   <h6 class="mt-2 mb-0">
    <a class="btn ripple btn-secondary btn-sm" href="#">
     1245 Views
    </a>
    <a class="btn ripple btn-info btn-sm" href="#">
     850 Followers
    </a>
   </h6>
  </div>
 </div>
 <div class="card-body item-user">
  <h4 class="mb-4">
   Contact Info
  </h4>
  <div>
   <h6>
    <span class="font-weight-semibold">
     <i class="fa fa-map-marker mr-2 mb-2">
     </i>
    </span>
    <a class="text-body" href="#">
     7981 Aspen,  USA
    </a>
   </h6>
   <h6>
    <span class="font-weight-semibold">
     <i class="fa fa-envelope mr-3 mb-2">
     </i>
    </span>
    <a class="text-body" href="#">
     smith@yourdomain.com
    </a>
   </h6>
   <h6>
    <span class="font-weight-semibold">
     <i class="fa fa-phone mr-3 mb-2">
     </i>
    </span>
    <a class="text-body" href="#">
     0-235-657-24587
    </a>
   </h6>
   <h6>
    <span class="font-weight-semibold">
     <i class="fa fa-link mr-3">
     </i>
    </span>
    <a class="text-body" href="#">
     http://spruko.com/
    </a>
   </h6>
  </div>
  <div class="item-user-icons mt-4">
   <a class="facebook-bg mt-0" href="#">
    <i class="fa fa-facebook">
    </i>
   </a>
   <a class="twitter-bg" href="#">
    <i class="fa fa-twitter">
    </i>
   </a>
   <a class="google-bg" href="#">
    <i class="fa fa-google">
    </i>
   </a>
   <a class="dribbble-bg" href="#">
    <i class="fa fa-dribbble">
    </i>
   </a>
  </div>
 </div>
 <div class="card-footer">
  <div class="text-left">
   <a class="btn ripple btn-primary" href="#">
    <i class="fa fa-envelope">
    </i>
    Chat
   </a>
   <a class="btn ripple btn-secondary" data-target="#contact" data-toggle="modal" href="#">
    <i class="fa fa-user">
    </i>
    Contact Me
   </a>
  </div>
 </div>
</div>
