<!-- from ./themeforest-templist/HTML/LTR/Html/profile.html -->
<div class="card over-flow-hidden mb-lg-0 shadow-none">
 <div class="media card-body media-xs overflow-visible">
  <img alt="avatar-img" class="avatar brround avatar-md mr-3" src="../../assets/images/users/female/7.jpg"/>
  <div class="media-body valign-middle mt-2">
   <a class="text-dark font-weight-semibold" href="">
    Anna Sthesia
   </a>
   <p class="text-muted mb-0">
    harryuqt@gmail.com
   </p>
  </div>
  <div class="media-body valign-middle text-right overflow-visible mt-4">
   <button class="btn ripple btn-primary btn-sm" type="button">
    <i class="fe fe-rss mr-2">
    </i>
    Follow
   </button>
  </div>
 </div>
</div>
