<!-- from ./themeforest-templist/HTML/LTR/Html/purchase.html -->
<div class="card manged-ad">
 <div class="row border-bottom ml-0 mr-0">
  <div class="col-lg-4 col-md-12">
   <div class="card-body">
    <h3 class="card-title">
     Name &amp; Details
    </h3>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <h3 class="card-title">
     Price
    </h3>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <h3 class="card-title">
     Download
    </h3>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <h3 class="card-title">
     Rating
    </h3>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <h3 class="card-title">
     Action
    </h3>
   </div>
  </div>
 </div>
 <div class="row ml-0 mr-0">
  <div class="col-lg-4 col-md-12">
   <div class="card-body">
    <div class="d-flex">
     <label class="custom-control custom-checkbox mr-3">
      <input class="custom-control-input" name="checkbox" type="checkbox" value="checkbox"/>
      <span class="custom-control-label">
      </span>
     </label>
     <div class="media mt-0 mb-0">
      <div class="card-aside-img">
       <a href="#">
       </a>
       <img alt="img" class="br-4" src="../../assets/images/media/pictures/small/01.jpg"/>
      </div>
      <div class="media-body">
       <div class="card-item-desc ml-4 p-0">
        <a class="text-dark" href="#">
         <h4 class="text-over">
          HTML Template
         </h4>
        </a>
        <div class="text-muted">
         <i class="fa fa-clock-o mr-1">
         </i>
         Feb-21-2020
        </div>
        <div class="text-muted">
         <i class="fa fa-tag mr-1">
         </i>
         Admin
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <h3 class="font-weight-semibold fs-20">
     $24
    </h3>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <a class="btn ripple btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
     Download Item
     <i class="fa fa-caret-down ml-1">
     </i>
    </a>
    <ul class="dropdown-menu m-0" role="menu">
     <li>
      <a class="dropdown-item" href="#">
       Download License
      </a>
     </li>
     <li>
      <a class="dropdown-item" href="#">
       Documentation
      </a>
     </li>
     <li>
      <a class="dropdown-item" href="#">
       Download All
      </a>
     </li>
    </ul>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <div class="rating-stars d-flex mr-5">
     <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="3"/>
     <div class="rating-stars-container">
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <div class="btn-list">
     <a class="btn ripple btn-success btn-icon text-white" data-original-title="Likes" data-toggle="tooltip">
      <i class="fe fe-thumbs-up">
      </i>
     </a>
     <a class="btn ripple btn-danger btn-icon text-white" data-original-title="Dislikes" data-toggle="tooltip">
      <i class="fe fe-thumbs-down">
      </i>
     </a>
    </div>
   </div>
  </div>
 </div>
 <div class="row border-top ml-0 mr-0">
  <div class="col-lg-4 col-md-12">
   <div class="card-body">
    <div class="d-flex">
     <label class="custom-control custom-checkbox mr-3">
      <input class="custom-control-input" name="checkbox" type="checkbox" value="checkbox"/>
      <span class="custom-control-label">
      </span>
     </label>
     <div class="media mt-0 mb-0">
      <div class="card-aside-img">
       <a href="#">
       </a>
       <img alt="img" class="br-4" src="../../assets/images/media/pictures/small/02.jpg"/>
      </div>
      <div class="media-body">
       <div class="card-item-desc ml-4 p-0">
        <a class="text-dark" href="#">
         <h4 class="text-over">
          Wordpress Template
         </h4>
        </a>
        <div class="text-muted">
         <i class="fa fa-clock-o mr-1">
         </i>
         Oct-23-2019
        </div>
        <div class="text-muted">
         <i class="fa fa-tag mr-1">
         </i>
         Listing
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <h3 class="font-weight-semibold fs-20">
     $56
    </h3>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <a class="btn ripple btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
     Download Item
     <i class="fa fa-caret-down ml-1">
     </i>
    </a>
    <ul class="dropdown-menu m-0" role="menu">
     <li>
      <a class="dropdown-item" href="#">
       Download License
      </a>
     </li>
     <li>
      <a class="dropdown-item" href="#">
       Documentation
      </a>
     </li>
     <li>
      <a class="dropdown-item" href="#">
       Download All
      </a>
     </li>
    </ul>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <div class="rating-stars d-flex mr-5">
     <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="4"/>
     <div class="rating-stars-container">
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <div class="btn-list">
     <a class="btn ripple btn-success btn-icon text-white" data-original-title="Likes" data-toggle="tooltip">
      <i class="fe fe-thumbs-up">
      </i>
     </a>
     <a class="btn ripple btn-danger btn-icon text-white" data-original-title="Dislikes" data-toggle="tooltip">
      <i class="fe fe-thumbs-down">
      </i>
     </a>
    </div>
   </div>
  </div>
 </div>
 <div class="row border-top ml-0 mr-0">
  <div class="col-lg-4 col-md-12">
   <div class="card-body">
    <div class="d-flex">
     <label class="custom-control custom-checkbox mr-3">
      <input class="custom-control-input" name="checkbox" type="checkbox" value="checkbox"/>
      <span class="custom-control-label">
      </span>
     </label>
     <div class="media mt-0 mb-0">
      <div class="card-aside-img">
       <a href="#">
       </a>
       <img alt="img" class="br-4" src="../../assets/images/media/pictures/small/03.jpg"/>
      </div>
      <div class="media-body">
       <div class="card-item-desc ml-4 p-0">
        <a class="text-dark" href="#">
         <h4 class="text-over">
          Angular Template
         </h4>
        </a>
        <div class="text-muted">
         <i class="fa fa-clock-o mr-1">
         </i>
         Nov-15-2019
        </div>
        <div class="text-muted">
         <i class="fa fa-tag mr-1">
         </i>
         Beauty
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <h3 class="font-weight-semibold fs-20">
     $22
    </h3>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <a class="btn ripple btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
     Download Item
     <i class="fa fa-caret-down ml-1">
     </i>
    </a>
    <ul class="dropdown-menu m-0" role="menu">
     <li>
      <a class="dropdown-item" href="#">
       Download License
      </a>
     </li>
     <li>
      <a class="dropdown-item" href="#">
       Documentation
      </a>
     </li>
     <li>
      <a class="dropdown-item" href="#">
       Download All
      </a>
     </li>
    </ul>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <div class="rating-stars d-flex mr-5">
     <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="3"/>
     <div class="rating-stars-container">
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <div class="btn-list">
     <a class="btn ripple btn-success btn-icon text-white" data-original-title="Likes" data-toggle="tooltip">
      <i class="fe fe-thumbs-up">
      </i>
     </a>
     <a class="btn ripple btn-danger btn-icon text-white" data-original-title="Dislikes" data-toggle="tooltip">
      <i class="fe fe-thumbs-down">
      </i>
     </a>
    </div>
   </div>
  </div>
 </div>
 <div class="row border-top ml-0 mr-0">
  <div class="col-lg-4 col-md-12">
   <div class="card-body">
    <div class="d-flex">
     <label class="custom-control custom-checkbox mr-3">
      <input class="custom-control-input" name="checkbox" type="checkbox" value="checkbox"/>
      <span class="custom-control-label">
      </span>
     </label>
     <div class="media mt-0 mb-0">
      <div class="card-aside-img">
       <a href="#">
       </a>
       <img alt="img" class="br-4" src="../../assets/images/media/pictures/small/04.jpg"/>
      </div>
      <div class="media-body">
       <div class="card-item-desc ml-4 p-0">
        <a class="text-dark" href="#">
         <h4 class="text-over">
          PHP Template
         </h4>
        </a>
        <div class="text-muted">
         <i class="fa fa-clock-o mr-1">
         </i>
         Nov-25-2019
        </div>
        <div class="text-muted">
         <i class="fa fa-tag mr-1">
         </i>
         Business
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <h3 class="font-weight-semibold fs-20">
     $18
    </h3>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <a class="btn ripple btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
     Download Item
     <i class="fa fa-caret-down ml-1">
     </i>
    </a>
    <ul class="dropdown-menu m-0" role="menu">
     <li>
      <a class="dropdown-item" href="#">
       Download License
      </a>
     </li>
     <li>
      <a class="dropdown-item" href="#">
       Documentation
      </a>
     </li>
     <li>
      <a class="dropdown-item" href="#">
       Download All
      </a>
     </li>
    </ul>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <div class="rating-stars d-flex mr-5">
     <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="3"/>
     <div class="rating-stars-container">
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <div class="btn-list">
     <a class="btn ripple btn-success btn-icon text-white" data-original-title="Likes" data-toggle="tooltip">
      <i class="fe fe-thumbs-up">
      </i>
     </a>
     <a class="btn ripple btn-danger btn-icon text-white" data-original-title="Dislikes" data-toggle="tooltip">
      <i class="fe fe-thumbs-down">
      </i>
     </a>
    </div>
   </div>
  </div>
 </div>
 <div class="row border-top ml-0 mr-0">
  <div class="col-lg-4 col-md-12">
   <div class="card-body">
    <div class="d-flex">
     <label class="custom-control custom-checkbox mr-3">
      <input class="custom-control-input" name="checkbox" type="checkbox" value="checkbox"/>
      <span class="custom-control-label">
      </span>
     </label>
     <div class="media mt-0 mb-0">
      <div class="card-aside-img">
       <a href="#">
       </a>
       <img alt="img" class="br-4" src="../../assets/images/media/pictures/small/05.jpg"/>
      </div>
      <div class="media-body">
       <div class="card-item-desc ml-4 p-0">
        <a class="text-dark" href="#">
         <h4 class="text-over">
          PSD Template
         </h4>
        </a>
        <div class="text-muted">
         <i class="fa fa-clock-o mr-1">
         </i>
         Feb-21-2020
        </div>
        <div class="text-muted">
         <i class="fa fa-tag mr-1">
         </i>
         Medical
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <h3 class="font-weight-semibold fs-20">
     $25
    </h3>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <a class="btn ripple btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
     Download Item
     <i class="fa fa-caret-down ml-1">
     </i>
    </a>
    <ul class="dropdown-menu m-0" role="menu">
     <li>
      <a class="dropdown-item" href="#">
       Download License
      </a>
     </li>
     <li>
      <a class="dropdown-item" href="#">
       Documentation
      </a>
     </li>
     <li>
      <a class="dropdown-item" href="#">
       Download All
      </a>
     </li>
    </ul>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <div class="rating-stars d-flex mr-5">
     <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="3"/>
     <div class="rating-stars-container">
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <div class="btn-list">
     <a class="btn ripple btn-success btn-icon text-white" data-original-title="Likes" data-toggle="tooltip">
      <i class="fe fe-thumbs-up">
      </i>
     </a>
     <a class="btn ripple btn-danger btn-icon text-white" data-original-title="Dislikes" data-toggle="tooltip">
      <i class="fe fe-thumbs-down">
      </i>
     </a>
    </div>
   </div>
  </div>
 </div>
 <div class="row border-top ml-0 mr-0">
  <div class="col-lg-4 col-md-12">
   <div class="card-body">
    <div class="d-flex">
     <label class="custom-control custom-checkbox mr-3">
      <input class="custom-control-input" name="checkbox" type="checkbox" value="checkbox"/>
      <span class="custom-control-label">
      </span>
     </label>
     <div class="media mt-0 mb-0">
      <div class="card-aside-img">
       <a href="#">
       </a>
       <img alt="img" class="br-4" src="../../assets/images/media/pictures/small/06.jpg"/>
      </div>
      <div class="media-body">
       <div class="card-item-desc ml-4 p-0">
        <a class="text-dark" href="#">
         <h4 class="text-over">
          HTML Template
         </h4>
        </a>
        <div class="text-muted">
         <i class="fa fa-clock-o mr-1">
         </i>
         Dec-15-2018
        </div>
        <div class="text-muted">
         <i class="fa fa-tag mr-1">
         </i>
         Business
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <h3 class="font-weight-semibold fs-20">
     $22
    </h3>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <a class="btn ripple btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
     Download Item
     <i class="fa fa-caret-down ml-1">
     </i>
    </a>
    <ul class="dropdown-menu m-0" role="menu">
     <li>
      <a class="dropdown-item" href="#">
       Download License
      </a>
     </li>
     <li>
      <a class="dropdown-item" href="#">
       Documentation
      </a>
     </li>
     <li>
      <a class="dropdown-item" href="#">
       Download All
      </a>
     </li>
    </ul>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <div class="rating-stars d-flex mr-5">
     <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="4"/>
     <div class="rating-stars-container">
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <div class="btn-list">
     <a class="btn ripple btn-success btn-icon text-white" data-original-title="Likes" data-toggle="tooltip">
      <i class="fe fe-thumbs-up">
      </i>
     </a>
     <a class="btn ripple btn-danger btn-icon text-white" data-original-title="Dislikes" data-toggle="tooltip">
      <i class="fe fe-thumbs-down">
      </i>
     </a>
    </div>
   </div>
  </div>
 </div>
 <div class="row border-top ml-0 mr-0">
  <div class="col-lg-4 col-md-12">
   <div class="card-body">
    <div class="d-flex">
     <label class="custom-control custom-checkbox mr-3">
      <input class="custom-control-input" name="checkbox" type="checkbox" value="checkbox"/>
      <span class="custom-control-label">
      </span>
     </label>
     <div class="media mt-0 mb-0">
      <div class="card-aside-img">
       <a href="#">
       </a>
       <img alt="img" class="br-4" src="../../assets/images/media/pictures/small/07.jpg"/>
      </div>
      <div class="media-body">
       <div class="card-item-desc ml-4 p-0">
        <a class="text-dark" href="#">
         <h4 class="text-over">
          Andora &amp; Admin WebApp Template
         </h4>
        </a>
        <div class="text-muted">
         <i class="fa fa-clock-o mr-1">
         </i>
         Nov-22-2017
        </div>
        <div class="text-muted">
         <i class="fa fa-tag mr-1">
         </i>
         HTML
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <h3 class="font-weight-semibold fs-20">
     $14
    </h3>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <a class="btn ripple btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
     Download Item
     <i class="fa fa-caret-down ml-1">
     </i>
    </a>
    <ul class="dropdown-menu m-0" role="menu">
     <li>
      <a class="dropdown-item" href="#">
       Download License
      </a>
     </li>
     <li>
      <a class="dropdown-item" href="#">
       Documentation
      </a>
     </li>
     <li>
      <a class="dropdown-item" href="#">
       Download All
      </a>
     </li>
    </ul>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <div class="rating-stars d-flex mr-5">
     <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="4"/>
     <div class="rating-stars-container">
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star md">
       <i class="fa fa-star">
       </i>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="col-lg-2 col-md-12">
   <div class="card-body">
    <div class="btn-list">
     <a class="btn ripple btn-success btn-icon text-white" data-original-title="Likes" data-toggle="tooltip">
      <i class="fe fe-thumbs-up">
      </i>
     </a>
     <a class="btn ripple btn-danger btn-icon text-white" data-original-title="Dislikes" data-toggle="tooltip">
      <i class="fe fe-thumbs-down">
      </i>
     </a>
    </div>
   </div>
  </div>
 </div>
</div>
