<!-- from ./themeforest-templist/HTML/LTR/Html/statements.html -->
<div class="card mb-0">
 <div class="card-header">
  <h3 class="card-title">
   Statements List
  </h3>
 </div>
 <div class="table-responsive statement-card">
  <table class="table card-table table-vcenter text-nowrap border-bottom">
   <thead>
    <tr>
     <th>
      Order ID
     </th>
     <th>
      Category
     </th>
     <th>
      Date
     </th>
     <th>
      Author
     </th>
     <th>
      Type
     </th>
     <th>
      Price
     </th>
     <th>
      Status
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      <a class="text-primary" href="inovice.html">
       #89345
      </a>
     </td>
     <td>
      HTML Template
     </td>
     <td>
      07-12-2020
     </td>
     <td class="font-weight-semibold fs-16">
      Lily
     </td>
     <td>
      <a class="badge badge-success" href="#">
       Purchase
      </a>
     </td>
     <td class="font-weight-semibold fs-18">
      $13
     </td>
     <td>
      <a class="badge badge-danger" href="#">
       Pending
      </a>
     </td>
    </tr>
    <tr>
     <td>
      <a class="text-primary" href="inovice.html">
       #39281
      </a>
     </td>
     <td>
      Worpress Template
     </td>
     <td>
      12-11-2020
     </td>
     <td class="font-weight-semibold fs-16">
      Gavin
     </td>
     <td>
      <a class="badge badge-info" href="#">
       Sale
      </a>
     </td>
     <td class="font-weight-semibold fs-18">
      $54
     </td>
     <td>
      <a class="badge badge-primary" href="#">
       Paid
      </a>
     </td>
    </tr>
    <tr>
     <td>
      <a class="text-primary" href="inovice.html">
       #35825
      </a>
     </td>
     <td>
      Angular Template
     </td>
     <td>
      15-11-2020
     </td>
     <td class="font-weight-semibold fs-16">
      Howard
     </td>
     <td>
      <a class="badge badge-primary" href="#">
       Credited
      </a>
     </td>
     <td class="font-weight-semibold fs-18">
      $32
     </td>
     <td>
      <a class="badge badge-primary" href="#">
       Paid
      </a>
     </td>
    </tr>
    <tr>
     <td>
      <a class="text-primary" href="inovice.html">
       #62391
      </a>
     </td>
     <td>
      PHP Template
     </td>
     <td>
      10-11-2020
     </td>
     <td class="font-weight-semibold fs-16">
      Butler
     </td>
     <td>
      <a class="badge badge-warning" href="#">
       Withdraw
      </a>
     </td>
     <td class="font-weight-semibold fs-18">
      $15
     </td>
     <td>
      <a class="badge badge-danger" href="#">
       Pending
      </a>
     </td>
    </tr>
    <tr>
     <td>
      <a class="text-primary" href="inovice.html">
       #92481
      </a>
     </td>
     <td>
      PSD Template
     </td>
     <td>
      07-11-2020
     </td>
     <td class="font-weight-semibold fs-16">
      Eric
     </td>
     <td>
      <a class="badge badge-primary" href="#">
       Credit
      </a>
     </td>
     <td class="font-weight-semibold fs-18">
      $32
     </td>
     <td>
      <a class="badge badge-primary" href="#">
       Paid
      </a>
     </td>
    </tr>
    <tr>
     <td>
      <a class="text-primary" href="inovice.html">
       #29381
      </a>
     </td>
     <td>
      HTML Template
     </td>
     <td>
      31-10-2020
     </td>
     <td class="font-weight-semibold fs-16">
      John
     </td>
     <td>
      <a class="badge badge-info" href="#">
       Sale
      </a>
     </td>
     <td class="font-weight-semibold fs-18">
      $25
     </td>
     <td>
      <a class="badge badge-danger" href="#">
       Pending
      </a>
     </td>
    </tr>
    <tr>
     <td>
      <a class="text-primary" href="inovice.html">
       #72356
      </a>
     </td>
     <td>
      Wordpress Template
     </td>
     <td>
      27-10-2020
     </td>
     <td class="font-weight-semibold fs-16">
      Jessica
     </td>
     <td>
      <a class="badge badge-success" href="#">
       Purchase
      </a>
     </td>
     <td class="font-weight-semibold fs-18">
      $16
     </td>
     <td>
      <a class="badge badge-danger" href="#">
       Pending
      </a>
     </td>
    </tr>
    <tr>
     <td>
      <a class="text-primary" href="inovice.html">
       #89345
      </a>
     </td>
     <td>
      Angular Template
     </td>
     <td>
      30-11-2020
     </td>
     <td class="font-weight-semibold fs-16">
      Emily
     </td>
     <td>
      <a class="badge badge-warning" href="#">
       Withdraw
      </a>
     </td>
     <td class="font-weight-semibold fs-18">
      $24
     </td>
     <td>
      <a class="badge badge-primary" href="#">
       Paid
      </a>
     </td>
    </tr>
    <tr>
     <td>
      <a class="text-primary" href="inovice.html">
       #4570
      </a>
     </td>
     <td>
      PHP Template
     </td>
     <td>
      03-12-2020
     </td>
     <td class="font-weight-semibold fs-16">
      Piers
     </td>
     <td>
      <a class="badge badge-info" href="#">
       Sale
      </a>
     </td>
     <td class="font-weight-semibold fs-18">
      $14
     </td>
     <td>
      <a class="badge badge-danger" href="#">
       Pending
      </a>
     </td>
    </tr>
   </tbody>
  </table>
 </div>
 <div class="card-body">
  <ul class="pagination">
   <li class="page-item page-prev disabled">
    <a class="page-link" href="#" tabindex="-1">
     Prev
    </a>
   </li>
   <li class="page-item active">
    <a class="page-link" href="#">
     1
    </a>
   </li>
   <li class="page-item">
    <a class="page-link" href="#">
     2
    </a>
   </li>
   <li class="page-item">
    <a class="page-link" href="#">
     3
    </a>
   </li>
   <li class="page-item page-next">
    <a class="page-link" href="#">
     Next
    </a>
   </li>
  </ul>
 </div>
</div>
