<!-- from ./themeforest-templist/HTML/LTR/Html/testimonial.html -->
<div class="card">
 <div class="card-body">
  <div class="d-sm-flex team-section">
   <div class="team-img">
    <img alt="img" class="img-thumbnail rounded-circle" src="../../assets/images/users/male/1.jpg"/>
   </div>
   <div class="ml-sm-5 mt-3 mt-sm-0">
    <div class="text-warning mb-0">
     <i class="fa fa-star">
     </i>
     <i class="fa fa-star">
     </i>
     <i class="fa fa-star">
     </i>
     <i class="fa fa-star">
     </i>
     <i class="fa fa-star-half-full">
     </i>
    </div>
    <h4 class="dark-grey-text mt-2">
     Tracey	Poole
    </h4>
    <h6 class="mb-3 text-muted font-weight-normal fs-13">
     Web Developer
    </h6>
    <p class="font-weight-normal dark-grey-text mb-0">
     <i class="fa fa-quote-left pr-2">
     </i>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.
    </p>
   </div>
  </div>
 </div>
</div>
