<!-- from ./themeforest-templist/HTML/LTR/Html/tips.html -->
<div class="card">
 <div class="card-header">
  <h3 class="card-title">
   1. Watch out for email scams
  </h3>
  <div class="card-options">
   <a class="btn ripple btn-sm btn-secondary mr-2" href="#">
    <i class="icon icon-pencil mr-1">
    </i>
    Edit
   </a>
  </div>
 </div>
 <div class="card-body">
  <label class="form-label">
   Select Color Theme
  </label>
  <div class="row gutters-xs mb-3">
   <div class="col-auto">
    <label class="colorinput">
     <input checked="" class="colorinput-input" name="color" type="radio" value="azure"/>
     <span class="colorinput-color bg-azure">
     </span>
    </label>
   </div>
   <div class="col-auto">
    <label class="colorinput">
     <input class="colorinput-input" name="color" type="radio" value="indigo"/>
     <span class="colorinput-color bg-indigo">
     </span>
    </label>
   </div>
   <div class="col-auto">
    <label class="colorinput">
     <input class="colorinput-input" name="color" type="radio" value="purple"/>
     <span class="colorinput-color bg-purple">
     </span>
    </label>
   </div>
   <div class="col-auto">
    <label class="colorinput">
     <input class="colorinput-input" name="color" type="radio" value="pink"/>
     <span class="colorinput-color bg-secondary">
     </span>
    </label>
   </div>
   <div class="col-auto">
    <label class="colorinput">
     <input class="colorinput-input" name="color" type="radio" value="red"/>
     <span class="colorinput-color bg-red">
     </span>
    </label>
   </div>
   <div class="col-auto">
    <label class="colorinput">
     <input class="colorinput-input" name="color" type="radio" value="orange"/>
     <span class="colorinput-color bg-orange">
     </span>
    </label>
   </div>
   <div class="col-auto">
    <label class="colorinput">
     <input class="colorinput-input" name="color" type="radio" value="yellow"/>
     <span class="colorinput-color bg-yellow">
     </span>
    </label>
   </div>
   <div class="col-auto">
    <label class="colorinput">
     <input class="colorinput-input" name="color" type="radio" value="lime"/>
     <span class="colorinput-color bg-lime">
     </span>
    </label>
   </div>
   <div class="col-auto">
    <label class="colorinput">
     <input class="colorinput-input" name="color" type="radio" value="green"/>
     <span class="colorinput-color bg-green">
     </span>
    </label>
   </div>
   <div class="col-auto">
    <label class="colorinput">
     <input class="colorinput-input" name="color" type="radio" value="teal"/>
     <span class="colorinput-color bg-teal">
     </span>
    </label>
   </div>
  </div>
  <ul class="list-unstyled widget-spec mb-0">
   <li class="">
    <i aria-hidden="true" class="fa fa-caret-right text-success">
    </i>
    Nemo enim ipsam voluptatem voluptas sit aspernatur ratione voluptatem sequi nesciunt. laudantium
   </li>
   <li class="">
    <i aria-hidden="true" class="fa fa-caret-right text-success">
    </i>
    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
   </li>
   <li class="">
    <i aria-hidden="true" class="fa fa-caret-right text-success">
    </i>
    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
   </li>
   <li class="mb-0">
    <i aria-hidden="true" class="fa fa-caret-right text-success">
    </i>
    Nemo enim ipsam voluptatem voluptas sit aspernatur ratione voluptatem sequi nesciunt. laudantium
   </li>
  </ul>
 </div>
 <div class="card-footer">
  <a class="btn ripple btn-primary" href="#">
   View More
  </a>
 </div>
</div>
