<!-- from ./themeforest-templist/HTML/LTR/Html/typography.html -->
<div class="card">
 <div class="card-header">
  <h3 class="card-title">
   Text alignment
  </h3>
 </div>
 <div class="card-body">
  <div class="text-wrap">
   <p>
    Easily realign text to components with text alignment classes.
   </p>
   <div class="example">
    <p class="text-left">
     Left aligned text on all viewport sizes.
    </p>
    <p class="text-center">
     Center aligned text on all viewport sizes.
    </p>
    <p class="text-right">
     Right aligned text on all viewport sizes.
    </p>
    <p class="text-justify m-0">
     Both aligned text on all viewport sizes. Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus.
    </p>
   </div>
  </div>
 </div>
</div>
