<!-- from ./themeforest-templist/HTML/LTR/Html/typography.html -->
<div class="card mb-0">
 <div class="card-header">
  <h3 class="card-title">
   Line Height
  </h3>
 </div>
 <div class="card-body">
  <div class="text-wrap">
   <p>
    Utilities for controlling the leading (line height) of an element.
   </p>
   <div class="example">
    <p class="leading-none">
     Lorem ipsum dolor sit amet.
     <br/>
     Dolor sit amet.
    </p>
    <p class="leading-tight">
     Lorem ipsum dolor sit amet.
     <br/>
     Dolor sit amet.
    </p>
    <p class="leading-normal">
     Lorem ipsum dolor sit amet.
     <br/>
     Dolor sit amet.
    </p>
    <p class="leading-loose m-0">
     Lorem ipsum dolor sit amet.
     <br/>
     Dolor sit amet.
    </p>
   </div>
  </div>
 </div>
</div>
