<!-- from ./themeforest-templist/HTML/LTR/Html/typography.html -->
<div class="card">
 <div class="card-header">
  <h3 class="card-title">
   Default Heading Text
  </h3>
 </div>
 <div class="card-body">
  <div class="text-wrap">
   <p>
    Examples using standard
    <code>
     h1
    </code>
    to
    <code>
     h6
    </code>
    html tags
   </p>
   <h1>
    h1. Heading
   </h1>
   <h2>
    h2. Heading
   </h2>
   <h3>
    h3. Heading
   </h3>
   <h4>
    h4. Heading
   </h4>
   <h5>
    h5. Heading
   </h5>
   <h6>
    h6. Heading
   </h6>
  </div>
 </div>
</div>
