<!-- from ./themeforest-templist/HTML/LTR/Html/usersall.html -->
<div class="card shadow-none">
 <div class="card-body p-3">
  <div class="row">
   <div class="col-md-6">
    <div class="media mt-0">
     <div class="card-aside-img">
      <img alt="img" class="bg-light" src="../../assets/images/png/1.png"/>
     </div>
     <div class="media-body ml-3">
      <div class="ml-3 mt-1">
       <h4 class="font-weight-semibold mt-0">
        Jahno Theme
       </h4>
       <div class="author-user">
        <img alt="img" src="../../assets/images/png/01.png"/>
        <img alt="img" src="../../assets/images/png/02.png"/>
        <img alt="img" src="../../assets/images/png/03.png"/>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-md-3">
    <div class="mt-1">
     <span class="d-flex">
      <small>
       Items:
      </small>
      <small class="font-weight-semibold1 ml-2">
       20
      </small>
     </span>
     <span class="d-flex">
      <small>
       Followers:
      </small>
      <small class="font-weight-semibold1 ml-2">
       35
      </small>
     </span>
     <span class="d-flex">
      <small>
       Member Since:
      </small>
      <small class="font-weight-semibold1 ml-2">
       Oct 2019
      </small>
     </span>
    </div>
   </div>
   <div class="col-md-3">
    <div class="text-lg-center mt-3 mt-md-0">
     <h4 class="text-dark fs-25 mb-0 mt-3 mt-md-0">
      67
     </h4>
     <span class="text-muted fs-13">
      Sales
     </span>
     <div class="mt-1">
      <div class="rating-stars block">
       <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="3"/>
       <div class="rating-stars-container mr-2">
        <div class="rating-star sm">
         <i class="fa fa-star">
         </i>
        </div>
        <div class="rating-star sm">
         <i class="fa fa-star">
         </i>
        </div>
        <div class="rating-star sm">
         <i class="fa fa-star">
         </i>
        </div>
        <div class="rating-star sm">
         <i class="fa fa-star">
         </i>
        </div>
        <div class="rating-star sm">
         <i class="fa fa-star">
         </i>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
