<!-- from ./themeforest-templist/HTML/LTR/Html/widgets.html -->
<div class="card">
 <div class="card-body items-gallery">
  <div class="items-blog-tab text-center">
   <h2 class="">
    Latest Templates
   </h2>
   <div class="items-blog-tab-heading row mt-5 mb-3">
    <div class="col-12">
     <ul class="nav items-blog-tab-menu">
      <li class="">
       <a class="active show" data-toggle="tab" href="#tab-1">
        All
       </a>
      </li>
      <li>
       <a class="" data-toggle="tab" href="#tab-2">
        Free
       </a>
      </li>
      <li>
       <a class="" data-toggle="tab" href="#tab-3">
        Premium
       </a>
      </li>
     </ul>
    </div>
   </div>
   <div class="tab-content">
    <div class="tab-pane active" id="tab-1">
     <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-12">
       <div class="card mb-xl-0 shadow-none">
        <div class="item-card8-img br-tr-7 br-tl-7">
         <img alt="img" class="cover-image" src="../../assets/images/media/pictures/1.jpg"/>
        </div>
        <div class="card-body">
         <div class="item-card8-desc">
          <p class="text-muted">
           16 November 2020.
          </p>
          <h3 class="font-weight-semibold">
           HTML Template
          </h3>
          <p class="mb-0">
           Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium  laboriosam
          </p>
         </div>
        </div>
       </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-12">
       <div class="card mb-xl-0 shadow-none">
        <div class="item-card8-img br-tr-7 br-tl-7">
         <img alt="img" class="cover-image" src="../../assets/images/media/pictures/2.jpg"/>
        </div>
        <div class="card-body">
         <div class="item-card8-desc">
          <p class="text-muted">
           16 November 2020.
          </p>
          <h3 class="font-weight-semibold">
           Wordpress Template
          </h3>
          <p class="mb-0">
           Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium  laboriosam
          </p>
         </div>
        </div>
       </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-12">
       <div class="card mb-lg-0 shadow-none">
        <div class="item-card8-img br-tr-7 br-tl-7">
         <img alt="img" class="cover-image" src="../../assets/images/media/pictures/3.jpg"/>
        </div>
        <div class="card-body">
         <div class="item-card8-desc">
          <p class="text-muted">
           16 November 2020.
          </p>
          <h3 class="font-weight-semibold">
           PSD Template
          </h3>
          <p class="mb-0">
           Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium  laboriosam
          </p>
         </div>
        </div>
       </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-12">
       <div class="card mb-0 shadow-none">
        <div class="item-card8-img br-tr-7 br-tl-7">
         <img alt="img" class="cover-image" src="../../assets/images/media/pictures/4.jpg"/>
        </div>
        <div class="card-body">
         <div class="item-card8-desc">
          <p class="text-muted">
           16 November 2020.
          </p>
          <h3 class="font-weight-semibold">
           Angular Template
          </h3>
          <p class="mb-0">
           Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium  laboriosam
          </p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="tab-pane" id="tab-2">
     <div class="row">
      <div class="col-xl-4 col-lg-12 col-md-12">
       <div class="card mb-xl-0 shadow-none">
        <div class="item-card8-img br-tr-7 br-tl-7">
         <img alt="img" class="cover-image" src="../../assets/images/media/pictures/1.jpg"/>
        </div>
        <div class="card-body">
         <div class="item-card8-desc">
          <p class="text-muted">
           16 November 2020.
          </p>
          <h3 class="font-weight-semibold">
           HTML Template
          </h3>
          <p class="mb-0">
           Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium  laboriosam
          </p>
         </div>
        </div>
       </div>
      </div>
      <div class="col-xl-4 col-lg-12 col-md-12">
       <div class="card mb-xl-0 shadow-none">
        <div class="item-card8-img">
         <img alt="img" class="cover-image" src="../../assets/images/media/pictures/2.jpg"/>
        </div>
        <div class="card-body">
         <div class="item-card8-desc">
          <p class="text-muted">
           16 November 2020.
          </p>
          <h3 class="font-weight-semibold">
           PHP Template
          </h3>
          <p class="mb-0">
           Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium  laboriosam
          </p>
         </div>
        </div>
       </div>
      </div>
      <div class="col-xl-4 col-lg-12 col-md-12">
       <div class="card mb-0 shadow-none">
        <div class="item-card8-img">
         <img alt="img" class="cover-image" src="../../assets/images/media/pictures/3.jpg"/>
        </div>
        <div class="card-body">
         <div class="item-card8-desc">
          <p class="text-muted">
           16 November 2020.
          </p>
          <h3 class="font-weight-semibold">
           Angular Template
          </h3>
          <p class="mb-0">
           Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium  laboriosam
          </p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="tab-pane" id="tab-3">
     <div class="row">
      <div class="col-xl-4 col-lg-12 col-md-12">
       <div class="card mb-xl-0 shadow-none">
        <div class="item-card8-img br-tr-7 br-tl-7">
         <img alt="img" class="cover-image" src="../../assets/images/media/pictures/4.jpg"/>
        </div>
        <div class="card-body">
         <div class="item-card8-desc">
          <p class="text-muted">
           16 November 2020.
          </p>
          <h3 class="font-weight-semibold">
           Wordpress Template
          </h3>
          <p class="mb-0">
           Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium  laboriosam
          </p>
         </div>
        </div>
       </div>
      </div>
      <div class="col-xl-4 col-lg-12 col-md-12">
       <div class="card mb-0 shadow-none">
        <div class="item-card8-img">
         <img alt="img" class="cover-image" src="../../assets/images/media/pictures/3.jpg"/>
        </div>
        <div class="card-body">
         <div class="item-card8-desc">
          <p class="text-muted">
           16 November 2020.
          </p>
          <h3 class="font-weight-semibold">
           PHP Template
          </h3>
          <p class="mb-0">
           Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium  laboriosam
          </p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
