<!-- from ./themeforest-templist/HTML/LTR/Html/widgets.html -->
<div class="card">
 <div class="card-body">
  <div class="team-section text-center">
   <div class="team-img">
    <img alt="img" class="img-thumbnail rounded-circle alt=" src="../../assets/images/users/male/1.jpg"/>
   </div>
   <h3 class="dark-grey-text mt-4 mb-2">
    Tracey Poole
   </h3>
   <h6 class="font-weight-normal text-muted mb-3">
    Web Designer
   </h6>
   <p class="font-weight-normal dark-grey-text">
    <i class="fa fa-quote-left pr-2">
    </i>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.
   </p>
   <div class="text-warning">
    <i class="fa fa-star">
    </i>
    <i class="fa fa-star">
    </i>
    <i class="fa fa-star">
    </i>
    <i class="fa fa-star">
    </i>
    <i class="fa fa-star-half-full">
    </i>
   </div>
  </div>
 </div>
</div>
