<!-- from ./themeforest-templist/HTML/LTR/Html/widgets.html -->
<div class="card mb-lg-0 shadow-none">
 <div class="item-card8-img br-tr-7 br-tl-7">
  <img alt="img" class="cover-image" src="../../assets/images/media/pictures/3.jpg"/>
 </div>
 <div class="card-body">
  <div class="item-card8-desc">
   <p class="text-muted">
    16 November 2020.
   </p>
   <h3 class="font-weight-semibold">
    PSD Template
   </h3>
   <p class="mb-0">
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium  laboriosam
   </p>
  </div>
 </div>
</div>
