<!-- from ./themeforest-templist/HTML/LTR/Html/widgets.html -->
<div class="card">
 <div class="card-header">
  <h3 class="card-title">
   Feature Templates
  </h3>
 </div>
 <div class="card-body pb-3 pt-2">
  <div class="rated-products">
   <ul class="vertical-scroll">
    <li class="item">
     <div class="media m-0 mt-0 p-5">
      <img alt="img" class="mr-4" src="../../assets/images/png/1.png"/>
      <div class="media-body">
       <h4 class="mt-2 mb-1">
        HTML Template
       </h4>
       <span class="rated-products-ratings">
        <i class="fa fa-star text-warning">
        </i>
        <i class="fa fa-star text-warning">
        </i>
        <i class="fa fa-star text-warning">
        </i>
        <i class="fa fa-star text-warning">
        </i>
        <i class="fa fa-star text-warning">
        </i>
       </span>
       <div class="d-flex">
        <div class="h5 mb-0 font-weight-semibold mt-1">
         $17
        </div>
        <div class="ml-auto">
         <div class="mt-1 fs-13">
          <span class="text-muted mr-4">
           <i class="fe fe-download">
           </i>
           21
          </span>
          <span class="text-muted">
           <i class="fe fe-heart">
           </i>
           345
          </span>
         </div>
        </div>
       </div>
      </div>
     </div>
    </li>
    <li class="item">
     <div class="media p-5 mt-0">
      <img alt="img" class="mr-4" src="../../assets/images/png/2.png"/>
      <div class="media-body">
       <h4 class="mt-2 mb-1">
        Wordpress Template
       </h4>
       <span class="rated-products-ratings">
        <i class="fa fa-star text-warning">
        </i>
        <i class="fa fa-star text-warning">
        </i>
        <i class="fa fa-star text-warning">
        </i>
        <i class="fa fa-star text-warning">
        </i>
        <i class="fa fa-star-o text-warning">
        </i>
       </span>
       <div class="d-flex">
        <div class="h5 mb-0 font-weight-semibold mt-1">
         $22
        </div>
        <div class="ml-auto">
         <div class="mt-1 fs-13">
          <span class="text-muted mr-4">
           <i class="fe fe-download">
           </i>
           33
          </span>
          <span class="text-muted">
           <i class="fe fe-heart">
           </i>
           219
          </span>
         </div>
        </div>
       </div>
      </div>
     </div>
    </li>
    <li class="item">
     <div class="media p-5 mt-0">
      <img alt="img" class="mr-4" src="../../assets/images/png/3.png"/>
      <div class="media-body">
       <h4 class="mt-2 mb-1">
        Angular Template
       </h4>
       <span class="rated-products-ratings">
        <i class="fa fa-star text-warning">
        </i>
        <i class="fa fa-star text-warning">
        </i>
        <i class="fa fa-star text-warning">
        </i>
        <i class="fa fa-star text-warning">
        </i>
        <i class="fa fa-star-half-o text-warning">
        </i>
       </span>
       <div class="d-flex">
        <div class="h5 mb-0 font-weight-semibold mt-1">
         $35
        </div>
        <div class="ml-auto">
         <div class="mt-1 fs-13">
          <span class="text-muted mr-4">
           <i class="fe fe-download">
           </i>
           45
          </span>
          <span class="text-muted">
           <i class="fe fe-heart">
           </i>
           108
          </span>
         </div>
        </div>
       </div>
      </div>
     </div>
    </li>
    <li class="item">
     <div class="media p-5 mt-0">
      <img alt="img" class="mr-4" src="../../assets/images/png/4.png"/>
      <div class="media-body">
       <h4 class="mt-2 mb-1">
        PHP Template
       </h4>
       <span class="rated-products-ratings">
        <i class="fa fa-star text-warning">
        </i>
        <i class="fa fa-star text-warning">
        </i>
        <i class="fa fa-star text-warning">
        </i>
        <i class="fa fa-star-half-o text-warning">
        </i>
        <i class="fa fa-star-o text-warning">
        </i>
       </span>
       <div class="d-flex">
        <div class="h5 mb-0 font-weight-semibold mt-1">
         $12
        </div>
        <div class="ml-auto">
         <div class="mt-1 fs-13">
          <span class="text-muted mr-4">
           <i class="fe fe-download">
           </i>
           24
          </span>
          <span class="text-muted">
           <i class="fe fe-heart">
           </i>
           123
          </span>
         </div>
        </div>
       </div>
      </div>
     </div>
    </li>
    <li class="item">
     <div class="media mb-0 p-5 mt-0">
      <img alt="img" class="mr-4" src="../../assets/images/png/5.png"/>
      <div class="media-body">
       <h4 class="mt-2 mb-1">
        PSD Template
       </h4>
       <span class="rated-products-ratings">
        <i class="fa fa-star text-warning">
        </i>
        <i class="fa fa-star text-warning">
        </i>
        <i class="fa fa-star text-warning">
        </i>
        <i class="fa fa-star-o text-warning">
        </i>
        <i class="fa fa-star-o text-warning">
        </i>
       </span>
       <div class="d-flex">
        <div class="h5 mb-0 font-weight-semibold mt-1">
         $19
        </div>
        <div class="ml-auto">
         <div class="mt-1 fs-13">
          <span class="text-muted mr-4">
           <i class="fe fe-download">
           </i>
           36
          </span>
          <span class="text-muted">
           <i class="fe fe-heart">
           </i>
           236
          </span>
         </div>
        </div>
       </div>
      </div>
     </div>
    </li>
   </ul>
  </div>
 </div>
</div>
