<!-- from ./themeforest-templist/HTML/LTR/Html/widgets.html -->
<div class="card">
 <div class="card-body">
  <div class="border-0">
   <div class="tab-content">
    <div class="tab-pane active" id="tab-51">
     <div id="profile-log-switch">
      <div class="media-heading">
       <h5>
        <strong>
         Personal Information
        </strong>
       </h5>
      </div>
      <div class="table-responsive">
       <table class="table row table-borderless">
        <tbody class="col-lg-12 col-xl-6 p-0">
         <tr>
          <td>
           <strong>
            Full Name :
           </strong>
           Rubin Carmody
          </td>
         </tr>
         <tr>
          <td>
           <strong>
            Location :
           </strong>
           USA
          </td>
         </tr>
         <tr>
          <td>
           <strong>
            Languages :
           </strong>
           English, German, IT Itemsnish.
          </td>
         </tr>
        </tbody>
        <tbody class="col-lg-12 col-xl-6 p-0">
         <tr>
          <td>
           <strong>
            Website :
           </strong>
           .com
          </td>
         </tr>
         <tr>
          <td>
           <strong>
            Email :
           </strong>
           georgemestayer@.com
          </td>
         </tr>
         <tr>
          <td>
           <strong>
            Phone :
           </strong>
           +125 254 3562
          </td>
         </tr>
        </tbody>
       </table>
      </div>
      <div class="row profie-img">
       <div class="col-md-12 text-justify">
        <div class="media-heading">
         <h5>
          <strong>
           Biography
          </strong>
         </h5>
        </div>
        <p>
         Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus
        </p>
        <p class="mb-0">
         because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter but because those who do not know how to pursue consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
        </p>
       </div>
      </div>
     </div>
    </div>
    <div class="tab-pane" id="tab-61">
     <div class="row">
      <div class="col-lg-3 col-md-6 mb-5 mb-xl-0">
       <img alt="banner image" class="img-fluid rounded" src="../../assets/images/media/0-7.jpg "/>
      </div>
      <div class="col-lg-3 col-md-6">
       <img alt="banner image " class="img-fluid rounded" src="../../assets/images/media/0-8.jpg"/>
      </div>
      <div class="col-lg-3 col-md-6">
       <img alt="banner image " class="img-fluid rounded" src="../../assets/images/media/0-9.jpg"/>
      </div>
      <div class="col-lg-3 col-md-6">
       <img alt="banner image " class="img-fluid rounded" src="../../assets/images/media/0-10.jpg"/>
      </div>
     </div>
    </div>
    <div class="tab-pane" id="tab-71">
     <div class="wideget-user-followers">
      <div class="media m-0 mt-0">
       <img alt="avatar-img" class="avatar brround avatar-md mr-3" src="../../assets/images/users/male/18.jpg"/>
       <div class="media-body">
        <a class="text-default font-weight-semibold" href="">
         John Paige
        </a>
        <p class="text-muted">
         johan@gmail.com
        </p>
       </div>
      </div>
      <div class="media mt-2">
       <span class="avatar cover-image avatar-md brround bg-secondary mr-3">
        LQ
       </span>
       <div class="media-body">
        <a class="text-default font-weight-semibold" href="">
         Lillian Quinn
        </a>
        <p class="text-muted">
         lilliangore
        </p>
       </div>
      </div>
      <div class="media mt-2">
       <span class="avatar cover-image avatar-md brround mr-3">
        IH
       </span>
       <div class="media-body">
        <a class="text-default font-weight-semibold" href="">
         Irene Harris
        </a>
        <p class="text-muted">
         ireneharris@gmail.com
        </p>
       </div>
      </div>
      <div class="media mt-2">
       <img alt="avatar-img" class="avatar brround avatar-md mr-3" src="../../assets/images/users/female/22.jpg"/>
       <div class="media-body">
        <a class="text-default font-weight-semibold" href="">
         Harry Fisher
        </a>
        <p class="text-muted mb-0">
         harryuqt
        </p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
