<!-- from ./themeforest-templist/HTML/LTR/Html/widgets.html -->
<div class="card">
 <div class="card-header">
  <h3 class="card-title">
   Recent
  </h3>
 </div>
 <div class="card-body pb-4">
  <ul class="vertical-scroll">
   <li class="item">
    <div class="p-3">
     <div class="mb-2">
      <a class="text-dark" href="support.html">
       <span class="fs-16">
        <i aria-hidden="true" class="fa fa-question-circle-o">
        </i>
        How Can I Itemsd another page in Template?
       </span>
      </a>
     </div>
     <span class="badge badge-primary">
      <i class="fa fa-eye">
      </i>
      522
     </span>
     <span class="badge badge-success">
      <i class="fa fa-thumbs-up">
      </i>
      23
     </span>
    </div>
   </li>
   <li class="item">
    <div class="p-3">
     <div class="mb-2">
      <a class="text-dark" href="support.html">
       <span class="fs-16">
        <i aria-hidden="true" class="fa fa-question-circle-o">
        </i>
        Move Detials From One Page to Another Page?
       </span>
      </a>
     </div>
     <span class="badge badge-primary">
      <i class="fa fa-eye">
      </i>
      652
     </span>
     <span class="badge badge-success">
      <i class="fa fa-thumbs-up">
      </i>
      54
     </span>
    </div>
   </li>
   <li class="item">
    <div class="p-3">
     <div class="mb-2">
      <a class="text-dark" href="support.html">
       <span class="fs-16">
        <i aria-hidden="true" class="fa fa-question-circle-o">
        </i>
        How Can I Change My Details of My Post Itemsd?
       </span>
      </a>
     </div>
     <span class="badge badge-primary">
      <i class="fa fa-eye">
      </i>
      147
     </span>
     <span class="badge badge-success">
      <i class="fa fa-thumbs-up">
      </i>
      14
     </span>
    </div>
   </li>
   <li class="item">
    <div class="p-3">
     <div class="mb-2">
      <a class="text-dark" href="support.html">
       <span class="fs-16">
        Can I use this Plugins in Another Template?
       </span>
      </a>
     </div>
     <span class="badge badge-primary">
      <i class="fa fa-eye">
      </i>
      965
     </span>
     <span class="badge badge-success">
      <i class="fa fa-thumbs-up">
      </i>
      35
     </span>
    </div>
   </li>
   <li class="item">
    <div class="p-3">
     <div class="mb-2">
      <a class="text-dark" href="support.html">
       <span class="fs-16">
        How can I Delete My Free Itemsvertisement in website?
       </span>
      </a>
     </div>
     <span class="badge badge-primary">
      <i class="fa fa-eye">
      </i>
      654
     </span>
     <span class="badge badge-success">
      <i class="fa fa-thumbs-up">
      </i>
      17
     </span>
    </div>
   </li>
  </ul>
 </div>
</div>
