<!-- from ./themeforest-templist/HTML/LTR/Html/widgets.html -->
<div class="card">
 <div class="product-item2">
  <img alt="img" src="../../assets/images/media/pictures/3.jpg"/>
 </div>
 <div class="card-body">
  <div class="product-item2-desc">
   <h3 class="font-weight-semibold text-dark">
    <a class="text-dark" href="#">
     Networking Classes
    </a>
   </h3>
   <p class="text-muted fs-13">
    Nemo enim ipsam voluptatem voluptas  nesciunt. laudantium
   </p>
   <ul class="product-item2-rating">
    <li>
     <a href="#">
      <i class="fa fa-star text-warning">
      </i>
     </a>
     <a href="#">
      <i class="fa fa-star text-warning">
      </i>
     </a>
     <a href="#">
      <i class="fa fa-star text-warning">
      </i>
     </a>
     <a href="#">
      <i class="fa fa-star text-warning">
      </i>
     </a>
     <a href="#">
      <i class="fa fa-star-o text-warning">
      </i>
     </a>
    </li>
   </ul>
   <div class="label-rating text-muted">
    176 reviews
   </div>
   <div class="label-rating text-muted float-right">
    <i class="fa fa-shopping-cart text-muted mr-2">
    </i>
    99 orders
   </div>
  </div>
 </div>
 <div class="card-footer">
  <div class="product-item-wrap d-flex">
   <div class="product-item-price">
    <span class="newprice text-dark">
     $63.00
    </span>
    <del class="oldprice text-muted">
     $87.00
    </del>
   </div>
   <div class="ml-auto mt-1">
    <span class="text-muted">
     <i class="fe fe-shopping-cart">
     </i>
     14
    </span>
   </div>
  </div>
 </div>
</div>
