<!-- from ./themeforest-templist/HTML/LTR/Html/widgets.html -->
<div class="card overflow-hidden shadow-none mb-0">
 <div class="item-card-btn-hover">
  <div class="power-ribbon power-ribbon-top-left text-warning">
   <span class="bg-warning">
    <i class="fa fa-bolt">
    </i>
   </span>
  </div>
  <div class="d-md-flex">
   <div class="item-card9-img">
    <div class="item-card2-imgs">
     <a href="page-details.html">
     </a>
     <div class="carousel slide property-slide" data-interval="false" data-ride="carousel" id="carousel-controls">
      <div class="carousel-inner">
       <div class="carousel-item active">
        <img alt="img" class="cover-image d-block w-100" data-holder-rendered="true" src="../../assets/images/media/pictures/thumb-list/thumb-1.jpg"/>
       </div>
       <div class="carousel-item">
        <img alt="img" class="cover-image d-block w-100" data-holder-rendered="true" src="../../assets/images/media/pictures/thumb-list/thumb-7.jpg"/>
       </div>
       <div class="carousel-item">
        <img alt="img" class="cover-image d-block w-100" data-holder-rendered="true" src="../../assets/images/media/pictures/thumb-list/thumb-8.jpg"/>
       </div>
      </div>
      <a class="carousel-control-prev" data-slide="prev" href="#carousel-controls" role="button">
       <span aria-hidden="true" class="fe fe-chevron-left">
       </span>
      </a>
      <a class="carousel-control-next" data-slide="next" href="#carousel-controls" role="button">
       <span aria-hidden="true" class="fe fe-chevron-right">
       </span>
      </a>
     </div>
    </div>
    <div class="item-card9-icons">
     <a class="item-card9-icons1 bg-pink" data-placement="top" data-toggle="tooltip" href="#" title="Wishlist">
      <i class="fa fa fa-heart-o">
      </i>
     </a>
     <a class="item-card9-icons1 bg-purple" data-placement="top" data-toggle="tooltip" href="#" title="Share">
      <i class="icon icon-share">
      </i>
     </a>
    </div>
    <div class="item-card7-overlaytext">
     <a class="text-white" href="#">
      HTML
     </a>
    </div>
    <div class="item-trans-rating">
     <div class="rating-stars block">
      <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="4"/>
      <div class="rating-stars-container mr-2">
       <div class="rating-star sm">
        <i class="fa fa-star">
        </i>
       </div>
       <div class="rating-star sm">
        <i class="fa fa-star">
        </i>
       </div>
       <div class="rating-star sm">
        <i class="fa fa-star">
        </i>
       </div>
       <div class="rating-star sm">
        <i class="fa fa-star">
        </i>
       </div>
       <div class="rating-star sm">
        <i class="fa fa-star">
        </i>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="card border-0 mb-0 w-70">
    <div class="card-body">
     <div class="item-card9">
      <a class="text-dark" href="page-details.html">
       <h3 class="mb-1 text-over">
        Andora – Admin WebApp HTML Dashboard Template
       </h3>
      </a>
      <div class="fs-13 mb-3">
       by
       <a class="" href="#">
        Piers
       </a>
       in
       <a class="" href="#">
        HTML Templates
       </a>
      </div>
      <p class="fs-13 mb-0 text-muted">
       Lorem Ipsum available, quis int lorem ipsum nostrum exercitationem
      </p>
      <div class="d-flex mt-4">
       <div class="item-card9-cost mt-1">
        <h4 class="text-dark fs-25 mb-0">
         $25
        </h4>
       </div>
       <div class="ml-auto">
        <div class="mt-3">
         <span class="fs-13">
          <i class="fe fe-download text-muted mr-1">
          </i>
          36 Sales
         </span>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="item-card-btn">
   <a class="btn ripple btn-primary mr-2" href="#">
    <i class="fe fe-airplay mr-1">
    </i>
    Live Preview
   </a>
   <a class="btn ripple btn-secondary" href="#">
    <i class="fe fe-shopping-cart mr-1">
    </i>
    Buy Now
   </a>
  </div>
 </div>
</div>
