<!-- from ./themeforest-templist/HTML/LTR/Html/widgets.html -->
<div class="card">
 <div class="card-body">
  <div class="wideget-user">
   <div class="row">
    <div class="col-lg-12 col-md-12 text-center">
     <div class="wideget-user-desc">
      <div class="wideget-user-img">
       <img alt="img" class="" src="../../assets/images/users/male/25.jpg"/>
      </div>
      <div class="user-wrap">
       <h4>
        Robert	McLean
       </h4>
       <h6 class="text-muted mb-3">
        Member Since: November 2020
       </h6>
       <a class="btn ripple btn-success" href="#">
        <i class="fa fa-rss">
        </i>
        Follow
       </a>
       <a class="btn ripple btn-info" href="#">
        <i class="fa fa-envelope">
        </i>
        E-mail
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="card-footer">
  <div class="wideget-user-tab">
   <div class="tab-menu-heading">
    <div class="tabs-menu1">
     <ul class="nav">
      <li class="">
       <a class="active" data-toggle="tab" href="#tab-51">
        Profile
       </a>
      </li>
      <li>
       <a class="" data-toggle="tab" href="#tab-61">
        Author Items
       </a>
      </li>
      <li>
       <a class="" data-toggle="tab" href="#tab-71">
        Followers
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
 </div>
</div>
