<!-- from ./themeforest-templist/HTML/LTR/Html/widgets.html -->
<div class="card">
 <div class="item-card2-img">
  <a href="widgets.html">
  </a>
  <img alt="img" class="cover-image" src="../../assets/images/media/pictures/4.jpg"/>
 </div>
 <div class="item-card2-icons">
  <a class="item-card2-icons-l bg-black-trasparant" href="#">
   <i class="fa fa-heart-o">
   </i>
  </a>
  <a class="item-card2-icons-l bg-black-trasparant" href="#">
   <i class="fa fa-share-alt">
   </i>
  </a>
 </div>
 <div class="card-body">
  <div class="item-card2">
   <div class="item-card2-desc">
    <h3 class="font-weight-semibold">
     Wordpress Template
    </h3>
    <p class="fs-13">
     Ut enim ad minima veniam, quis nostrum exercieds ullam corporis suscipit laboriosam
    </p>
    <a class="btn ripple btn-primary" href="#">
     Buy Now
    </a>
   </div>
  </div>
 </div>
 <div class="card-footer">
  <div class="item-card2-footer d-flex">
   <div class="item-card2-rating">
    <a href="#">
     <i class="fa fa-star text-warning">
     </i>
    </a>
    <a href="#">
     <i class="fa fa-star text-warning">
     </i>
    </a>
    <a href="#">
     <i class="fa fa-star text-warning">
     </i>
    </a>
    <a href="#">
     <i class="fa fa-star text-warning">
     </i>
    </a>
    <a href="#">
     <i class="fa fa-star-half-o text-warning mr-1">
     </i>
     (78 reviews)
    </a>
   </div>
   <div class="ml-auto">
    <a class="location" href="#">
     <i class="fe fe-shopping-cart text-muted mr-1">
     </i>
     267
    </a>
   </div>
  </div>
 </div>
</div>
