<!-- from ./themeforest-templist/HTML/LTR/Html/widgets.html -->
<div class="card">
 <div class="card-body">
  <div class="service-card text-center">
   <div class="bg-purple-transparent icon-bg icon-service1 text-purple">
    <i class="fa fa-shopping-cart">
    </i>
   </div>
   <div class="servic-data mt-3">
    <h3 class="font-weight-semibold mb-2">
     Buying
    </h3>
    <p class="text-muted">
     Nam libero tempore, cum soluta nobis est eligendi cumque facere possimus
    </p>
    <a class="btn ripple btn-primary" href="#">
     View More
    </a>
   </div>
  </div>
 </div>
</div>
