<!-- from ./themeforest-templist/HTML/LTR/Html/widgets.html -->
<div class="card">
 <div class="owl-carousel testimonial-owl-carousel" id="myCarousel">
  <div class="item text-center">
   <div class="card-body">
    <div class="row">
     <div class="col-xl-8 col-md-12 d-block mx-auto">
      <div class="testimonia">
       <div class="testimonia-img mx-auto mb-3">
        <img alt="img" class="img-thumbnail rounded-circle alt=" src="../../assets/images/users/female/11.jpg"/>
       </div>
       <p>
        <i class="fa fa-quote-left">
        </i>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet molestias voluptatum inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.
       </p>
       <div class="testimonia-data">
        <h4 class="fs-20 mb-1">
         Heather Bell
        </h4>
        <div class="rating-stars">
         <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="3"/>
         <div class="rating-stars-container">
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="item text-center">
   <div class="card-body">
    <div class="row">
     <div class="col-xl-8 col-md-12 d-block mx-auto">
      <div class="testimonia">
       <div class="testimonia-img mx-auto mb-3">
        <img alt="img" class="img-thumbnail rounded-circle alt=" src="../../assets/images/users/male/42.jpg"/>
       </div>
       <p>
        <i class="fa fa-quote-left">
        </i>
        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore.
       </p>
       <div class="testimonia-data">
        <h4 class="fs-20 mb-1">
         David Blake
        </h4>
        <div class="rating-stars">
         <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="3"/>
         <div class="rating-stars-container">
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="item text-center">
   <div class="card-body">
    <div class="row">
     <div class="col-xl-8 col-md-12 d-block mx-auto">
      <div class="testimonia">
       <div class="testimonia-img mx-auto mb-3">
        <img alt="img" class="img-thumbnail rounded-circle alt=" src="../../assets/images/users/female/20.jpg"/>
       </div>
       <p>
        <i class="fa fa-quote-left">
        </i>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Nemo enim ipsam voluptatem voluptas sit aspernatur ratione voluptatem sequi nesciunt. laudantium.
       </p>
       <div class="testimonia-data">
        <h4 class="fs-20 mb-1">
         Sophie Carr
        </h4>
        <div class="rating-stars">
         <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="3"/>
         <div class="rating-stars-container">
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
          <div class="rating-star sm">
           <i class="fa fa-star">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
