<!-- from ./themeforest-templist/HTML/LTR/Html/widgets.html -->
<div class="card">
 <div class="card-header">
  <h3 class="card-title">
   Latest Classes
  </h3>
 </div>
 <div class="card-body pb-5">
  <ul class="vertical-scroll">
   <li class="news-item">
    <table>
     <tr>
      <td>
       <img alt="img" class="w-8 border mr-2" src="../../assets/images/png/1.png"/>
      </td>
      <td class="pl-3">
       <h4 class="mb-3">
        HTML Template
       </h4>
       <a class="btn ripple btn-primary btn-sm" href="#">
        Preview
       </a>
       <span class="float-right">
        $17
       </span>
      </td>
     </tr>
    </table>
   </li>
   <li class="news-item">
    <table>
     <tr>
      <td>
       <img alt="img" class="w-8 border mr-2" src="../../assets/images/png/2.png"/>
      </td>
      <td class="pl-3">
       <h4 class="mb-3">
        Wordpress Template
       </h4>
       <a class="btn ripple btn-primary btn-sm" href="#">
        Preview
       </a>
       <span class="float-right">
        $22
       </span>
      </td>
     </tr>
    </table>
   </li>
   <li class="news-item">
    <table>
     <tr>
      <td>
       <img alt="img" class="w-8 border mr-2" src="../../assets/images/png/3.png"/>
      </td>
      <td class="pl-3">
       <h4 class="mb-3">
        PSD Template
       </h4>
       <a class="btn ripple btn-primary btn-sm" href="#">
        Preview
       </a>
       <span class="float-right">
        $12
       </span>
      </td>
     </tr>
    </table>
   </li>
   <li class="news-item">
    <table>
     <tr>
      <td>
       <img alt="img" class="w-8 border mr-2" src="../../assets/images/png/4.png"/>
      </td>
      <td class="pl-3">
       <h4 class="mb-3">
        Angular Template
       </h4>
       <a class="btn ripple btn-primary btn-sm" href="#">
        Preview
       </a>
       <span class="float-right">
        $14
       </span>
      </td>
     </tr>
    </table>
   </li>
   <li class="news-item">
    <table>
     <tr>
      <td>
       <img alt="img" class="w-8 border mr-2" src="../../assets/images/png/5.png"/>
      </td>
      <td class="pl-3">
       <h4 class="mb-3">
        PHP Template
       </h4>
       <a class="btn ripple btn-primary btn-sm" href="#">
        Preview
       </a>
       <span class="float-right">
        $24
       </span>
      </td>
     </tr>
    </table>
   </li>
   <li class="news-item">
    <table>
     <tr>
      <td>
       <img alt="img" class="w-8 border mr-2" src="../../assets/images/png/1.png"/>
      </td>
      <td class="pl-3">
       <h4 class="mb-3">
        HTML Template
       </h4>
       <a class="btn ripple btn-primary btn-sm" href="#">
        Preview
       </a>
       <span class="float-right">
        $21
       </span>
      </td>
     </tr>
    </table>
   </li>
   <li class="news-item">
    <table>
     <tr>
      <td>
       <img alt="img" class="w-8 border mr-2" src="../../assets/images/png/2.png"/>
      </td>
      <td class="pl-3">
       <h4 class="mb-3">
        Wordpress Template
       </h4>
       <a class="btn ripple btn-primary btn-sm" href="#">
        Preview
       </a>
       <span class="float-right">
        $17
       </span>
      </td>
     </tr>
    </table>
   </li>
  </ul>
 </div>
</div>
