<!-- from ./themeforest-templist/HTML/LTR/Html/widgets.html -->
<div class="card overflow-hidden card-list-item1 shadow-none">
 <div class="power-ribbon power-ribbon-top-left text-warning">
  <span class="bg-warning">
   <i class="fa fa-bolt">
   </i>
  </span>
 </div>
 <div class="d-md-flex">
  <div class="item-card9-img">
   <div class="item-card9-imgs">
    <a href="page-details.html">
    </a>
    <img alt="img" class="cover-image" src="../../assets/images/media/pictures/thumb-list/5.jpg"/>
   </div>
   <div class="item-card9-icons">
    <a class="item-card9-icons1 bg-pink" data-placement="top" data-toggle="tooltip" href="#" title="Wishlist">
     <i class="fa fa fa-heart-o">
     </i>
    </a>
    <a class="item-card9-icons1 bg-purple" data-placement="top" data-toggle="tooltip" href="#" title="Share">
     <i class="icon icon-share">
     </i>
    </a>
   </div>
   <div class="item-card7-overlaytext">
    <a class="text-white" href="#">
     Wordpress
    </a>
   </div>
   <div class="item-trans-rating">
    <div class="rating-stars block">
     <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="3"/>
     <div class="rating-stars-container mr-2">
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
      <div class="rating-star sm">
       <i class="fa fa-star">
       </i>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="card border-0 mb-0">
   <div class="d-md-flex">
    <div class="item-card9 w-65">
     <div class="card-body pt-4 pb-4">
      <a class="text-dark" href="page-details.html">
       <h3 class="">
        Wordpress Template
       </h3>
      </a>
      <ul class="list-unstyled widget-spec1 mt-3 mb-0">
       <li class="mb-1">
        <i aria-hidden="true" class="fa fa-circle-o text-muted">
        </i>
        Meet Seller at public Place
       </li>
       <li class="mb-1">
        <i aria-hidden="true" class="fa fa-circle-o text-muted">
        </i>
        Check item before you buy
       </li>
       <li class="mb-1">
        <i aria-hidden="true" class="fa fa-circle-o text-muted">
        </i>
        Check item before you buy
       </li>
       <li class="mb-1">
        <i aria-hidden="true" class="fa fa-circle-o text-muted">
        </i>
        Check item before you buy
       </li>
      </ul>
     </div>
    </div>
    <div class="text-md-center w-35 border-left">
     <div class="card-body">
      <h4 class="text-dark fs-25 mb-4">
       $32
      </h4>
      <p class="mb-1">
       <span class="text-muted fs-13">
        189 Sales
       </span>
      </p>
      <p class="mb-0">
       <span class="text-muted fs-13">
        Last Updated:
       </span>
       <span class="text-muted">
        4 Jan 20
       </span>
      </p>
     </div>
    </div>
   </div>
   <div class="card-footer pt-1 pl-3 pr-3 pb-1">
    <div class="footerimg d-sm-flex mt-0 mb-0">
     <div class="d-flex footerimg-l mb-0 mt-4">
      <span class="avatar brround mr-2 cover-image" data-image-src="../../assets/images/users/male/18.jpg">
       <span class="avatar-status bg-success">
       </span>
      </span>
      <a class="time-title text-muted p-0 leading-normal mt-2" href="#">
       Piers
       <i class="fe fe-check-circle text-success fs-12 ml-1" data-placement="top" data-toggle="tooltip" title="verified">
       </i>
      </a>
     </div>
     <div class="footerimg-r ml-auto">
      <div class="btn btn-list">
       <a class="btn ripple btn-primary" href="#">
        <i class="fe fe-airplay mr-1">
        </i>
        Live Preview
       </a>
       <a class="btn ripple btn-secondary" href="#">
        <i class="fe fe-shopping-cart mr-1">
        </i>
        Buy Now
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
