<!-- from ./themeforest-templist/HTML/LTR/Html/widgets.html -->
<div class="card">
 <div class="bg-white h-100">
  <img alt="img" class="card-img-top br-tr-7 br-tl-7" src="../../assets/images/media/pictures/1.jpg"/>
 </div>
 <div class="card-body border-top">
  <div class="product-5 d-flex">
   <div class="product-5-rating">
    <a class="" href="#">
     <i class="fa fa-star text-warning">
     </i>
    </a>
    <a class="" href="#">
     <i class="fa fa-star text-warning">
     </i>
    </a>
    <a class="" href="#">
     <i class="fa fa-star text-warning">
     </i>
    </a>
    <a class="" href="#">
     <i class="fa fa-star text-warning">
     </i>
    </a>
    <a class="" href="#">
     <i class="fa fa-star text-warning">
     </i>
    </a>
    <h4 class="font-weight-semibold mt-2 mb-0">
     <a class="text-dark" href="#">
      Wordpress Template
     </a>
    </h4>
   </div>
   <div class="product-5-desc ml-auto mt-4">
    <h4 class="mb-0 font-weight-semibold fs-20">
     $19.0
     <del class="h4 text-muted ml-2">
      $39.0
     </del>
    </h4>
   </div>
  </div>
 </div>
</div>
