<!-- from ./themeforest-templist/HTML/LTR/Html/widgets.html -->
<div class="card card-blog-overlay2">
 <div class="card-body text-white">
  <div class="statistics-info">
   <div class="row text-center">
    <div class="col-lg-3 col-md-6">
     <div class="counter-status">
      <div class="counter-icon bg-dark-transparent2 border-0">
       <i class="fe fe-codepen text-white">
       </i>
      </div>
      <h5 class="font-weight-normal">
       Total Items
      </h5>
      <h2 class="counter">
       2569
      </h2>
     </div>
    </div>
    <div class="col-lg-3 col-md-6">
     <div class="counter-status">
      <div class="counter-icon bg-dark-transparent2 border-0">
       <i class="fe fe-shopping-cart text-white">
       </i>
      </div>
      <h5 class="font-weight-normal">
       Total Sales
      </h5>
      <h2 class="counter">
       1765
      </h2>
     </div>
    </div>
    <div class="col-lg-3 col-md-6">
     <div class="counter-status">
      <div class="counter-icon bg-dark-transparent2 border-0">
       <i class="fe fe-users text-white">
       </i>
      </div>
      <h5 class="font-weight-normal">
       Total Members
      </h5>
      <h2 class="counter">
       846
      </h2>
     </div>
    </div>
    <div class="col-lg-3 col-md-6">
     <div class="counter-status">
      <div class="counter-icon bg-dark-transparent2 border-0">
       <i class="icon icon-emotsmile text-white">
       </i>
      </div>
      <h5 class="font-weight-normal">
       Happy Customers
      </h5>
      <h2 class="counter">
       7253
      </h2>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
