<!-- from ./themeforest-templist/HTML/LTR/Html/widgets.html -->
<div class="card">
 <div class="card-body">
  <div class="support">
   <div class="row text-white">
    <div class="col-xl-4 col-lg-12 col-md-12 border-right">
     <div class="support-service bg-primary">
      <i class="fa fa-phone">
      </i>
      <h6>
       +68 872-627-9735
      </h6>
      <p>
       Free Support!
      </p>
     </div>
    </div>
    <div class="col-xl-4 col-lg-12 col-md-12 border-right">
     <div class="support-service bg-success">
      <i class="fa fa-clock-o">
      </i>
      <h6>
       Mon-Sat(10:00-19:00)
      </h6>
      <p>
       Working Hours!
      </p>
     </div>
    </div>
    <div class="col-xl-4 col-lg-12 col-md-12">
     <div class="support-service bg-danger">
      <i class="fa fa-envelope-o">
      </i>
      <h6>
       yourdomain@gmail.com
      </h6>
      <p>
       Support us!
      </p>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
