<!-- from ./themeforest-templist/HTML/LTR/Html/widgets.html -->
<div class="banner-1 pt-0 card cover-image spacing pb-10 bg-background2" data-image-src="../../assets/images/banners/banner1.jpg">
 <div class="header-text mb-0">
  <div class="container">
   <div class="text-center text-white">
    <h1 class="mb-1">
     Creative Themes &amp; Website Templates
    </h1>
    <p class="distracted">
     It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
    </p>
   </div>
   <div class="row">
    <div class="col-xl-10 col-lg-12 col-md-12 d-block mx-auto">
     <div class="item-search-tabs">
      <div class="item-search-menu">
       <ul class="nav">
        <li class="">
         <a class="active" data-toggle="tab" href="#tab1">
          All Templates
         </a>
        </li>
        <li>
         <a data-toggle="tab" href="#tab2">
          HTML
         </a>
        </li>
        <li>
         <a data-toggle="tab" href="#tab3">
          Wordpress
         </a>
        </li>
        <li>
         <a data-toggle="tab" href="#tab4">
          PHP
         </a>
        </li>
        <li>
         <a data-toggle="tab" href="#tab5">
          Angular
         </a>
        </li>
        <li>
         <a data-toggle="tab" href="#tab6">
          PSD
         </a>
        </li>
       </ul>
      </div>
      <div class="tab-content">
       <div class="tab-pane active" id="tab1">
        <div class="search-background">
         <div class="search-form">
          <input class="form-control input-lg" id="text1" placeholder="Search All Products....." type="text"/>
          <button class="btn ripple">
           <i class="fe fe-search">
           </i>
          </button>
         </div>
        </div>
       </div>
       <div class="tab-pane" id="tab2">
        <div class="search-background">
         <div class="search-form">
          <input class="form-control input-lg" id="text2" placeholder="Search HTML Templates...." type="text"/>
          <button class="btn ripple">
           <i class="fe fe-search">
           </i>
          </button>
         </div>
        </div>
       </div>
       <div class="tab-pane" id="tab3">
        <div class="search-background">
         <div class="search-form">
          <input class="form-control input-lg" id="text3" placeholder="Search PSD Templates...." type="text"/>
          <button class="btn ripple">
           <i class="fe fe-search">
           </i>
          </button>
         </div>
        </div>
       </div>
       <div class="tab-pane" id="tab4">
        <div class="search-background">
         <div class="search-form">
          <input class="form-control input-lg" id="text4" placeholder="Search Wordpress Templates...." type="text"/>
          <button class="btn ripple">
           <i class="fe fe-search">
           </i>
          </button>
         </div>
        </div>
       </div>
       <div class="tab-pane" id="tab5">
        <div class="search-background">
         <div class="search-form">
          <input class="form-control input-lg" id="text5" placeholder="Search PHP Templates...." type="text"/>
          <button class="btn ripple">
           <i class="fe fe-search">
           </i>
          </button>
         </div>
        </div>
       </div>
       <div class="tab-pane" id="tab6">
        <div class="search-background">
         <div class="search-form">
          <input class="form-control input-lg" id="text6" placeholder="Search Angular Templates...." type="text"/>
          <button class="btn ripple">
           <i class="fe fe-search">
           </i>
          </button>
         </div>
        </div>
       </div>
       <div class="tab-pane" id="tab7">
        <div class="search-background">
         <div class="search-form">
          <input class="form-control input-lg" id="text7" placeholder="Search...." type="text"/>
          <button class="btn ripple">
           <i class="fe fe-search">
           </i>
          </button>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <!-- /header-text -->
</div>
