<!-- from ./themeforest-templist/HTML/LTR/Html/widgets.html -->
<div class="card widgets-cards">
 <div class="card-body d-flex">
  <div class="widgets-cards-icons">
   <div class="wrp icon-circle bg-success">
    <i class="fa fa-search icons">
    </i>
   </div>
  </div>
  <div class="widgets-cards-data">
   <div class="wrp text-wrapper">
    <p>
     Search Online Posts
    </p>
    <p class="text-muted mt-1 mb-0">
     Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
    </p>
   </div>
  </div>
 </div>
</div>
