<section class="sptb">
 <div class="container">
  <div class="section-title center-block text-center">
   <h2 class="position-relative">
    Testimonials
   </h2>
   <p>
    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
   </p>
  </div>
  <div class="row">
   <div class="col-lg-12">
    <div class="">
     <div class="owl-carousel testimonial-owl-carousel" id="myCarousel">
      <div class="item">
       <div class="row">
        <div class="col-xl-10 col-md-12 d-block mx-auto">
         <div class="row">
          <div class="col-md-6">
           <div class="card mb-lg-0">
            <div class="card-body">
             <div class="d-flex testimonia mb-3">
              <a href="testimonial.html">
              </a>
              <div class="media-right d-flex owl-mediaimg">
               <img alt="" class="avatar avatar-xl brround" src="../../assets/images/users/female/2.jpg"/>
              </div>
              <div class="media-body">
               <div class="ml-3 mt-4">
                <p class="overview text-dark">
                 <b>
                  Paula Wilson
                 </b>
                 , Media Analyst
                </p>
                <div class="">
                 <span>
                  <i class="fa fa-star text-warning">
                  </i>
                 </span>
                 <span>
                  <i class="fa fa-star text-warning">
                  </i>
                 </span>
                 <span>
                  <i class="fa fa-star text-warning">
                  </i>
                 </span>
                 <span>
                  <i class="fa fa-star text-warning">
                  </i>
                 </span>
                 <span>
                  <i class="fa fa-star-half-o text-warning ml-1">
                  </i>
                 </span>
                </div>
               </div>
              </div>
             </div>
             <p class="text-muted mb-0">
              Sed ut perspiciatis unde omnis  doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
             </p>
            </div>
           </div>
          </div>
          <div class="col-md-6">
           <div class="card mb-0">
            <div class="card-body">
             <div class="d-flex testimonia mb-3">
              <a href="testimonial.html">
              </a>
              <div class="media-right d-flex owl-mediaimg">
               <img alt="" class="avatar avatar-xl brround" src="../../assets/images/users/male/2.jpg"/>
              </div>
              <div class="media-body">
               <div class="ml-3 mt-4">
                <p class="overview text-dark">
                 <b>
                  Antonio Moreno
                 </b>
                 , Web Developer
                </p>
                <div class="">
                 <span>
                  <i class="fa fa-star text-warning">
                  </i>
                 </span>
                 <span>
                  <i class="fa fa-star text-warning">
                  </i>
                 </span>
                 <span>
                  <i class="fa fa-star text-warning">
                  </i>
                 </span>
                 <span>
                  <i class="fa fa-star-half-o text-warning">
                  </i>
                 </span>
                 <span>
                  <i class="fa fa-star-o text-warning ml-1">
                  </i>
                 </span>
                </div>
               </div>
              </div>
             </div>
             <p class="text-muted mb-0">
              Sed ut perspiciatis unde omnis doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
             </p>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="item">
       <div class="row">
        <div class="col-xl-10 col-md-12 d-block mx-auto">
         <div class="row">
          <div class="col-md-6">
           <div class="card mb-lg-0">
            <div class="card-body">
             <div class="d-flex testimonia mb-3">
              <a href="testimonial.html">
              </a>
              <div class="media-right d-flex owl-mediaimg">
               <img alt="" class="avatar avatar-xl brround" src="../../assets/images/users/female/3.jpg"/>
              </div>
              <div class="media-body">
               <div class="ml-3 mt-4">
                <p class="overview text-dark">
                 <b>
                  Paula Wilson
                 </b>
                 , Media Analyst
                </p>
                <div class="mb-0">
                 <span>
                  <i class="fa fa-star text-warning">
                  </i>
                 </span>
                 <span>
                  <i class="fa fa-star text-warning">
                  </i>
                 </span>
                 <span>
                  <i class="fa fa-star text-warning">
                  </i>
                 </span>
                 <span>
                  <i class="fa fa-star-half-o text-warning">
                  </i>
                 </span>
                 <span>
                  <i class="fa fa-star-o text-warning ml-1">
                  </i>
                 </span>
                </div>
               </div>
              </div>
             </div>
             <p class="text-muted mb-0">
              But I must explain to you how all this mistaken idea of denouncing teachings of the great explorer of the truth, the master-builder of human happiness.
             </p>
            </div>
           </div>
          </div>
          <div class="col-md-6">
           <div class="card mb-lg-0">
            <div class="card-body">
             <div class="d-flex testimonia mb-3">
              <a href="testimonial.html">
              </a>
              <div class="media-right d-flex owl-mediaimg">
               <img alt="" class="avatar avatar-xl brround" src="../../assets/images/users/male/3.jpg"/>
              </div>
              <div class="media-body">
               <div class="ml-3 mt-4">
                <p class="overview text-dark">
                 <b>
                  Antonio Moreno
                 </b>
                 , Web Developer
                </p>
                <div class="mb-0">
                 <span>
                  <i class="fa fa-star text-warning">
                  </i>
                 </span>
                 <span>
                  <i class="fa fa-star text-warning">
                  </i>
                 </span>
                 <span>
                  <i class="fa fa-star-half-o text-warning">
                  </i>
                 </span>
                 <span>
                  <i class="fa fa-star-o text-warning">
                  </i>
                 </span>
                 <span>
                  <i class="fa fa-star-o text-warning ml-1">
                  </i>
                 </span>
                </div>
               </div>
              </div>
             </div>
             <p class="text-muted mb-0">
              But I must explain to you how all this mistaken idea of denouncing teachings of the great explorer of the truth, the master-builder of human happiness.
             </p>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="row">
       <div class="col-xl-10 col-md-12 d-block mx-auto">
        <div class="row">
         <div class="col-md-6">
          <div class="card mb-lg-0">
           <div class="card-body">
            <div class="d-flex testimonia mb-3">
             <a href="testimonial.html">
             </a>
             <div class="media-right d-flex owl-mediaimg">
              <img alt="" class="avatar avatar-xl brround" src="../../assets/images/users/female/4.jpg"/>
             </div>
             <div class="media-body">
              <div class="ml-3 mt-4">
               <p class="overview text-dark">
                <b>
                 Paula Wilson
                </b>
                , Media Analyst
               </p>
               <div class="mb-0">
                <span>
                 <i class="fa fa-star text-warning">
                 </i>
                </span>
                <span>
                 <i class="fa fa-star text-warning">
                 </i>
                </span>
                <span>
                 <i class="fa fa-star text-warning">
                 </i>
                </span>
                <span>
                 <i class="fa fa-star text-warning">
                 </i>
                </span>
                <span>
                 <i class="fa fa-star-half-o text-warning ml-1">
                 </i>
                </span>
               </div>
              </div>
             </div>
            </div>
            <p class="text-muted mb-0">
             Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            </p>
           </div>
          </div>
         </div>
         <div class="col-md-6">
          <div class="card mb-0">
           <div class="card-body">
            <div class="d-md-flex testimonia mb-3">
             <a href="testimonial.html">
             </a>
             <div class="media-right d-flex owl-mediaimg">
              <img alt="" class="avatar avatar-xl brround" src="../../assets/images/users/male/4.jpg"/>
             </div>
             <div class="media-body">
              <div class="ml-3 mt-4">
               <p class="overview text-dark">
                <b>
                 Antonio Moreno
                </b>
                , Web Developer
               </p>
               <div class="mb-0">
                <span>
                 <i class="fa fa-star text-warning">
                 </i>
                </span>
                <span>
                 <i class="fa fa-star text-warning">
                 </i>
                </span>
                <span>
                 <i class="fa fa-star text-warning">
                 </i>
                </span>
                <span>
                 <i class="fa fa-star-half-o text-warning">
                 </i>
                </span>
                <span>
                 <i class="fa fa-star-o text-warning ml-1">
                 </i>
                </span>
               </div>
              </div>
             </div>
            </div>
            <p class="text-muted mb-0">
             Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            </p>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
