<section class="sptb bg-white">
 <div class="container">
  <div class="section-title center-block text-center">
   <h2>
    Our Pricing
   </h2>
   <p>
    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
   </p>
  </div>
  <div class="row">
   <div class="col-sm-6 col-xl-3 col-md-6">
    <div class="pricing-table">
     <div class="price-header">
      <h3 class="title">
       Basic
      </h3>
      <div class="price">
       <span class="dollar">
        $
       </span>
       0
      </div>
      <span class="permonth">
       Free License
      </span>
     </div>
     <div class="price-body">
      <ul>
       <li>
        <b>
         0
        </b>
        Demos Included
       </li>
       <li>
        <b>
         Forum
        </b>
        Support
       </li>
       <li>
        <b>
         Limited
        </b>
        Domain Usage
       </li>
       <li>
        <b>
         0 Year
        </b>
        Support &amp; Updates
       </li>
       <li>
        <b>
         24/7
        </b>
        Support
       </li>
      </ul>
     </div>
     <div class="price-footer">
      <a class="order-btn btn btn-primary btn-pill btn-block" href="">
       Buy Now
      </a>
     </div>
    </div>
   </div>
   <div class="col-sm-6 col-xl-3 col-md-6">
    <div class="pricing-table">
     <div class="price-header">
      <h3 class="title">
       Premium
      </h3>
      <div class="price">
       <span class="dollar">
        $
       </span>
       10
      </div>
      <span class="permonth">
       Monthly License
      </span>
     </div>
     <div class="price-body">
      <ul>
       <li>
        <b>
         5
        </b>
        Demos Included
       </li>
       <li>
        <b>
         Forum
        </b>
        Support
       </li>
       <li>
        <b>
         Unlimited
        </b>
        Domain Usage
       </li>
       <li>
        <b>
         1 Year
        </b>
        Support &amp; Updates
       </li>
       <li>
        <b>
         24/7
        </b>
        Support
       </li>
      </ul>
     </div>
     <div class="price-footer">
      <a class="order-btn btn btn-primary btn-pill btn-block" href="">
       Buy Now
      </a>
     </div>
    </div>
   </div>
   <div class="col-sm-6 col-xl-3 col-md-6">
    <div class="pricing-table active">
     <div class="price-header bg-primary">
      <h3 class="title text-white">
       Enterprise
      </h3>
      <div class="price text-white">
       <span class="dollar">
        $
       </span>
       23
      </div>
      <span class="permonth">
       Yearly License
      </span>
     </div>
     <div class="price-body">
      <ul>
       <li>
        <b>
         10
        </b>
        Demos Included
       </li>
       <li>
        <b>
         Forum
        </b>
        Support
       </li>
       <li>
        <b>
         Unlimited
        </b>
        Domain Usage
       </li>
       <li>
        <b>
         2 Years
        </b>
        Support &amp; Updates
       </li>
       <li>
        <b>
         24/7
        </b>
        Support
       </li>
      </ul>
     </div>
     <div class="price-footer">
      <a class="order-btn btn btn-primary btn-pill btn-block" href="">
       Buy Now
      </a>
     </div>
    </div>
   </div>
   <div class="col-sm-6 col-xl-3 col-md-6">
    <div class="pricing-table mb-0">
     <div class="price-header">
      <h3 class="title">
       Unlimited
      </h3>
      <div class="price">
       <span class="dollar">
        $
       </span>
       10
      </div>
      <span class="permonth">
       Yearly License
      </span>
     </div>
     <div class="price-body">
      <ul>
       <li>
        <b>
         Unlimited
        </b>
        Demos Included
       </li>
       <li>
        <b>
         Forum
        </b>
        Support
       </li>
       <li>
        <b>
         Unlimited
        </b>
        Domain Usage
       </li>
       <li>
        <b>
         5 Years
        </b>
        Support &amp; Updates
       </li>
       <li>
        <b>
         24/7
        </b>
        Support
       </li>
      </ul>
     </div>
     <div class="price-footer">
      <a class="order-btn btn btn-primary btn-pill btn-block" href="">
       Buy Now
      </a>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
