<section>
 <footer class="bg-dark text-white">
  <div class="footer-main">
   <div class="container">
    <div class="row">
     <div class="col-lg-3 col-md-12">
      <h6>
       About
      </h6>
      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"/>
      <p>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate essequasi, veritatis totam voluptas nostrum.Lorem ipsum dolor sit amet, consectetur
      </p>
      <ul class="list-unstyled list-inline mt-3">
       <li class="list-inline-item">
        <a class="btn ripple btn-floating btn-sm mx-1">
         <i class="fa fa-facebook">
         </i>
        </a>
       </li>
       <li class="list-inline-item">
        <a class="btn ripple btn-floating btn-sm mx-1">
         <i class="fa fa-twitter">
         </i>
        </a>
       </li>
       <li class="list-inline-item">
        <a class="btn ripple btn-floating btn-sm mx-1">
         <i class="fa fa-google-plus">
         </i>
        </a>
       </li>
       <li class="list-inline-item">
        <a class="btn ripple btn-floating btn-sm mx-1">
         <i class="fa fa-linkedin">
         </i>
        </a>
       </li>
      </ul>
     </div>
     <div class="col-lg-2 col-md-12">
      <h6>
       Our Services
      </h6>
      <hr class="deep-purple text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto"/>
      <ul class="list-unstyled mb-0">
       <li>
        <a href="javascript:;">
         Our Team
        </a>
       </li>
       <li>
        <a href="javascript:;">
         Contact US
        </a>
       </li>
       <li>
        <a href="javascript:;">
         About
        </a>
       </li>
       <li>
        <a href="javascript:;">
         Services
        </a>
       </li>
       <li>
        <a href="javascript:;">
         Blog
        </a>
       </li>
       <li>
        <a href="javascript:;">
         Terms and Services
        </a>
       </li>
      </ul>
     </div>
     <div class="col-lg-3 col-md-12">
      <h6>
       Contact
      </h6>
      <hr class="deep-purple text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto"/>
      <ul class="footer-conatct list-unstyled mb-0 contact-footer">
       <li>
        <a href="#">
         <i class="fa fa-home ml-3 text-white">
         </i>
         22 S. Rock Creek StreetSan Carlos, Uniontown CA 94070, USA
        </a>
       </li>
       <li>
        <a href="#">
         <i class="fa fa-envelope ml-3 text-white">
         </i>
         info12323@example.com
        </a>
       </li>
       <li>
        <a href="#">
         <i class="fa fa-phone ml-3 text-white">
         </i>
         + 01 234 567 88
        </a>
       </li>
       <li>
        <a href="#">
         <i class="fa fa-print ml-3 text-white">
         </i>
         + 01 234 567 89
        </a>
       </li>
      </ul>
     </div>
     <div class="col-lg-4 col-md-12">
      <h6>
       Subscribe
      </h6>
      <hr class="deep-purple text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto"/>
      <div class="clearfix">
      </div>
      <div class="input-group w-100">
       <input class="form-control br-tr-3 br-br-3" placeholder="Email" type="text"/>
       <div class="input-group-append">
        <button class="btn ripple btn-primary br-tl-3 br-bl-3" type="button">
         Subscribe
        </button>
       </div>
      </div>
      <h6 class="mb-0 mt-5">
       Payments
      </h6>
      <hr class="deep-purple text-primary accent-2 mb-2 mt-3 d-inline-block mx-auto"/>
      <div class="clearfix">
      </div>
      <ul class="footer-payments">
       <li class="pr-0">
        <a href="javascript:;">
         <i aria-hidden="true" class="fa fa-cc-amex">
         </i>
        </a>
       </li>
       <li>
        <a href="javascript:;">
         <i aria-hidden="true" class="fa fa-cc-visa">
         </i>
        </a>
       </li>
       <li>
        <a href="javascript:;">
         <i aria-hidden="true" class="fa fa-credit-card-alt">
         </i>
        </a>
       </li>
       <li>
        <a href="javascript:;">
         <i aria-hidden="true" class="fa fa-cc-mastercard">
         </i>
        </a>
       </li>
       <li>
        <a href="javascript:;">
         <i aria-hidden="true" class="fa fa-cc-paypal">
         </i>
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
  <div class="bg-dark text-white-50 p-0">
   <div class="container">
    <div class="row d-flex">
     <div class="col-lg-12 col-sm-12 mt-3 mb-3 text-center">
      Copyright © 2020
      <a class="fs-14 text-primary" href="#">
       Templist
      </a>
      . Designed  by
      <a class="fs-14 text-primary" href="#">
       Spruko Technologies Pvt.Ltd
      </a>
      All rights reserved.
     </div>
    </div>
   </div>
  </div>
 </footer>
</section>
