<section class="sptb">
 <div class="container">
  <div class="section-title center-block text-center">
   <h2>
    Newly Added Templates
   </h2>
   <p>
    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
   </p>
  </div>
  <div class="owl-carousel owl-carousel-icons2" id="myCarousel1">
   <div class="item">
    <div class="card mb-0">
     <div class="power-ribbon power-ribbon-top-right text-warning">
      <span class="bg-warning">
       <i class="fa fa-bolt">
       </i>
      </span>
     </div>
     <div class="item-card2-tans">
      <div class="item-card7-imgs">
       <a href="page-details.html">
       </a>
       <img alt="img" class="cover-image" src="../../assets/images/media/pictures/1.jpg"/>
       <div class="tag-text">
        <span class="bg-dark-transparent tag-option">
         HTML
        </span>
       </div>
      </div>
     </div>
     <div class="card-body">
      <div class="item-card7-desc">
       <div class="item-card7-text mb-1">
        <a class="text-dark" href="page-details.html">
         <h4 class="font-weight-semibold">
          HTML Template
         </h4>
        </a>
       </div>
       <div class="mt-1 fs-13 mb-3">
        by
        <a class="" href="#">
         Piers
        </a>
        in by
        <a class="" href="#">
         HTML Templates
        </a>
       </div>
       <div class="d-flex mt-0 mb-0">
        <div class="mt-1 mb-0">
         <a class="btn ripple btn-primary btn-sm" href="#">
          Buy Now
         </a>
         <a class="btn ripple btn-secondary btn-sm" href="#">
          Add to Cart
          <i class="fe fe-shopping-cart ml-1">
          </i>
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="card-footer pt-3">
      <div class="d-flex">
       <div class="mt-1 fs-13">
        <span class="text-muted mr-4">
         <i class="fe fe-download">
         </i>
         36
        </span>
        <span class="text-muted">
         <i class="fe fe-heart">
         </i>
         236
        </span>
       </div>
       <div class="mr-auto">
        <div class="item-card9-cost">
         <h4 class="mb-0 fs-20 text-dark">
          $15
         </h4>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="item">
    <div class="card mb-0">
     <div class="power-ribbon power-ribbon-top-right text-warning">
      <span class="bg-warning">
       <i class="fa fa-bolt">
       </i>
      </span>
     </div>
     <div class="item-card2-tans">
      <div class="item-card7-imgs">
       <a href="page-details.html">
       </a>
       <img alt="img" class="cover-image" src="../../assets/images/media/pictures/2.jpg"/>
       <div class="tag-text">
        <span class="bg-dark-transparent tag-option">
         PSD
        </span>
       </div>
      </div>
     </div>
     <div class="card-body">
      <div class="item-card7-desc">
       <div class="item-card7-text mb-1">
        <a class="text-dark" href="page-details.html">
         <h4 class="font-weight-semibold">
          PSD Template
         </h4>
        </a>
       </div>
       <div class="mt-1 fs-13 mb-3">
        by
        <a class="" href="#">
         Emily
        </a>
        in by
        <a class="" href="#">
         HTML Templates
        </a>
       </div>
       <div class="d-flex mt-0 mb-0">
        <div class="mt-1 mb-0">
         <a class="btn ripple btn-primary btn-sm" href="#">
          Buy Now
         </a>
         <a class="btn ripple btn-secondary btn-sm" href="#">
          Add to Cart
          <i class="fe fe-shopping-cart ml-1">
          </i>
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="card-footer pt-3">
      <div class="d-flex">
       <div class="mt-1 fs-13">
        <span class="text-muted mr-4">
         <i class="fe fe-download">
         </i>
         24
        </span>
        <span class="text-muted">
         <i class="fe fe-heart">
         </i>
         123
        </span>
       </div>
       <div class="mr-auto">
        <div class="item-card9-cost">
         <h4 class="mb-0 fs-20 text-dark">
          $25
         </h4>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="item">
    <div class="card mb-0">
     <div class="power-ribbon power-ribbon-top-right text-warning">
      <span class="bg-warning">
       <i class="fa fa-bolt">
       </i>
      </span>
     </div>
     <div class="item-card2-tans">
      <div class="item-card7-imgs">
       <a href="page-details.html">
       </a>
       <img alt="img" class="cover-image" src="../../assets/images/media/pictures/3.jpg"/>
       <div class="tag-text">
        <span class="bg-dark-transparent tag-option">
         Angular
        </span>
       </div>
      </div>
     </div>
     <div class="card-body">
      <div class="item-card7-desc">
       <div class="item-card7-text mb-1">
        <a class="text-dark" href="page-details.html">
         <h4 class="font-weight-semibold">
          Angular Template
         </h4>
        </a>
       </div>
       <div class="mt-1 fs-13 mb-3">
        by
        <a class="" href="#">
         Jessica
        </a>
        in by
        <a class="" href="#">
         Angular Templates
        </a>
       </div>
       <div class="d-flex mt-0 mb-0">
        <div class="mt-1 mb-0">
         <a class="btn ripple btn-primary btn-sm" href="#">
          Buy Now
         </a>
         <a class="btn ripple btn-secondary btn-sm" href="#">
          Add to Cart
          <i class="fe fe-shopping-cart ml-1">
          </i>
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="card-footer pt-3">
      <div class="d-flex">
       <div class="mt-1 fs-13">
        <span class="text-muted mr-4">
         <i class="fe fe-download">
         </i>
         43
        </span>
        <span class="text-muted">
         <i class="fe fe-heart">
         </i>
         234
        </span>
       </div>
       <div class="mr-auto">
        <div class="item-card9-cost">
         <h4 class="mb-0 fs-20 text-dark">
          $23
         </h4>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="item">
    <div class="card mb-0">
     <div class="power-ribbon power-ribbon-top-right text-warning">
      <span class="bg-warning">
       <i class="fa fa-bolt">
       </i>
      </span>
     </div>
     <div class="item-card2-tans">
      <div class="item-card7-imgs">
       <a href="page-details.html">
       </a>
       <img alt="img" class="cover-image" src="../../assets/images/media/pictures/4.jpg"/>
       <div class="tag-text">
        <span class="bg-dark-transparent tag-option">
         PHP
        </span>
       </div>
      </div>
     </div>
     <div class="card-body">
      <div class="item-card7-desc">
       <div class="item-card7-text mb-1">
        <a class="text-dark" href="page-details.html">
         <h4 class="font-weight-semibold">
          PHP Template
         </h4>
        </a>
       </div>
       <div class="mt-1 fs-13 mb-3">
        by
        <a class="" href="#">
         John
        </a>
        in by
        <a class="" href="#">
         PHP Templates
        </a>
       </div>
       <div class="d-flex mt-0 mb-0">
        <div class="mt-1 mb-0">
         <a class="btn ripple btn-primary btn-sm" href="#">
          Buy Now
         </a>
         <a class="btn ripple btn-secondary btn-sm" href="#">
          Add to Cart
          <i class="fe fe-shopping-cart ml-1">
          </i>
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="card-footer pt-3">
      <div class="d-flex">
       <div class="mt-1 fs-13">
        <span class="text-muted mr-4">
         <i class="fe fe-download">
         </i>
         21
        </span>
        <span class="text-muted">
         <i class="fe fe-heart">
         </i>
         345
        </span>
       </div>
       <div class="mr-auto">
        <div class="item-card9-cost">
         <h4 class="mb-0 fs-20 text-dark">
          $21
         </h4>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="item">
    <div class="card mb-0">
     <div class="power-ribbon power-ribbon-top-right text-warning">
      <span class="bg-warning">
       <i class="fa fa-bolt">
       </i>
      </span>
     </div>
     <div class="item-card2-tans">
      <div class="item-card7-imgs">
       <a href="page-details.html">
       </a>
       <img alt="img" class="cover-image" src="../../assets/images/media/pictures/5.jpg"/>
       <div class="tag-text">
        <span class="bg-dark-transparent tag-option">
         Wordpress
        </span>
       </div>
      </div>
     </div>
     <div class="card-body">
      <div class="item-card7-desc">
       <div class="item-card7-text mb-1">
        <a class="text-dark" href="page-details.html">
         <h4 class="font-weight-semibold">
          Wordpress Template
         </h4>
        </a>
       </div>
       <div class="mt-1 fs-13 mb-3">
        by
        <a class="" href="#">
         Anna
        </a>
        in by
        <a class="" href="#">
         Wordpress Templates
        </a>
       </div>
       <div class="d-flex mt-0 mb-0">
        <div class="mt-1 mb-0">
         <a class="btn ripple btn-primary btn-sm" href="#">
          Buy Now
         </a>
         <a class="btn ripple btn-secondary btn-sm" href="#">
          Add to Cart
          <i class="fe fe-shopping-cart ml-1">
          </i>
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="card-footer pt-3">
      <div class="d-flex">
       <div class="mt-1 fs-13">
        <span class="text-muted mr-4">
         <i class="fe fe-download">
         </i>
         45
        </span>
        <span class="text-muted">
         <i class="fe fe-heart">
         </i>
         108
        </span>
       </div>
       <div class="mr-auto">
        <div class="item-card9-cost">
         <h4 class="mb-0 fs-20 text-dark">
          $21
         </h4>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="item">
    <div class="card mb-0">
     <div class="power-ribbon power-ribbon-top-right text-warning">
      <span class="bg-warning">
       <i class="fa fa-bolt">
       </i>
      </span>
     </div>
     <div class="item-card2-tans">
      <div class="item-card7-imgs">
       <a href="page-details.html">
       </a>
       <img alt="img" class="cover-image" src="../../assets/images/media/pictures/8.jpg"/>
       <div class="tag-text">
        <span class="bg-dark-transparent tag-option">
         HTML
        </span>
       </div>
      </div>
     </div>
     <div class="card-body">
      <div class="item-card7-desc">
       <div class="item-card7-text mb-1">
        <a class="text-dark" href="page-details.html">
         <h4 class="font-weight-semibold">
          HTML Template
         </h4>
        </a>
       </div>
       <div class="mt-1 fs-13 mb-3">
        by
        <a class="" href="#">
         Eric
        </a>
        in by
        <a class="" href="#">
         HTML Templates
        </a>
       </div>
       <div class="d-flex mt-0 mb-0">
        <div class="mt-1 mb-0">
         <a class="btn ripple btn-primary btn-sm" href="#">
          Buy Now
         </a>
         <a class="btn ripple btn-secondary btn-sm" href="#">
          Add to Cart
          <i class="fe fe-shopping-cart ml-1">
          </i>
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="card-footer pt-3">
      <div class="d-flex">
       <div class="mt-1 fs-13">
        <span class="text-muted mr-4">
         <i class="fe fe-download">
         </i>
         33
        </span>
        <span class="text-muted">
         <i class="fe fe-heart">
         </i>
         219
        </span>
       </div>
       <div class="mr-auto">
        <div class="item-card9-cost">
         <h4 class="mb-0 fs-20 text-dark">
          $24
         </h4>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
