<section class="sptb bg-white">
 <div class="container">
  <div class="section-title center-block text-center">
   <h2>
    Newest Templates
   </h2>
   <p>
    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
   </p>
  </div>
  <div class="panel panel-primary">
   <div class="">
    <div class="tabs-menu">
     <!-- Tabs -->
     <ul class="nav panel-tabs eductaional-tabs mb-6">
      <li class="">
       <a class="active show" data-toggle="tab" href="#tab-1">
        All
       </a>
      </li>
      <li>
       <a class="" data-toggle="tab" href="#tab-2">
        HTML
       </a>
      </li>
      <li>
       <a class="" data-toggle="tab" href="#tab-3">
        Wordpress
       </a>
      </li>
      <li>
       <a class="" data-toggle="tab" href="#tab-4">
        PHP
       </a>
      </li>
      <li>
       <a class="" data-toggle="tab" href="#tab-5">
        Angular
       </a>
      </li>
      <li>
       <a class="" data-toggle="tab" href="#tab-6">
        PSD
       </a>
      </li>
     </ul>
    </div>
   </div>
   <div class="panel-body">
    <div class="tab-content p-0 pt-3">
     <div class="tab-pane active show" id="tab-1">
      <div class="row">
       <div class="col-xl-12 col-lg-12 col-md-12 d-block mx-auto">
        <div>
         <ul class="temp-cat row">
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Andora - Admin Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML / Bootstrap" data-item-cost="24.00" data-item-notice="All prices are in USD" data-preview-url="../../assets/images/media/pictures/thumb-1.jpg" src="../../assets/images/media/pictures/small/thumb1.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Bioplex - Beauty Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-2.jpg" src="../../assets/images/media/pictures/small/thumb2.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Splink - Admin Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="24.00" data-preview-url="../../assets/images/media/pictures/thumb-3.jpg" src="../../assets/images/media/pictures/small/thumb3.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Adon - Admin Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="24.00" data-preview-url="../../assets/images/media/pictures/thumb-4.jpg" src="../../assets/images/media/pictures/small/thumb4.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Hzone - Hosting Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="PSD" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-5.jpg" src="../../assets/images/media/pictures/small/thumb5.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="GrowBiz - Busniess Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="10.00" data-preview-url="../../assets/images/media/pictures/thumb-6.jpg" src="../../assets/images/media/pictures/small/thumb6.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="BeautySol - Beauty &amp; Spa Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-7.jpg" src="../../assets/images/media/pictures/small/thumb7.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Rejoin - Job Board Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="24.00" data-preview-url="../../assets/images/media/pictures/thumb-8.jpg" src="../../assets/images/media/pictures/small/thumb8.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="HYCURE - Medical &amp; Health Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-9.jpg" src="../../assets/images/media/pictures/small/thumb9.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-1.jpg" src="../../assets/images/media/pictures/small/thumb13.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-2.jpg" src="../../assets/images/media/pictures/small/thumb14.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-3.jpg" src="../../assets/images/media/pictures/small/thumb15.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-4.jpg" src="../../assets/images/media/pictures/small/04.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-5.jpg" src="../../assets/images/media/pictures/small/thumb16.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-10.jpg" src="../../assets/images/media/pictures/small/thumb10.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-11.jpg" src="../../assets/images/media/pictures/small/thumb11.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-12.jpg" src="../../assets/images/media/pictures/small/thumb12.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-6.jpg" src="../../assets/images/media/pictures/small/thumb17.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-7.jpg" src="../../assets/images/media/pictures/small/thumb1.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-8.jpg" src="../../assets/images/media/pictures/small/thumb2.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-10.jpg" src="../../assets/images/media/pictures/small/thumb10.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-9.jpg" src="../../assets/images/media/pictures/small/thumb9.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-11.jpg" src="../../assets/images/media/pictures/small/thumb11.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-12.jpg" src="../../assets/images/media/pictures/small/thumb12.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-1.jpg" src="../../assets/images/media/pictures/small/thumb1.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-2.jpg" src="../../assets/images/media/pictures/small/thumb2.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-3.jpg" src="../../assets/images/media/pictures/small/thumb3.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-4.jpg" src="../../assets/images/media/pictures/small/thumb4.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-5.jpg" src="../../assets/images/media/pictures/small/thumb5.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-6.jpg" src="../../assets/images/media/pictures/small/thumb6.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-7.jpg" src="../../assets/images/media/pictures/small/thumb7.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-8.jpg" src="../../assets/images/media/pictures/small/thumb8.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-9.jpg" src="../../assets/images/media/pictures/small/thumb16.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-10.jpg" src="../../assets/images/media/pictures/small/thumb17.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-11.jpg" src="../../assets/images/media/pictures/small/thumb3.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-12.jpg" src="../../assets/images/media/pictures/small/thumb8.jpg"/>
            </a>
           </div>
          </li>
         </ul>
        </div>
        <div class="text-center mt-3 btn-list">
         <a class="btn ripple btn-primary text-white btn-lg">
          All  New Templates
         </a>
         <a class="btn ripple btn-secondary text-white btn-lg">
          Popular Templates
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="tab-pane" id="tab-2">
      <div class="row">
       <div class="col-xl-12 col-lg-12 col-md-12 d-block mx-auto">
        <div>
         <ul class="temp-cat row">
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Andora - Admin Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML / Bootstrap" data-item-cost="24.00" data-item-notice="All prices are in USD" data-preview-url="../../assets/images/media/pictures/thumb-1.jpg" src="../../assets/images/media/pictures/small/thumb1.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Bioplex - Beauty Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-2.jpg" src="../../assets/images/media/pictures/small/thumb2.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Splink - Admin Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="24.00" data-preview-url="../../assets/images/media/pictures/thumb-3.jpg" src="../../assets/images/media/pictures/small/thumb3.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Adon - Admin Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="24.00" data-preview-url="../../assets/images/media/pictures/thumb-4.jpg" src="../../assets/images/media/pictures/small/thumb4.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Hzone - Hosting Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="PSD" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-5.jpg" src="../../assets/images/media/pictures/small/thumb5.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="GrowBiz - Busniess Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="10.00" data-preview-url="../../assets/images/media/pictures/thumb-6.jpg" src="../../assets/images/media/pictures/small/thumb6.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="BeautySol - Beauty &amp; Spa Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-7.jpg" src="../../assets/images/media/pictures/small/thumb7.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Rejoin - Job Board Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="24.00" data-preview-url="../../assets/images/media/pictures/thumb-8.jpg" src="../../assets/images/media/pictures/small/thumb8.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="HYCURE - Medical &amp; Health Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-9.jpg" src="../../assets/images/media/pictures/small/thumb9.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-10.jpg" src="../../assets/images/media/pictures/small/thumb10.jpg"/>
            </a>
           </div>
          </li>
         </ul>
        </div>
        <div class="text-center mt-3 btn-list">
         <a class="btn ripple btn-primary btn-lg text-white">
          All  New Templates
         </a>
         <a class="btn ripple btn-secondary btn-lg text-white">
          Popular Templates
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="tab-pane" id="tab-3">
      <div class="row">
       <div class="col-xl-12 col-lg-12 col-md-12 d-block mx-auto">
        <div>
         <ul class="temp-cat row">
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Andora - Admin Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML / Bootstrap" data-item-cost="24.00" data-item-notice="All prices are in USD" data-preview-url="../../assets/images/media/pictures/thumb-1.jpg" src="../../assets/images/media/pictures/small/thumb1.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Bioplex - Beauty Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-2.jpg" src="../../assets/images/media/pictures/small/thumb2.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Splink - Admin Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="24.00" data-preview-url="../../assets/images/media/pictures/thumb-3.jpg" src="../../assets/images/media/pictures/small/thumb3.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Adon - Admin Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="24.00" data-preview-url="../../assets/images/media/pictures/thumb-4.jpg" src="../../assets/images/media/pictures/small/thumb4.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Hzone - Hosting Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="PSD" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-5.jpg" src="../../assets/images/media/pictures/small/thumb5.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="GrowBiz - Busniess Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="10.00" data-preview-url="../../assets/images/media/pictures/thumb-6.jpg" src="../../assets/images/media/pictures/small/thumb6.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="BeautySol - Beauty &amp; Spa Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-7.jpg" src="../../assets/images/media/pictures/small/thumb7.jpg"/>
            </a>
           </div>
          </li>
         </ul>
        </div>
        <div class="text-center mt-3 btn-list">
         <a class="btn ripple btn-primary text-white btn-lg">
          All  New Templates
         </a>
         <a class="btn ripple btn-secondary text-white btn-lg">
          Popular Templates
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="tab-pane" id="tab-4">
      <div class="row">
       <div class="col-xl-12 col-lg-12 col-md-12 d-block mx-auto">
        <div>
         <ul class="temp-cat row">
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Andora - Admin Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML / Bootstrap" data-item-cost="24.00" data-item-notice="All prices are in USD" data-preview-url="../../assets/images/media/pictures/thumb-1.jpg" src="../../assets/images/media/pictures/small/thumb1.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Bioplex - Beauty Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-2.jpg" src="../../assets/images/media/pictures/small/thumb2.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Splink - Admin Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="24.00" data-preview-url="../../assets/images/media/pictures/thumb-3.jpg" src="../../assets/images/media/pictures/small/thumb3.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Adon - Admin Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="24.00" data-preview-url="../../assets/images/media/pictures/thumb-4.jpg" src="../../assets/images/media/pictures/small/thumb4.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="HYCURE - Medical &amp; Health Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-9.jpg" src="../../assets/images/media/pictures/small/thumb9.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-10.jpg" src="../../assets/images/media/pictures/small/thumb10.jpg"/>
            </a>
           </div>
          </li>
         </ul>
        </div>
        <div class="text-center mt-3 btn-list">
         <a class="btn ripple btn-primary text-white btn-lg">
          All  New Templates
         </a>
         <a class="btn ripple btn-secondary text-white btn-lg">
          Popular Templates
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="tab-pane" id="tab-5">
      <div class="row">
       <div class="col-xl-12 col-lg-12 col-md-12 d-block mx-auto">
        <div>
         <ul class="temp-cat row">
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Andora - Admin Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML / Bootstrap" data-item-cost="24.00" data-item-notice="All prices are in USD" data-preview-url="../../assets/images/media/pictures/thumb-1.jpg" src="../../assets/images/media/pictures/small/thumb1.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Bioplex - Beauty Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-2.jpg" src="../../assets/images/media/pictures/small/thumb2.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Splink - Admin Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="24.00" data-preview-url="../../assets/images/media/pictures/thumb-3.jpg" src="../../assets/images/media/pictures/small/thumb3.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Adon - Admin Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="24.00" data-preview-url="../../assets/images/media/pictures/thumb-4.jpg" src="../../assets/images/media/pictures/small/thumb4.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Hzone - Hosting Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="PSD" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-5.jpg" src="../../assets/images/media/pictures/small/thumb5.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="GrowBiz - Busniess Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="10.00" data-preview-url="../../assets/images/media/pictures/thumb-6.jpg" src="../../assets/images/media/pictures/small/thumb6.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="BeautySol - Beauty &amp; Spa Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-7.jpg" src="../../assets/images/media/pictures/small/thumb7.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Rejoin - Job Board Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="24.00" data-preview-url="../../assets/images/media/pictures/thumb-8.jpg" src="../../assets/images/media/pictures/small/thumb8.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="HYCURE - Medical &amp; Health Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-9.jpg" src="../../assets/images/media/pictures/small/thumb9.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-10.jpg" src="../../assets/images/media/pictures/small/thumb10.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-11.jpg" src="../../assets/images/media/pictures/small/thumb11.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-12.jpg" src="../../assets/images/media/pictures/small/thumb12.jpg"/>
            </a>
           </div>
          </li>
         </ul>
        </div>
        <div class="text-center mt-3 btn-list">
         <a class="btn ripple btn-primary text-white btn-lg">
          All  New Templates
         </a>
         <a class="btn ripple btn-secondary text-white btn-lg">
          Popular Templates
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="tab-pane" id="tab-6">
      <div class="row">
       <div class="col-xl-12 col-lg-12 col-md-12 d-block mx-auto">
        <div>
         <ul class="temp-cat row">
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Andora - Admin Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML / Bootstrap" data-item-cost="24.00" data-item-notice="All prices are in USD" data-preview-url="../../assets/images/media/pictures/thumb-1.jpg" src="../../assets/images/media/pictures/small/thumb1.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Bioplex - Beauty Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-2.jpg" src="../../assets/images/media/pictures/small/thumb2.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Splink - Admin Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="24.00" data-preview-url="../../assets/images/media/pictures/thumb-3.jpg" src="../../assets/images/media/pictures/small/thumb3.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Adon - Admin Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="24.00" data-preview-url="../../assets/images/media/pictures/thumb-4.jpg" src="../../assets/images/media/pictures/small/thumb4.jpg"/>
            </a>
           </div>
          </li>
          <li class="temp-thumb col-lg-1 col-md-2 col-sm-3 col-6">
           <div>
            <a class="img-view mb-2 shadow" href="#">
             <img alt="Hzone - Hosting Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="PSD" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-5.jpg" src="../../assets/images/media/pictures/small/thumb5.jpg"/>
            </a>
           </div>
          </li>
         </ul>
        </div>
        <div class="text-center mt-3 btn-list">
         <a class="btn ripple btn-primary text-white btn-lg">
          All  New Templates
         </a>
         <a class="btn ripple btn-secondary text-white btn-lg">
          Popular Templates
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
