<section class="sptb section-bg-background-color">
 <div class="container">
  <div class="row">
   <div class="col-md-6 text-center d-block mx-auto text-white">
    <img alt="img" class="newsimg" src="../../assets/images/png/document.png"/>
    <h2 class="">
     Subscribe Our Newsletter
    </h2>
    <p class="fs-16 text-white-50">
     Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
    </p>
    <div class="input-group sub-input mt-1">
     <input class="form-control input-lg border-0" placeholder="Enter your Email" type="text"/>
     <div class="input-group-append">
      <button class="btn ripple btn-secondary btn-lg br-tl-3 br-bl-3" type="button">
       Subscribe
      </button>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
