<section>
 <div class="cover-image sptb bg-background-color" data-image-src="../../assets/images/banners/banner4.jpg">
  <div class="content-text mb-0">
   <div class="container">
    <div class="text-center text-white">
     <div class="row">
      <div class="col-lg-7 col-xl-6 col-md-12">
       <div class="sub-newsletter">
        <h2 class="mb-2">
         <i class="fa fa-paper-plane-o ml-2">
         </i>
         Subscribe To Our Newsletter
        </h2>
        <p class="mb-0">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit tempor
        </p>
       </div>
      </div>
      <div class="col-lg-5 col-xl-6 col-md-12">
       <div class="input-group sub-input mt-1">
        <input class="form-control input-lg" placeholder="Enter your Email" type="text"/>
        <div class="input-group-append">
         <button class="btn ripple btn-secondary btn-lg br-tl-3 br-bl-3" type="button">
          Subscribe
         </button>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
