<section class="sptb bg-white">
 <div class="container">
  <div class="section-title center-block text-center">
   <h2>
    Newest Templates
   </h2>
   <p>
    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
   </p>
  </div>
  <div class="row">
   <div class="col-xl-4 col-md-6">
    <div class="card overflow-hidden">
     <div class="item-card2-tans">
      <div class="item-card7-imgs">
       <a href="page-details.html">
       </a>
       <img alt="img" class="cover-image" src="../../assets/images/media/pictures/1.jpg"/>
       <div class="tag-text">
        <span class="bg-dark-transparent tag-option m-0">
         34
         <i class="fe fe-download ml-1">
         </i>
        </span>
        <span class="bg-dark-transparent tag-option">
         456
         <i class="fe fe-heart ml-1">
         </i>
        </span>
       </div>
      </div>
      <div class="item-card2-icons">
       <a class="bg-primary" data-placement="top" data-toggle="tooltip" href="#" title="Live Preview">
        <i class="fe fe-airplay">
        </i>
       </a>
       <a class="bg-secondary" data-placement="top" data-toggle="tooltip" href="#" title="Add to Cart">
        <i class="fe fe-shopping-cart">
        </i>
       </a>
       <a class="bg-info" data-placement="top" data-toggle="tooltip" href="#" title="View Details">
        <i class="fe fe-eye">
        </i>
       </a>
      </div>
     </div>
     <div class="card-body">
      <div class="item-card7-desc">
       <div class="">
        <a class="text-dark" href="page-details.html">
         <h4 class="font-weight-semibold">
          HTML Template
         </h4>
        </a>
        <div class="mt-1 fs-13 mb-0">
         by
         <a class="" href="#">
          Emily
         </a>
         by
         <a class="" href="#">
          HTML Templates
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="card-footer pt-3">
      <div class="d-md-flex">
       <div class="rating-stars d-flex ml-5">
        <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="4"/>
        <div class="rating-stars-container ml-2">
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
        </div>
        (4)
       </div>
       <div class="mr-auto">
        <div class="item-card9-cost">
         <h4 class="mb-0 text-dark fs-20">
          $15
         </h4>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-xl-4 col-md-6">
    <div class="card overflow-hidden">
     <div class="item-card2-tans">
      <div class="item-card7-imgs">
       <a href="page-details.html">
       </a>
       <img alt="img" class="cover-image" src="../../assets/images/media/pictures/2.jpg"/>
       <div class="tag-text">
        <span class="bg-dark-transparent tag-option m-0">
         24
         <i class="fe fe-download ml-1">
         </i>
        </span>
        <span class="bg-dark-transparent tag-option">
         123
         <i class="fe fe-heart ml-1">
         </i>
        </span>
       </div>
      </div>
      <div class="item-card2-icons">
       <a class="bg-primary" data-placement="top" data-toggle="tooltip" href="#" title="Live Preview">
        <i class="fe fe-airplay">
        </i>
       </a>
       <a class="bg-secondary" data-placement="top" data-toggle="tooltip" href="#" title="Add to Cart">
        <i class="fe fe-shopping-cart">
        </i>
       </a>
       <a class="bg-info" data-placement="top" data-toggle="tooltip" href="#" title="View Details">
        <i class="fe fe-eye">
        </i>
       </a>
      </div>
     </div>
     <div class="card-body">
      <div class="item-card7-desc">
       <div class="">
        <a class="text-dark" href="page-details.html">
         <h4 class="font-weight-semibold">
          PSD Template
         </h4>
        </a>
        <div class="mt-1 fs-13 mb-0">
         by
         <a class="" href="#">
          Piers
         </a>
         by
         <a class="" href="#">
          PSD Templates
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="card-footer pt-3">
      <div class="d-md-flex">
       <div class="rating-stars d-flex ml-5">
        <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="3"/>
        <div class="rating-stars-container ml-2">
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
        </div>
        (3)
       </div>
       <div class="mr-auto">
        <div class="item-card9-cost">
         <h4 class="mb-0 text-dark fs-20">
          $25
         </h4>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-xl-4 col-md-6">
    <div class="card overflow-hidden">
     <div class="item-card2-tans">
      <div class="item-card7-imgs">
       <a href="page-details.html">
       </a>
       <img alt="img" class="cover-image" src="../../assets/images/media/pictures/3.jpg"/>
       <div class="tag-text">
        <span class="bg-dark-transparent tag-option m-0">
         43
         <i class="fe fe-download ml-1">
         </i>
        </span>
        <span class="bg-dark-transparent tag-option">
         234
         <i class="fe fe-heart ml-1">
         </i>
        </span>
       </div>
      </div>
      <div class="item-card2-icons">
       <a class="bg-primary" data-placement="top" data-toggle="tooltip" href="#" title="Live Preview">
        <i class="fe fe-airplay">
        </i>
       </a>
       <a class="bg-secondary" data-placement="top" data-toggle="tooltip" href="#" title="Add to Cart">
        <i class="fe fe-shopping-cart">
        </i>
       </a>
       <a class="bg-info" data-placement="top" data-toggle="tooltip" href="#" title="View Details">
        <i class="fe fe-eye">
        </i>
       </a>
      </div>
     </div>
     <div class="card-body">
      <div class="item-card7-desc">
       <div class="">
        <a class="text-dark" href="page-details.html">
         <h4 class="font-weight-semibold">
          Angular Template
         </h4>
        </a>
        <div class="mt-1 fs-13 mb-0">
         by
         <a class="" href="#">
          Jessica
         </a>
         by
         <a class="" href="#">
          Angular Templates
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="card-footer pt-3">
      <div class="d-md-flex">
       <div class="rating-stars d-flex ml-5">
        <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="4"/>
        <div class="rating-stars-container ml-2">
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
        </div>
        (4)
       </div>
       <div class="mr-auto">
        <div class="item-card9-cost">
         <h4 class="mb-0 text-dark fs-20">
          $23
         </h4>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-xl-4 col-md-6">
    <div class="card overflow-hidden mb-lg-0">
     <div class="item-card2-tans">
      <div class="item-card7-imgs">
       <a href="page-details.html">
       </a>
       <img alt="img" class="cover-image" src="../../assets/images/media/pictures/4.jpg"/>
       <div class="tag-text">
        <span class="bg-dark-transparent tag-option m-0">
         21
         <i class="fe fe-download ml-1">
         </i>
        </span>
        <span class="bg-dark-transparent tag-option">
         345
         <i class="fe fe-heart ml-1">
         </i>
        </span>
       </div>
      </div>
      <div class="item-card2-icons">
       <a class="bg-primary" data-placement="top" data-toggle="tooltip" href="#" title="Live Preview">
        <i class="fe fe-airplay">
        </i>
       </a>
       <a class="bg-secondary" data-placement="top" data-toggle="tooltip" href="#" title="Add to Cart">
        <i class="fe fe-shopping-cart">
        </i>
       </a>
       <a class="bg-info" data-placement="top" data-toggle="tooltip" href="#" title="View Details">
        <i class="fe fe-eye">
        </i>
       </a>
      </div>
     </div>
     <div class="card-body">
      <div class="item-card7-desc">
       <div class="">
        <a class="text-dark" href="page-details.html">
         <h4 class="font-weight-semibold">
          PHP Template
         </h4>
        </a>
        <div class="mt-1 fs-13 mb-0">
         by
         <a class="" href="#">
          John
         </a>
         by
         <a class="" href="#">
          PHP Templates
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="card-footer pt-3">
      <div class="d-md-flex">
       <div class="rating-stars d-flex ml-5">
        <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="3"/>
        <div class="rating-stars-container ml-2">
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
        </div>
        (3)
       </div>
       <div class="mr-auto">
        <div class="item-card9-cost">
         <h4 class="mb-0 text-dark fs-20">
          $32
         </h4>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-xl-4 col-md-6">
    <div class="card overflow-hidden mb-md-0">
     <div class="item-card2-tans">
      <div class="item-card7-imgs">
       <a href="page-details.html">
       </a>
       <img alt="img" class="cover-image" src="../../assets/images/media/pictures/5.jpg"/>
       <div class="tag-text">
        <span class="bg-dark-transparent tag-option m-0">
         45
         <i class="fe fe-download ml-1">
         </i>
        </span>
        <span class="bg-dark-transparent tag-option">
         108
         <i class="fe fe-heart ml-1">
         </i>
        </span>
       </div>
      </div>
      <div class="item-card2-icons">
       <a class="bg-primary" data-placement="top" data-toggle="tooltip" href="#" title="Live Preview">
        <i class="fe fe-airplay">
        </i>
       </a>
       <a class="bg-secondary" data-placement="top" data-toggle="tooltip" href="#" title="Add to Cart">
        <i class="fe fe-shopping-cart">
        </i>
       </a>
       <a class="bg-info" data-placement="top" data-toggle="tooltip" href="#" title="View Details">
        <i class="fe fe-eye">
        </i>
       </a>
      </div>
     </div>
     <div class="card-body">
      <div class="item-card7-desc">
       <div class="">
        <a class="text-dark" href="page-details.html">
         <h4 class="font-weight-semibold">
          Wordpress Template
         </h4>
        </a>
        <div class="mt-1 fs-13 mb-0">
         by
         <a class="" href="#">
          John
         </a>
         by
         <a class="" href="#">
          Wordpress Templates
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="card-footer pt-3">
      <div class="d-md-flex">
       <div class="rating-stars d-flex ml-5">
        <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="4"/>
        <div class="rating-stars-container ml-2">
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
        </div>
        (4)
       </div>
       <div class="mr-auto">
        <div class="item-card9-cost">
         <h4 class="mb-0 text-dark fs-20">
          $21
         </h4>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="col-xl-4 col-md-6">
    <div class="card overflow-hidden mb-0">
     <div class="item-card2-tans">
      <div class="item-card7-imgs">
       <a href="page-details.html">
       </a>
       <img alt="img" class="cover-image" src="../../assets/images/media/pictures/7.jpg"/>
       <div class="tag-text">
        <span class="bg-dark-transparent tag-option m-0">
         33
         <i class="fe fe-download ml-1">
         </i>
        </span>
        <span class="bg-dark-transparent tag-option">
         219
         <i class="fe fe-heart ml-1">
         </i>
        </span>
       </div>
      </div>
      <div class="item-card2-icons">
       <a class="bg-primary" data-placement="top" data-toggle="tooltip" href="#" title="Live Preview">
        <i class="fe fe-airplay">
        </i>
       </a>
       <a class="bg-secondary" data-placement="top" data-toggle="tooltip" href="#" title="Add to Cart">
        <i class="fe fe-shopping-cart">
        </i>
       </a>
       <a class="bg-info" data-placement="top" data-toggle="tooltip" href="#" title="View Details">
        <i class="fe fe-eye">
        </i>
       </a>
      </div>
     </div>
     <div class="card-body">
      <div class="item-card7-desc">
       <div class="">
        <a class="text-dark" href="page-details.html">
         <h4 class="font-weight-semibold">
          HTML Template
         </h4>
        </a>
        <div class="mt-1 fs-13 mb-0">
         by
         <a class="" href="#">
          Eric
         </a>
         by
         <a class="" href="#">
          HTML Templates
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="card-footer pt-3">
      <div class="d-md-flex">
       <div class="rating-stars d-flex ml-5">
        <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="4"/>
        <div class="rating-stars-container ml-2">
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
         <div class="rating-star sm">
          <i class="fa fa-star">
          </i>
         </div>
        </div>
        (4)
       </div>
       <div class="mr-auto">
        <div class="item-card9-cost">
         <h4 class="mb-0 text-dark fs-20">
          $24
         </h4>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
