<section>
 <div class="modal" id="myModal">
  <div class="modal-dialog" role="document">
   <div class="modal-content">
    <div class="modal-header">
     <h5 class="modal-title" id="exampleModalLabel">
      Login
     </h5>
     <button aria-label="Close" class="close" data-dismiss="modal" type="button">
      <span aria-hidden="true">
       ×
      </span>
     </button>
    </div>
    <div class="modal-body p-0">
     <div class="single-page customerpage">
      <div class="wrapper wrapper2 box-shadow-0 border-0">
       <div class="card-body pb-4">
        <div class="btn-list d-flex">
         <a class="btn btn-google btn-block" href="https://www.google.com/gmail/">
          <i class="fa fa-google fa-1x ml-2">
          </i>
          Google
         </a>
         <a class="btn btn-twitter" href="https://twitter.com/">
          <i class="fa fa-twitter fa-1x">
          </i>
         </a>
         <a class="btn btn-facebook" href="https://www.facebook.com/">
          <i class="fa fa-facebook fa-1x">
          </i>
         </a>
        </div>
       </div>
       <hr class="divider"/>
       <form class="card-body" id="login" tabindex="500">
        <div class="mail">
         <input name="mail" type="email"/>
         <label>
          Mail or Username
         </label>
        </div>
        <div class="passwd">
         <input name="password" type="password"/>
         <label>
          Password
         </label>
        </div>
        <div class="submit">
         <a class="btn ripple btn-primary btn-block" href="index.html">
          Login
         </a>
        </div>
        <p class="mb-2">
         <a href="forgot.html">
          Forgot Password
         </a>
        </p>
        <p class="text-dark mb-0">
         Don't have account?
         <a class="text-primary ml-1" href="register.html">
          Sign UP
         </a>
        </p>
       </form>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
