<section class="sptb">
 <div class="container">
  <div class="row">
   <div class="col-xl-10 col-lg-12 col-md-12 d-block mx-auto">
    <div class="row">
     <div class="col-md-6">
      <div class="card mb-lg-0">
       <div class="card-body">
        <h6 class="fs-20 mb-4">
         Do You Want to Sell A Template?
        </h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"/>
        <p>
         it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text
        </p>
        <a class="btn ripple btn-primary text-white" href="#">
         Become An Author
        </a>
       </div>
      </div>
     </div>
     <div class="col-md-6">
      <div class="card mb-0">
       <div class="card-body">
        <h6 class="fs-20 mb-4">
         Are You Want to Buy A Template?
        </h6>
        <hr class="deep-purple accent-2 border-secondary mb-4 mt-0 d-inline-block mx-auto"/>
        <p>
         it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text
        </p>
        <a class="btn ripple btn-secondary text-white" href="#">
         Create An Account
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
