<section>
 <div class="section-bg-background-color cover-image">
  <div class="container">
   <div class="row no-gutters row-deck text-white">
    <div class="col-md-4">
     <div class="p-5 bg-dark-transparent01">
      <div class="card-body text-center">
       <div class="widgets-cards-icons">
        <div class="wrp counter-icon1 mr-5">
         <i class="fe fe-airplay">
         </i>
        </div>
       </div>
       <h6 class="card-title mb-4">
        Quality Products
       </h6>
       <p class="text-white-80">
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
       </p>
      </div>
     </div>
    </div>
    <div class="col-md-4">
     <div class="p-5 mt-5 mt-md-0">
      <div class="card-body text-center">
       <div class="widgets-cards-icons">
        <div class="wrp counter-icon1 mr-5">
         <i class="fe fe-thumbs-up">
         </i>
        </div>
       </div>
       <h6 class="card-title mb-4">
        Best Seurity
       </h6>
       <p class="text-white-80">
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
       </p>
      </div>
     </div>
    </div>
    <div class="col-md-4">
     <div class="p-5 mt-5 mt-md-0 bg-dark-transparent01">
      <div class="card-body text-center">
       <div class="widgets-cards-icons">
        <div class="wrp counter-icon1 mr-5">
         <i class="fe fe-headphones">
         </i>
        </div>
       </div>
       <h6 class="card-title mb-4">
        24/7 Customer Support
       </h6>
       <p class="text-white-80">
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
       </p>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
