<section>
 <div class="cover-image sptb bg-background-color" data-image-src="../../assets/images/banners/banner4.jpg">
  <div class="content-text mb-0">
   <div class="content-text mb-0">
    <div class="container">
     <div class="text-center text-white">
      <h1 class="mb-2">
       Subscribe
      </h1>
      <p class="fs-16">
       It is a long established fact that a reader will be distracted by the readable.
      </p>
      <div class="row">
       <div class="col-lg-8 mx-auto d-block">
        <div class="mt-5">
         <div class="input-group sub-input mt-1">
          <input class="form-control input-lg" placeholder="Enter your Email" type="text"/>
          <div class="input-group-append">
           <button class="btn ripple btn-secondary btn-lg br-tl-3 br-bl-3" type="button">
            Subscribe
           </button>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
