<section class="sptb">
 <div class="container">
  <div class="section-title center-block text-center">
   <h2>
    Feature Templates
   </h2>
   <p>
    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
   </p>
  </div>
  <div class="row">
   <div class="col-xl-10 col-lg-12 col-md-12 d-block mx-auto">
    <div>
     <ul class="temp-cat row">
      <li class="temp-thumb col">
       <div>
        <a class="img-view mb-2 shadow" href="#">
         <img alt="Andora - Admin Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML / Bootstrap" data-item-cost="24.00" data-item-notice="All prices are in USD" data-preview-url="../../assets/images/media/pictures/thumb-1.jpg" src="../../assets/images/media/pictures/small/thumb18.jpg"/>
        </a>
       </div>
      </li>
      <li class="temp-thumb col">
       <div>
        <a class="img-view mb-2 shadow" href="#">
         <img alt="Bioplex - Beauty Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-2.jpg" src="../../assets/images/media/pictures/small/thumb19.jpg"/>
        </a>
       </div>
      </li>
      <li class="temp-thumb col">
       <div>
        <a class="img-view mb-2 shadow" href="#">
         <img alt="Splink - Admin Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="24.00" data-preview-url="../../assets/images/media/pictures/thumb-3.jpg" src="../../assets/images/media/pictures/small/thumb20.jpg"/>
        </a>
       </div>
      </li>
      <li class="temp-thumb col">
       <div>
        <a class="img-view mb-2 shadow" href="#">
         <img alt="Adon - Admin Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="24.00" data-preview-url="../../assets/images/media/pictures/thumb-4.jpg" src="../../assets/images/media/pictures/small/thumb21.jpg"/>
        </a>
       </div>
      </li>
      <li class="temp-thumb col">
       <div>
        <a class="img-view mb-2 shadow" href="#">
         <img alt="Hzone - Hosting Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="PSD" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-5.jpg" src="../../assets/images/media/pictures/small/thumb22.jpg"/>
        </a>
       </div>
      </li>
      <li class="temp-thumb col">
       <div>
        <a class="img-view mb-2 shadow" href="#">
         <img alt="GrowBiz - Busniess Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="10.00" data-preview-url="../../assets/images/media/pictures/thumb-6.jpg" src="../../assets/images/media/pictures/small/thumb23.jpg"/>
        </a>
       </div>
      </li>
      <li class="temp-thumb col">
       <div>
        <a class="img-view mb-2 shadow" href="#">
         <img alt="BeautySol - Beauty &amp; Spa Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-7.jpg" src="../../assets/images/media/pictures/small/thumb24.jpg"/>
        </a>
       </div>
      </li>
      <li class="temp-thumb col">
       <div>
        <a class="img-view mb-2 shadow" href="#">
         <img alt="Rejoin - Job Board Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="24.00" data-preview-url="../../assets/images/media/pictures/thumb-8.jpg" src="../../assets/images/media/pictures/small/thumb25.jpg"/>
        </a>
       </div>
      </li>
      <li class="temp-thumb col">
       <div>
        <a class="img-view mb-2 shadow" href="#">
         <img alt="HYCURE - Medical &amp; Health Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-9.jpg" src="../../assets/images/media/pictures/small/thumb26.jpg"/>
        </a>
       </div>
      </li>
      <li class="temp-thumb col">
       <div>
        <a class="img-view mb-2 shadow" href="#">
         <img alt="Cima - Creative Portfolio Template" class="d-block img-fluid mx-auto text-center w-100" data-item-author="Spruko" data-item-category="HTML" data-item-cost="14.00" data-preview-url="../../assets/images/media/pictures/thumb-10.jpg" src="../../assets/images/media/pictures/small/thumb17.jpg"/>
        </a>
       </div>
      </li>
     </ul>
    </div>
    <div class="text-center mt-4">
     <a class="btn ripple btn-primary text-white">
      View All Feature Templates
     </a>
    </div>
   </div>
  </div>
 </div>
</section>
