<section class="sptb bg-white">
 <div class="container">
  <div class="row text-center">
   <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card counter-status mb-lg-0">
     <div class="card-body">
      <div class="counter-icon bg-primary box-primary-shadow border-0">
       <i class="fe fe-codepen text-white">
       </i>
      </div>
      <h5>
       Total Items
      </h5>
      <h2 class="counter mb-0">
       2569
      </h2>
     </div>
    </div>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card counter-status mb-lg-0">
     <div class="card-body">
      <div class="counter-icon bg-secondary border-0 box-secondary-shadow">
       <i class="fe fe-shopping-cart text-white">
       </i>
      </div>
      <h5>
       Total Sales
      </h5>
      <h2 class="counter mb-0">
       1765
      </h2>
     </div>
    </div>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card counter-status mb-sm-0">
     <div class="card-body">
      <div class="counter-icon bg-success border-0 box-success-shadow">
       <i class="fe fe-users text-white">
       </i>
      </div>
      <h5>
       Total Members
      </h5>
      <h2 class="counter mb-0">
       846
      </h2>
     </div>
    </div>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card counter-status mb-0">
     <div class="card-body">
      <div class="counter-icon bg-info border-0 box-info-shadow">
       <i class="icon icon-emotsmile text-white">
       </i>
      </div>
      <h5>
       Happy Customers
      </h5>
      <h2 class="counter mb-0">
       7253
      </h2>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
