<section>
 <div class="sptb-2 sptb-tab">
  <div class="header-text mb-0">
   <div class="container">
    <div class="text-center text-white mb-6">
     <h1 class="mb-1">
      Create your Business With MarketPlace
     </h1>
     <p class="mb-0">
      It is a long established fact that a reader will be distracted by the readable.
     </p>
    </div>
    <div class="row mb-5">
     <div class="col-xl-8 col-lg-12 col-md-12 d-block mx-auto">
      <div class="search-form">
       <input class="form-control input-lg keywords-input" id="text4" placeholder="Search Product....." type="text"/>
       <button class="btn ripple">
        <i class="fe fe-search">
        </i>
       </button>
      </div>
     </div>
    </div>
    <h2 class="text-center mb-0 font-weight-light">
     <span class="font-weight-semibold">
      45,789
     </span>
     HTML Templates From
     <span class="font-weight-semibold">
      $1
     </span>
    </h2>
   </div>
  </div>
 </div>
</section>
