{% load static %}
<section>
    <div class="banner-1 cover-image bg-background2" data-image-src="{% static section.content.background_img %}">
        <div class="bannerimg">
            <div class="header-text mb-0" style="padding-bottom: 3rem; top: 20px;">
                <div class="container">
                    <div class="text-center text-white">
                        <h1>{{ section.content.title }}</h1>
                        <ol class="breadcrumb text-center">
                            {% for crumb in section.content.breadcrumb %}
                                {% if crumb.active %}
                                    <li aria-current="page" class="breadcrumb-item active text-white">{{ crumb.name }}</li>
                                {% else %}
                                    <li class="breadcrumb-item"><a href="{{ crumb.link }}">{{ crumb.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>