{% load static %}
<div class="banner-1 cover-image bg-background2" data-image-src="{% static section.content.background_img %}">

    <section>
        <div class="sptb-2 sptb-tab">
            <div class="header-text mb-0">
                <div class="container">
                    <div class="text-center text-white mb-6">
                        <h1 class="mb-1">
                            {{ section.content.title }}
                        </h1>
                        <p class="mb-0">
                            {{ section.content.tagline }}
                        </p>
                    </div>
                    {% if section.content.searchbar_placeholder %}
                      <div class="row mb-5">
                          <div class="col-xl-8 col-lg-12 col-md-12 d-block mx-auto">
                              <div class="search-form">
                                  <input class="form-control input-lg keywords-input" id="text4" placeholder="{{ section.content.searchbar_placeholder }}" type="text" />
                                  <button class="btn ripple ">
                                      <i class="fe fe-search"></i>
                                  </button>
                              </div>
                          </div>
                      </div>
                    {% endif %}
                    <h2 class="text-center mb-0 font-weight-light">
                        {{ section.content.bottom_line }}
                    </h2>
                </div>
            </div>
        </div>
    </section>

</div>