{% load static %}
<section>
    <div class="section-bg-background-color cover-image">
        <div class="container">
            <div class="row no-gutters row-deck text-white">
            	{% for tile in section.content.tiles %}
	                <div class="col-md-4">
	                    <div class="p-5 mt-5 mt-md-0">
	                        <div class="card-body text-center">
	                            <div class="widgets-cards-icons">
	                                <div class="wrp counter-icon1 mr-5">
	                                    <i class="{{ tile.icon }}"></i>
	                                </div>
	                            </div>
	                            <h6 class="card-title mb-4">{{ tile.title }}</h6>
	                            <p class="text-white-80">{{ tile.text }}</p>
	                        </div>
	                    </div>
	                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>