<div class="bg-white border-bottom">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">{{ section.content.title }}</h4>
            <ol class="breadcrumb">
                {% for crumb in section.content.breadcrumb_items %}
                    <li class="breadcrumb-item {% if crumb.active %}active{% endif %}">{% if crumb.link %}<a href="{{ crumb.link }}">{% endif %}{{ crumb.name }}{% if crumb.link %}</a>{% endif %}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>