{% comment %}
        {
            "file": "dt1_template/sections/subscribe1.html",
            "content": {
                "title": "Subscribe To Our Online newsletter",
                "tagline": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor",
                "btn": {
                    "placeholder": "Enter your Email",
                    "class": "btn ripple btn-primary btn-lg br-tr-3 br-br-3",
                    "text": "Subscribe"
                }
            }
        }
{% endcomment %}

<section class="sptb border-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xl-6 col-md-12">
                <div class="sub-newsletter">
                    <h3 class="mb-2 fs-20"><i class="fa fa-paper-plane-o mr-2"></i> {{ section.content.title }}</h3>
                    <p class="mb-0">{{ section.content.tagline }}</p>
                </div>
            </div>
            <div class="col-lg-5 col-xl-6 col-md-12">
                <div class="input-group sub-input mt-1">
                    <input class="form-control input-lg " placeholder="{{ section.content.btn.placeholder }}" type="text" />
                    <div class="input-group-append ">
                        <button class="{{ section.content.btn.class }}" type="button">
                            {{ section.content.btn.text }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>