{% load static %}
<section class="sptb">
    <div class="container ">
        <div class="row marketplace-section">
            {% for widget in section.content.widgets %}
                <div class="col-md-6">
                    <div class="card mb-lg-0 service-widgets1">
                        <div class="text-center card-body">
                            <div class="product-imgs">
                                <img alt="img" class="" src="{% static widget.bg_img %}" />
                            </div>
                            <h3 class="mt-3 mb-2">{{ widget.title }}</h3>
                            <p>{{ widget.description }}</p>
                            {% if widget.button %}
                                <a class="{{ widget.button.class }}" href="{{ widget.button.link }}">{{ widget.button.text }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
