{% load static %}

<html>
    <head>
        <!-- Meta data -->
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="{{ meta.description }}" name="description">
        <meta content="{{ meta.author }}" name="author">
        <meta name="keywords" content="{{ meta.keywords }}"/>
        <!-- Favicon -->
        <link rel="icon" href="{% static meta.header_icon %}" type="image/x-icon"/>
        <link rel="shortcut icon" type="image/x-icon" href="{% static meta.header_icon %}" />

        <!-- Title -->
        <title>{{ meta.header_title }}</title>

        <!-- Bootstrap css -->
        <link href="{% static 'dt1_template/assets/plugins/bootstrap-4.3.1/css/bootstrap.min.css' %}" rel="stylesheet" />

        <!-- Style css -->
        <link href="{% static 'dt1_template/assets/css/style.css' %}" rel="stylesheet" />
        <link href="{% static 'dt1_template/assets/css/skin-modes.css' %}" rel="stylesheet" />

        <!-- Font-awesome  css -->
        <link href="{% static 'dt1_template/assets/css/icons.css' %}" rel="stylesheet"/>

        <!--Horizontal Menu css-->
        <link href="{% static 'dt1_template/assets/plugins/horizontal-menu/horizontal-menu.css' %}" rel="stylesheet" />

        <!--Select2 css -->
        <link href="{% static 'dt1_template/assets/plugins/select2/select2.min.css' %}" rel="stylesheet" />

        <!-- Cookie css -->
        <link href="{% static 'dt1_template/assets/plugins/cookie/cookie.css' %}" rel="stylesheet">

        <!-- Owl Theme css-->
        <link href="{% static 'dt1_template/assets/plugins/owl-carousel/owl.carousel.css' %}" rel="stylesheet" />

        <!-- Custom scroll bar css-->
        <link href="{% static 'dt1_template/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css' %}" rel="stylesheet" />

        <!--Image-tooltip css-->
        <link href="{% static 'dt1_template/assets/plugins/image-tooltip/image-tooltip.css' %}" rel="stylesheet" />

        <!-- Auto Complete css -->
        <link href="{% static 'dt1_template/assets/plugins/autocomplete/jquery.autocomplete.css' %}" rel="stylesheet">

        <!-- Color Skin css -->
        <link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static 'dt1_template/assets/color-skins/color6.css' %}" />

    </head>

    <body class="headerstyle1">

        <!--Loader-->
        <div id="global-loader">
            <img src="{% static 'dt1_template/assets/images/loader.svg' %}" class="loader-img" alt="img">
        </div><!--/Loader-->
        <div class="banner-1 cover-image bg-background2" data-image-src="{% static 'dt1_template/assets/images/banners/banner1.jpg' %}">
            <!--Section-->
            <div>

                <div class="header-main">
                    <!--Topbar-->
                    <div class="top-bar">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-8 col-lg-8 col-sm-4 col-7">
                                    <div class="top-bar-left d-flex">
                                        <div class="clearfix">
                                            <ul class="socials">
                                                {% for fa_icon in top_bar.socials %}
                                                <li style="padding: 9px 12px 15px 15px">
                                                    <a class="social-icon text-dark" href="{{ fa_icon.link }}"><i class="fa {{ fa_icon.icon }}"></i></a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="clearfix">
                                            <ul class="contact">
                                                {% if top_bar.contact.communication %}
                                                    {% for contact_info in top_bar.contact.communication.contents %}
                                                    <li class="d-lg-none">
                                                        <a href="{{ contact_info.link }}" class="callnumber text-dark"><span><i class="{{ contact_info.icon }} ml-1"></i>{{ contact_info.text }}</span></a>
                                                    </li>
                                                    {% endfor %}
                                                {% endif %}

                                                {% if top_bar.contact.countries %}
                                                    <li class="select-country">
                                                        <select class="form-control select2-flag-search" data-placeholder="Select Country">
                                                        {% if top_bar.contact.countries %}
                                                            {% for country in top_bar.contact.countries.contents %}
                                                            <option value="{{ country.code }}">{{ country.name }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                        </select>
                                                    </li>
                                                {% endif %}

                                                {% if top_bar.contact.languages %}
                                                    <li class="dropdown">
                                                        <a href="#" class="text-dark" data-toggle="dropdown"><span> Language <i class="fa fa-caret-down text-muted"></i></span> </a>
                                                        <div class="dropdown-menu dropdown-menu-left dropdown-menu-arrow">
                                                            {% for language in top_bar.contact.languages.contents %}
                                                            <a href="{{ language.href }}" class="dropdown-item" >
                                                                {{ language.name }}
                                                            </a>
                                                            {% endfor %}
                                                        </div>
                                                    </li>
                                                {% endif %}

                                                {% if top_bar.contact.currencies %}
                                                    <li class="dropdown">
                                                        <a href="#" class="text-dark" data-toggle="dropdown"><span>Currency <i class="fa fa-caret-down text-muted"></i></span></a>
                                                        <div class="dropdown-menu dropdown-menu-left dropdown-menu-arrow">
                                                            {% for currency in top_bar.contact.currencies.contents %}
                                                                <a href="{{ currency.href }}" class="dropdown-item" >
                                                                    {{ currency.name }}
                                                                </a>
                                                            {% endfor %}
                                                        </div>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-sm-8 col-5">
                                    <div class="top-bar-right">
                                        <ul class="custom">
                                            {% for item in top_bar.custom %}
                                                {% if item.type == "button" %}
                                                    <li>
                                                        <a href="{{ item.link }}" class="text-dark"><i class="fa {{ item.icon }} ml-1"></i> <span>{{ item.text }}</span></a>
                                                    </li>
                                                {% elif item.type == "dropdown" %}
                                                    <li class="dropdown">
                                                        <a href="#" class="text-dark" data-toggle="dropdown"><i class="fa {{ item.icon }} ml-1"></i><span> {{ item.text }}<i class="fa fa-caret-down ml-1"></i></span></a>
                                                        <div class="dropdown-menu dropdown-menu-left dropdown-menu-arrow">
                                                            {% for dropdown_item in item.contents %}
                                                                <a href="{{ dropdown_item.link }}" class="dropdown-item" >
                                                                    <i class="dropdown_item icon {{ dropdown_item.icon }}"></i> My {{ dropdown_item.text }}
                                                                </a>
                                                            {% endfor %}
                                                        </div>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/Topbar-->

                    <!--Header-->
                    <header class="header-search header-logosec p-2 header-icons">
                        <div class="container">
                            <div class="d-flex">
                                <div class="header-search-logo d-none d-lg-block">
                                    <a class="header-logo" href="index.html">
                                        <img src="{% static header.header_logo1 %}" class="header-brand-img" alt=" logo">
                                        <img src="{% static header.header_logo2 %}" class="header-brand-img header-white" alt="logo">
                                    </a>
                                </div>
                                <div class="d-flex ml-auto header-left-icons header-search-icon">
                                    {%  for item in header.items %}
                                        {% if item.type == "cart" %}
                                            <div class="dropdown d-md-flex {{ item.style }}">
                                                <a class="nav-link icon" data-toggle="dropdown">
                                                    <i class="{{ item.icon }}"></i>
                                                    <span class="{{ item.span_class }}">{{ item.span_text }}</span>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-left dropdown-menu-arrow cart-dropdown">
                                                    <div class="drop-cart header-dropdown-list">
                                                        {% for cart_item in item.dropdown_contents %}
                                                            <div class="{{ cart_item.border }}">
                                                                <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                                                    <div class="">
                                                                        <img src="{% static cart_item.img_url %}" class="bl-4" alt="img">
                                                                    </div>
                                                                    <div class="d-flex">
                                                                        <div class="pl-3">
                                                                            <span class="fs-16 h4 d-block">{{ cart_item.text1 }}</span>
                                                                            <div class="fs-13 text-muted">{{ cart_item.text2 }}</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ml-auto text-center">
                                                                        <a href="#" class="text-muted"><i class="fe fe-trash-2 fs-13"></i></a>
                                                                        <div class="h5 text-dark mt-1 mb-0">{{ cart_item.price }}</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="dropdown-footer">
                                                        <div class="btn-list">
                                                            {% for footer_item in item.footer_contents %}
                                                                <a href="{{ footer_item.btn_link }}" class="btn {{ footer_item.btn_style }}  ripple mb-lg-0">{{ footer_item.btn_text }}</a>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% elif item.type == "notifications" %}
                                            <div class="dropdown d-md-flex {{ item.style }}">
                                                <a class="nav-link icon" data-toggle="dropdown">
                                                    <i class="{{ item.icon }}"></i>
                                                    <span class="{{ item.span_class }}">{{ item.span_text }}</span>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-left dropdown-menu-arrow">
                                                    <div class="notifications-menu header-dropdown-list">
                                                        {% for notification in item.dropdown_contents %}
                                                            <a href="{{ notification.link }}" class="dropdown-item d-flex {{ notification.border }}">
                                                                <div class="text-primary fs-18 mr-3 ">
                                                                    <i class="{{ notification.icon }}"></i>
                                                                </div>
                                                                <div>
                                                                    <h6 class="mb-1">{{ notification.text1 }}</h6>
                                                                    <div class="small text-muted">{{ notification.text2 }}</div>
                                                                </div>
                                                            </a>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="dropdown-footer p-3">
                                                        {% for footer_item in item.footer_contents %}
                                                            <a href="item.link" class="fs-14 text-dark text-center">{{ footer_item.text }}</a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div><!-- NOTIFICATIONS -->
                                        {% elif item.type == "message" %}
                                            <div class="dropdown d-md-flex {{ item.style }}">
                                                <a class="nav-link icon text-center" data-toggle="dropdown">
                                                    <i class="{{ item.icon }}"></i>
                                                    <span class="{{ item.span_class }}">{{ item.span_text }}</span>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-left dropdown-menu-arrow">
                                                    <div class="message-menu header-dropdown-list">
                                                        {% for message in item.dropdown_contents %}
                                                            <a class="dropdown-item {{ message.border }}" href="{{ message.link }}">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="">
                                                                        <span class="avatar avatar-md brround align-self-center cover-image" data-image-src="{% static message.avatar_img %}"></span>
                                                                    </div>
                                                                    <div class="d-flex">
                                                                        <div class="pr-3">
                                                                            <span class="font-weight-semibold">{{ message.name }}</span> {{ message.text1 }}
                                                                            <div class="small text-muted">
                                                                                {{ message.text2 }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="dropdown-divider"></div>
                                                    <a href="#" class="dropdown-item text-center">See all Messages</a>
                                                </div>
                                            </div>
                                        {% elif item.type == "profile" %}
                                            <div class="dropdown d-md-flex {{ item.style }}">
                                                <a class="nav-link icon text-center" data-toggle="dropdown">
                                                    <i class="{{ item.icon }}"></i>
                                                    <span class="{{ item.span_class }}">{{ item.span_text }}</span>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-left dropdown-menu-arrow">
                                                    {% if item.dropdown_heading %}
                                                        <div class="drop-heading">
                                                            <div class="text-center">
                                                                <h5 class="text-dark mb-1">{{ item.dropdown_heading_data.text1 }}</h5>
                                                                <small class="text-muted fs-16 text-primary font-weight-semibold">{{ item.dropdown_heading_data.text2 }}</small>
                                                            </div>
                                                        </div>
                                                        <div class="dropdown-divider m-0"></div>
                                                    {% endif %}
                                                    {% for tab in item.dropdown_contents %}
                                                        <a class="dropdown-item" href="mydash.html">
                                                            <i class="{{ tab.icon }}"></i>{{ tab.text }}
                                                        </a>
                                                    {% endfor %}
                                                    <div class="dropdown-divider mt-0"></div>
                                                    {% for footer_item in item.footer_contents %}
                                                        <a class="dropdown-item" href="{{ footer_item.link }}">
                                                            <i class="{{ footer_item.icon }}"></i>  {{ footer_item.text }}
                                                        </a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </header><!--/Header-->

                    <!-- Mobile Header -->
                    <div class="horizontal-header clearfix">
                        <div class="container">
                            <a id="horizontal-navtoggle" class="animated-arrow"><span></span></a>
                            <span class="smllogo"><img src="{% static header.header_logo1 %}" width="120" alt="img"/></span>
                            <span class="smllogo-white"><img src="{% static header.header_logo2 %}" width="120" alt="img"/></span>
                            <a href="tel:245-6325-3256" class="callusbtn"><i class="fa fa-phone" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!-- /Mobile Header -->
                </div>
            </div>

            <div class="header-style horizontal-main bg-dark-transparent clearfix">
                <div class="horizontal-mainwrapper container clearfix">
                    <nav class="horizontalMenu clearfix d-md-flex">
                        <ul class="horizontalMenu-list">
                            {% for nav_item in horizontal_navbar.nav_items %}
                                {% if nav_item.type == "dropdown" %}
                                    {% if nav_item.dropdown_type == "simple" %}
                                        <li aria-haspopup="true"><a href="{{ nav_item.dropdown_name_link }}">{{ nav_item.dropdown_name }} <span class="fe fe-chevron-down"></span></a>
                                            <ul class="sub-menu">
                                                {% for item in nav_item.items %}
                                                    <li><a href="{{ item.link }}">{{ item.text }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% elif nav_item.dropdown_type == "grid" %}
                                        <li aria-haspopup="true"><a href="{{ nav_item.dropdown_name_link }}" class="">{{ nav_item.dropdown_name }} <span class="fe fe-chevron-down"></span></a>
                                            <div class="horizontal-megamenu clearfix">
                                                <div class="container">
                                                    <div class="megamenu-content">
                                                        <div class="row">
                                                            {% for column in nav_item.grid_columns %}
                                                                <ul class="col link-list">
                                                                    <li class="title">{{ column.title }}</li>
                                                                    {% for item in column.grid_items %}
                                                                        <li><a href="{{ item.link }}">{{ item.text }}</a></li>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% elif nav_item.dropdown_type == "submenu" %}
                                        <li aria-haspopup="true"><a href="{{ nav_item.dropdown_name_link }}">{{ nav_item.dropdown_name }}<span class="fe fe-chevron-down m-0"></span></a>
                                            <ul class="sub-menu">
                                                {% for submenu in nav_item.submenus %}
                                                    <li aria-haspopup="true"><a href="{{ submenu.link }}">{{ submenu.name }}<i class="fa fa-angle-right float-right mt-1 d-none d-lg-block"></i></a>
                                                         <ul class="sub-menu">
                                                             {% for item in submenu.items %}
                                                                <li aria-haspopup="true"><a href="{{ item.link }}">{{ item.name }}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% elif nav_item.type == "link" %}
                                    <li aria-haspopup="true"><a href="{{ nav_item.link }}">{{ nav_item.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>


                        <ul class="mb-0">
                            {% for nav_button in horizontal_navbar.nav_buttons %}
                                <li aria-haspopup="true" class="d-none d-lg-block ">
                                    <span><a class="{{ nav_button.btn_class }}" href="{{ nav_button.link }}"><i class="{{ nav_button.icon }} mr-2 text-white fs-16"></i>{{ nav_button.text }}</a></span>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <section>
            {% block content %}
            {% endblock %}
        </section>
    </body>

    <footer class="bg-dark text-white">
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    {% if footer.about %}
                    <div class="col-lg-3 col-md-12">
                        <h6>{{ footer.about.title }}</h6>
                        <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <p>{{ footer.about.text }}</p>
                        <ul class="list-unstyled list-inline mt-3" style="margin-left: -5px">
                            {% for icon in footer.about.icons %}
                                <li class="list-inline-item">
                                  <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa {{ icon.fa_icon }}"></i>
                                  </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% if footer.our_services %}
                    <div class="col-lg-2 col-md-12">
                        <h6>{{ footer.our_services.title }}</h6>
                         <hr class="deep-purple text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <ul class="list-unstyled mb-0">
                            {% for service in footer.our_services.service_links %}
                                <li><a href="{{ service.link }}">{{ service.link_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% if footer.contact %}
                    <div class="col-lg-3 col-md-12">
                        <h6>{{ footer.contact.title }}</h6>
                        <hr class="deep-purple  text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <ul class="footer-conatct list-unstyled mb-0 contact-footer">
                            {% for detail in footer.contact.details %}
                                <li>
                                    <a href="{{ detail.link }}"><i class="fa {{ detail.fa_icon }} mr-3 text-white"></i>{{ detail.detail_text }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% if footer.subscribe %}
                    <div class="col-lg-4 col-md-12">
                        <h6>{{ footer.subscribe.title }}</h6>
                        <hr class="deep-purple  text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <div class="clearfix"></div>
                        <div class="input-group w-100">
                            <input type="text" class="form-control br-tr-3  br-br-3 " placeholder="Email">
                            <div class="input-group-append ">
                                <button type="button" class="btn ripple  btn-primary br-tl-3  br-bl-3"> {{ footer.subscribe.sub_btn_text }} </button>
                            </div>
                        </div>
                        <h6 class="mb-0 mt-5">{{ footer.subscribe.pay_area_title }}</h6>
                        <hr class="deep-purple  text-primary accent-2 mb-2 mt-3 d-inline-block mx-auto">
                        <div class="clearfix"></div>
                        <ul class="footer-payments" style="margin-left: -10px">
                            {% for pay_method in footer.subscribe.pay_methods %}
                                <li><a href="{{ pay_method.link }}"><i class="fa {{ pay_method.fa_icon }}" aria-hidden="true"></i></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="bg-dark text-white-50 p-0">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-lg-12 col-sm-12 mt-3 mb-3 text-center">
                        {{ footer.bottom_info }}
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End-->

    <!-- Back to top -->
    <a href="#top" id="back-to-top" ><i class="fa fa-long-arrow-up"></i></a>

    <!-- JQuery js-->
    <script src="{% static 'dt1_template/assets/js/jquery-3.2.1.min.js' %}"></script>

    <!-- Bootstrap js -->
    <script src="{% static 'dt1_template/assets/plugins/bootstrap-4.3.1/js/popper.min.js' %}"></script>
    <script src="{% static 'dt1_template/assets/plugins/bootstrap-4.3.1/js/bootstrap.min.js' %}"></script>

    <!--JQuery Sparkline js-->
    <script src="{% static 'dt1_template/assets/js/jquery.sparkline.min.js' %}"></script>

    <!-- Circle Progress js-->
    <script src="{% static 'dt1_template/assets/js/circle-progress.min.js' %}"></script>

    <!-- Star Rating js-->
    <script src="{% static 'dt1_template/assets/plugins/rating/jquery.rating-stars.js' %}"></script>

    <!--Counters js-->
    <script src="{% static 'dt1_template/assets/plugins/counters/counterup.min.js' %}"></script>
    <script src="{% static 'dt1_template/assets/plugins/counters/waypoints.min.js' %}"></script>
    <script src="{% static 'dt1_template/assets/plugins/counters/numeric-counter.js' %}"></script>

    <!--Owl Carousel js -->
    <script src="{% static 'dt1_template/assets/plugins/owl-carousel/owl.carousel.js' %}"></script>

    <!--Horizontal Menu js-->
    <script src="{% static 'dt1_template/assets/plugins/horizontal-menu/horizontal-menu.js' %}"></script>

    <!--JQuery TouchSwipe js-->
    <script src="{% static 'dt1_template/assets/js/jquery.touchSwipe.min.js' %}"></script>

    <!--Select2 js -->
    <script src="{% static 'dt1_template/assets/plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'dt1_template/assets/js/select2.js' %}"></script>

    <!-- Cookie js -->
    <script src="{% static 'dt1_template/assets/plugins/cookie/jquery.ihavecookies.js' %}"></script>
    <script src="{% static 'dt1_template/assets/plugins/cookie/cookie.js' %}"></script>

    <!-- Custom scroll bar js-->
    <script src="{% static 'dt1_template/assets/plugins/scroll-bar/jquery.mCustomScrollbar.js' %}"></script>

    <!-- Image-tooltip js -->
    <script src="{% static 'dt1_template/assets/plugins/image-tooltip/image-tooltip.js' %}"></script>

    <!--Auto Complete js -->
    <script src="{% static 'dt1_template/assets/plugins/autocomplete/jquery.autocomplete.js' %}"></script>
    <script src="{% static 'dt1_template/assets/plugins/autocomplete/autocomplete.js' %}"></script>

    <!-- Sticky js-->
    <script src="{% static 'dt1_template/assets/js/sticky.js' %}"></script>

    <!-- Swipe js-->
    <script src="{% static 'dt1_template/assets/js/swipe.js' %}"></script>

    <!-- Scripts js-->
    <script src="{% static 'dt1_template/assets/js/owl-carousel.js' %}"></script>

    <!-- Custom js-->
    <script src="{% static 'dt1_template/assets/js/custom.js' %}"></script>

    <!-- Nice-Select Js-->
    <script src="{% static 'dt1_template/assets/plugins/jquery-nice-select/js/jquery.nice-select.js' %}"></script>
    <script src="{% static 'dt1_template/assets/plugins/jquery-nice-select/js/nice-select.js' %}"></script>

</html>
