{% load static %}
<section class="sptb">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>{{ section.content.title }}</h2>
            <p>{{ section.content.tagline }}</p>
        </div>
        <div class="owl-carousel owl-carousel-icons2" id="myCarousel1">
            {% for item in section.content.carousel %}
                <div class="item">
                    <div class="card mb-0">
                        {% if item.ribbon_icon %}
                            <div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i class="{{ item.ribbon_icon }}"></i></span></div>
                        {% endif %}
                        <div class="item-card2-tans">
                            <div class="item-card7-imgs">
                                <a href="{{ item.link }}"></a>
                                <img alt="img" class="cover-image" src="{% static item.cover_image %}" />
                                <div class="tag-text">
                                    <span class="bg-dark-transparent tag-option">{{ item.tag_text }}</span>
                                </div>
                            </div>
                            <div class="item-card2-icons">
                                {% for hover_icon in item.hover_icons %}
                                    <a class="{{ hover_icon.class }}" data-placement="top" data-toggle="tooltip" href="{{ hover_icon.link }}" title="{{ hover_icon.title }}"><i class="{{ hover_icon.icon }}" style="top:20%;position:relative;"></i></a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="item-card7-desc">
                                <div class="item-card7-text">
                                    <a class="text-dark" href="page-details.html"><h4 class="font-weight-semibold">{{ item.title }}</h4></a>
                                    <p class="fs-13 mb-1 text-muted">{{ item.description }}</p>
                                </div>
                                <div class="d-md-flex">
                                    <div class="rating-stars d-flex mr-5">
                                        <input class="rating-value star" name="rating-stars-value" readonly="readonly" type="number" value="{{ item.star_amount }}" />
                                        <div class="rating-stars-container mr-2">
                                            <div class="rating-star sm">
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="rating-star sm">
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="rating-star sm">
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="rating-star sm">
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="rating-star sm">
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>({{ item.star_amount }})
                                    </div>
                                    <div class="ml-auto">
                                        <div class="item-card9-cost">
                                            <h4 class=" mb-0">{{ item.price }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer pt-3">
                            <div class="footerimg d-flex mt-0 mb-0">
                                <div class="d-flex footerimg-l mb-0">
                                    <img alt="image" class="avatar avatar-sm brround mr-2" src="{% static item.author.avatar %}" />
                                    <a class="time-title text-muted p-0 leading-normal" href="{{ item.author.link }}">{{ item.author.author_name }}<i class="si si-check text-success fs-12 ml-1" data-placement="top" data-toggle="tooltip" title="verified"></i></a>
                                </div>
                                {% if author_item_amount %}
                                    <div class="footerimg-r ml-auto">
                                        <span class="text-muted"><i class="{{ item.author.author_item_icon }}"></i>{{ item.author.author_item_amount }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>