<section class="sptb">
    <div class="container">
        <div class="container">
            <div class="row">
                {% for option in section.content.columns %}
                    <div class="col-md-4 col-lg-4">
                        <div class="card text-center mb-md-0">
                            <div class="card-body price-1 p-6">
                                <div class="card-status bg-primary"></div>
                                <h3 class="card-title ">{{ option.title }}</h3>
                                <div class="display-4 mb-4 font-weight-semibold ">{{ option.price }}</div>
                                <ul class="list-unstyled mb-0">
                                    {% for feature in option.features %}
                                        <li><i class="{{ feature.icon_class }}"></i>{{ feature.name }}</li>
                                    {% endfor %}
                                </ul>
                                {% if option.select_btn %}
                                    <a class="{{ option.select_btn.class }}" href="{{ option.select_btn.link }}">{{ option.select_btn.text }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>