<section>
 <div class="cover-image bg-background sptb" data-image-src="../../assets/images/banners/b1.jpg">
  <div class="header-text mb-0">
   <div class="container">
    <div class="row">
     <div class="col-xl-9 col-lg-4 col-md-12">
      <h1 class="mb-2 tx-50 font-weight-normal text-white">
       Become a
       <span class="font-weight-semibold">
        Author
       </span>
      </h1>
      <p class="fs-18 mb-0 text-white-80">
       If you are going to use a passage of Lorem Ipsum you need to in the middle of text.
      </p>
     </div>
     <div class="col-xl-3 col-lg-4 col-md-12 float-lg-right">
      <a class="btn ripple btn-secondary btn-lg mr-2 mt-5" href="#">
       Get Started Now
      </a>
     </div>
    </div>
   </div>
  </div>
  <!-- /header-text -->
 </div>
</section>
